package/system/node-red-dureco/files/root/.node-red/flows_OpenWrt.json
[{"id":"aba94147.26deb8","type":"tab","label":"User Interface","disabled":false,"info":""},{"id":"3ba4e052.bf6c8","type":"tab","label":"check FTP online v2","disabled":false,"info":""},{"id":"d023b9a3.13476","type":"tab","label":"Compress files","disabled":false,"info":""},{"id":"4afbab7b.8130ec","type":"tab","label":"Data File Handler","disabled":false,"info":""},{"id":"a6ead123.dcc9c8","type":"tab","label":"Upload file v3","disabled":false,"info":""},{"id":"dcb4172a.6a7818","type":"tab","label":"Retention handler","disabled":false,"info":""},{"id":"67c0732b.bd0dbc","type":"tab","label":"Create dummy files","disabled":true,"info":""},{"id":"4d1a0c68.2dc7b4","type":"tab","label":"UI - unit config","disabled":false,"info":""},{"id":"355b26cf.25ba9a","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"7d80ba9e.1ff474","type":"subflow","name":"Iterate for Upload","info":"","in":[{"x":50,"y":99,"wires":[{"id":"c04ef24b.561338"}]}],"out":[{"x":465,"y":62,"wires":[{"id":"c04ef24b.561338","port":0}]},{"x":473,"y":148,"wires":[{"id":"c04ef24b.561338","port":1}]}]},{"id":"dcf4c6b9.f69e","type":"ui_group","z":"","name":"Destination Settings","tab":"94f0a0b8.07d068","order":2,"disp":true,"width":"8"},{"id":"e285f775.e6eb48","type":"ui_group","z":"","name":"Help","tab":"37f23c35.f93c44","order":1,"disp":true,"width":"8","collapse":false},{"id":"94f0a0b8.07d068","type":"ui_tab","z":"","name":"Module Setting","icon":"home","order":2},{"id":"dc198e43.a1ead","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0099ff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0099ff","edited":true},"page-titlebar-backgroundColor":{"value":"#0099ff","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4db8ff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0099ff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Hastings Deering SyncIt","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87859661.2a8798","type":"ui_group","z":"","name":"Application Setting","tab":"94f0a0b8.07d068","order":1,"disp":true,"width":"8","collapse":false},{"id":"4095d882.b4fc68","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":3},{"id":"6d8b4f0f.4eee4","type":"ui_group","z":"","name":"Log File","tab":"4095d882.b4fc68","order":2,"disp":true,"width":"6"},{"id":"37f23c35.f93c44","type":"ui_tab","z":"","name":"Help","icon":"help_outline","order":4},{"id":"61613a8d.37b7e4","type":"ui_group","z":"","name":"Configuration Overview","tab":"4095d882.b4fc68","order":1,"disp":true,"width":"6"},{"id":"a1f8cf85.ec382","type":"ui_tab","z":"","name":"Unit Config","icon":"gavel","order":1},{"id":"9c95e75d.9fe3e8","type":"ui_group","z":"","name":"Ethernet Setting","tab":"a1f8cf85.ec382","disp":true,"width":"6","collapse":false},{"id":"bec1b492.b5fdf8","type":"ui_group","z":"","name":"WiFi Setting","tab":"a1f8cf85.ec382","disp":true,"width":"6","collapse":false},{"id":"7bcc9a06.727744","type":"ui_group","z":"","name":"Mobile WAN","tab":"a1f8cf85.ec382","disp":true,"width":"6","collapse":false},{"id":"24591854.174718","type":"ui_group","z":"","name":"Default","tab":"7161fcb2.e56164","disp":true,"width":"12","collapse":false},{"id":"7161fcb2.e56164","type":"ui_tab","z":"","name":"testing","icon":"dashboard"},{"id":"c044cfee.b6c02","type":"ui_group","z":"","name":"Steckdosen","tab":"aa530264.56eac","disp":true,"width":"6"},{"id":"aa530264.56eac","type":"ui_tab","z":"","name":"Schlafzimmer","icon":"fa-bed"},{"id":"73111798.f97958","type":"ui_group","z":"","name":"Secure","tab":"c0bc85f1.07d9a8","disp":true,"width":"6"},{"id":"5c7affd8.df4db","type":"ui_group","z":"","name":"pin","tab":"c0bc85f1.07d9a8","disp":false,"width":"1"},{"id":"c0bc85f1.07d9a8","type":"ui_tab","z":"","name":"Home","icon":"home","order":1},{"id":"238a5ad4.1cef36","type":"ui_group","z":"","name":"Inputs","tab":"4a413473.2ba32c","order":1,"disp":false,"width":"6"},{"id":"4a413473.2ba32c","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"3cc1d47f.f4b95c","type":"ui_group","z":"","name":"BUTTON","tab":"3179e113.480b8e","order":2,"disp":true,"width":"6","collapse":false},{"id":"3179e113.480b8e","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3d3b1a8d.863bee","type":"mqtt-broker","z":"","name":"","broker":"172.17.0.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4e44e1d9.b1fd8","type":"websocket-client","z":"","path":"ws://localhost:8181","tls":"","wholemsg":"false"},{"id":"c04ef24b.561338","type":"function","z":"7d80ba9e.1ff474","name":"iterate","func":"  var currentMsg = null, outMessage = null;\n  var iState = msg.iState;\n  if (!iState || iState === {}) {\n     // we received an initial message\n     // if the message is not an array, make it one\n     if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n           msg.payload = [msg.payload];\n     }\n     iState = {};\n     iState.index = 0;\n     iState.inArray = msg.payload;\n     iState.outArray = [];\n     msg.iState = iState\n   } else {\n    // save results from the last iteration\n     iState.outArray.push(msg.payload)\n }\n  //If there are still objects left to iterate goto the next one in the original array\n  if (iState.index < iState.inArray.length) {\n    currentMsg = msg;\n    msg.payload = iState.inArray[iState.index];\n  } else {\n    currentMsg = null;\n    outMessage = msg;\n    msg.payload = iState.outArray;\n    delete msg.iState;\n}\niState.index ++;\nreturn [currentMsg, outMessage];","outputs":"2","noerr":0,"x":268.5,"y":116,"wires":[[],[]]},{"id":"be52c619.19cdd","type":"debug","z":"a6ead123.dcc9c8","name":"msg-3","active":true,"console":"false","complete":"true","x":970,"y":640,"wires":[]},{"id":"c2c218e8.37c888","type":"exec","z":"a6ead123.dcc9c8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"upload file","x":430,"y":624.5,"wires":[["a188e497.8db328"],[],["783d104f.16b3f8"]]},{"id":"8cae6d9.1320f9","type":"function","z":"a6ead123.dcc9c8","name":"give file list","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\n// console.log(\"p: \", p);\n\n\nvar re = / /gi;\n\nvar fpt_name = msg.online_ftp[msg.iterate_ftp][\"Id\"].replace(re, '_');\nvar compress = msg.online_ftp[msg.iterate_ftp][\"Compress\"]\nvar p = directory.Data + fpt_name + \"/to_upload\"\nmsg.p = p\n\n\n// var p = \"/data/ftp_root/\"\n// var msg = {};\ntry {\n    fs.readdir(p, function (err, files) {\n    if (err) {\n        console.log(\"ERR: \", err);\n        // throw err;\n    }\n    \n\n\nlet files_array = [];\nlet files_array_compress = [];\n\nfiles.map(function (file) {\n    return path.join(p, file);\n}).filter(function (file) {\n    return fs.statSync(file).isFile();\n}).forEach(function (file) {\n    files_array.push(p + \"/\" + path.basename(file));\n    files_array_compress.push(path.basename(file));\n    // console.log(\"(%s)\", file, path.extname(file));\n});\n// msg.payload = files_array;\nif(compress) {\n    msg.payload = files_array_compress;\n    node.send([null, msg]);\n}\nelse {\n    msg.payload = files_array;\n    node.send([msg, null]);\n}\n\n});\n}\ncatch (err) {\n    console.log(err)\n}\n\nreturn;","outputs":"2","noerr":0,"x":135,"y":559,"wires":[["92476398.635ef"],["670b2ec2.fc2d18"]],"outputLabels":["no compress","compress"]},{"id":"92476398.635ef","type":"subflow:7d80ba9e.1ff474","z":"a6ead123.dcc9c8","name":"","x":555,"y":965,"wires":[["3876d0ef.277ea8"],["c45324db.1f78d"]]},{"id":"af2f6497.a21408","type":"debug","z":"a6ead123.dcc9c8","name":"MSG FINISH","active":true,"console":"false","complete":"true","x":847,"y":1055,"wires":[]},{"id":"3876d0ef.277ea8","type":"function","z":"a6ead123.dcc9c8","name":"create upload command","func":"var directory = global.get(\"directory\");\nvar path_local = directory.Data;\n\nvar ftp = global.get(\"ftp\")\n// var ftp1 = ftp[\"FTP 1\"]\nvar ftp1 = msg.online_ftp[msg.iterate_ftp];\n\nvar path_remote = msg.online_ftp[msg.iterate_ftp].Directory\nvar file_with_path = msg.payload\nconsole.log(msg.payload)\nconsole.log(msg.p)\n\n\nvar file = file_with_path.slice(msg.p.length+1, msg.payload.length)\n\nmsg.payload = path_remote + file + \" \" + msg.payload;\n\n// ftpput -u root -p tomas 192.168.10.122\nmsg.command = \"ftpput -u \" + ftp1.Username + \" -p \" + ftp1.Password + \" \" + ftp1.IP + \" \" + msg.payload\nmsg.payload = msg.command\n\nreturn msg;","outputs":1,"noerr":0,"x":228,"y":840,"wires":[["c2c218e8.37c888"]]},{"id":"4bf79119.a135c","type":"debug","z":"a6ead123.dcc9c8","name":"from check upload","active":true,"console":"false","complete":"true","x":880,"y":947,"wires":[]},{"id":"a188e497.8db328","type":"function","z":"a6ead123.dcc9c8","name":"add topic - stdout","func":"msg.topic = \"stdout\"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":580,"wires":[["63db0923.a08be"]]},{"id":"63db0923.a08be","type":"function","z":"a6ead123.dcc9c8","name":"check upload","func":"var stdout = context.get('stdout') || 0;\nvar stderr = context.get('stderr') || 0;\nvar iState = context.get('iState') || 0;\nvar retCode = context.get('retCode') || 99;\n// console.log(\"msg.topic: \", msg.topic);\n// console.log(\"msg.payload: \",  msg.payload);\n// console.log(\"context.get('stderr'): \", context.get('stderr'))\n// console.log(\"context.get('iState'): \", context.get('iState'))\n// console.log(\"msg.iState: \", msg.iState)\n// console.log(\"data1: %s data2: %s\", data1,data2);\n\n\nswitch(msg.topic) {\n    case \"stdout\":\n        // console.log(\"case1\")\n        // console.log(msg.topic);\n        // console.log(msg.iState);\n        context.set('iState', msg.iState);\n        context.set('tempMsg', msg)\n        \n        // msg = null;\n        break;\n    case \"stderr\":\n        // console.log(\"case2\")\n        // console.log(msg.topic);\n        // console.log(msg.payload);\n        context.set('stderr', msg.payload);\n        \n        // msg = null;\n        break;\n    case \"retCode\":\n        // console.log(\"case3\")\n        // console.log(msg.topic);\n        // console.log(msg.payload);\n        context.set('retCode', msg.payload.code);\n        \n        // msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\n\n// have good result - file uploaded\nif(context.get('retCode') === 0 && context.get('iState') !== undefined){\n// if(context.get('iState') !== undefined && (context.get('stderr') === \"\" || context.get('stderr') === undefined)) {\n    // console.log(\"in if....\");\n    // console.log(\"data1: %s data2: %s\", context.get('iState'),context.get('stderr'));\n    // console.log(context.get('iState'))\n    var istate = context.get('iState');\n    msg = context.get('tempMsg');\n    \n    context.set('iState', undefined);\n    context.set('retCode', undefined);\n    \n    msg.payload = '';\n    msg.iState = istate;\n    \n    return [msg, null];\n    \n    // return {\n    //     payload: \"\",\n    //     iState: istate\n    // };\n    \n}\n// else if(context.get('stderr') !== \"\") {\n//     // failed upload need to do something \n    \n// }\n// have BAD result - something went wrong with upload\nelse {\n    // when there is failed upload assume, FTP went offline\n    // move to another FTP in a online FTP list\n    // console.log(\"... ----- in else ----- ...\")\n    // console.log(context.get('retCode'))\n    if(context.get('retCode') !== 0 && context.get('retCode') !== undefined) {\n        // console.log(\"... ----- in else RETURN ----- ...\")\n        context.set('retCode', undefined);\n        context.set('iState', undefined);\n        msg = context.get('tempMsg');\n        // need to set iState to empty object for another iteration cycle\n        msg.iState = context.get('iState');\n        // msg.iState = {};\n        return [null,msg];\n        \n    }\n\n    \n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":"2","noerr":0,"x":558,"y":835,"wires":[["d585055e.339b98"],["c45324db.1f78d"]],"outputLabels":["ok","failed upload"]},{"id":"d585055e.339b98","type":"function","z":"a6ead123.dcc9c8","name":"move file","func":"// var path_root = \"/data/ftp_root/\";\n// var path_archive = \"/data/ftp_root/archive/\";\n\n// full local path including file name\nvar file_with_path = msg.iState.inArray[msg.iState.index - 1]\nvar file = msg.iState.inArray[msg.iState.index - 1];\nvar prefix = \"to_upload\"\n\nvar file_name = file_with_path.slice(msg.p + 1 , file)\nvar path_retention = msg.p.slice(0, msg.p.length - prefix.length)\npath_retention += \"retention/\"\n\n\nnewPayload = file + \" \" + path_retention + file_name\nmsg.payload = newPayload;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":980,"wires":[["dae77536.349948"]]},{"id":"dae77536.349948","type":"exec","z":"a6ead123.dcc9c8","command":"mv","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"move_file_exec","x":413,"y":1081.5,"wires":[["92476398.635ef"],[],[]]},{"id":"35bb1b46.4597a4","type":"debug","z":"a6ead123.dcc9c8","name":"msg-2","active":true,"console":"false","complete":"true","x":990,"y":800,"wires":[]},{"id":"f83f33ed.fbc278","type":"debug","z":"a6ead123.dcc9c8","name":"msg-1","active":true,"console":"false","complete":"true","x":970,"y":540,"wires":[]},{"id":"5480eeb4.737de","type":"comment","z":"a6ead123.dcc9c8","name":"Create upload command including path","info":"Create upload command including path, as this can be iterated","x":166,"y":803,"wires":[]},{"id":"7f260d59.3a67cc","type":"link in","z":"a6ead123.dcc9c8","name":"FTP Servers online In","links":["4a4558d1.f0cc28","37e4147d.14dfdc"],"x":215,"y":220,"wires":[["c45324db.1f78d"]]},{"id":"d95c11c1.d6022","type":"debug","z":"a6ead123.dcc9c8","name":"DEBUG","active":true,"console":"false","complete":"true","x":860,"y":1000,"wires":[]},{"id":"bdd8f14e.cafe28","type":"function","z":"a6ead123.dcc9c8","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.online_ftp[msg.iterate_ftp-1])\nmsg.payload = msg.online_ftp[msg.iterate_ftp-1]\n\nmsg.iterate_ftp--;\n// flow.set('iterate_ftp', msg.iterate_ftp);\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":640,"y":280,"wires":[["6502e48b.9c6da4"]],"outputLabels":["to iterate"]},{"id":"c45324db.1f78d","type":"switch","z":"a6ead123.dcc9c8","name":"Iterate >=1","property":"iterate_ftp","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":402,"y":273.5,"wires":[["bdd8f14e.cafe28"],["b8abd1d.ca419b"]]},{"id":"b8abd1d.ca419b","type":"function","z":"a6ead123.dcc9c8","name":"loop end","func":"msg.loop_end = true\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":400,"wires":[["3bd9ea50.06de96"]]},{"id":"838bd668.54353","type":"function","z":"a6ead123.dcc9c8","name":"mv files to to_upload","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\n// console.log(\"p: \", p);\n\n\nvar re = / /gi;\n\nvar fpt_name = msg.online_ftp[msg.iterate_ftp][\"Id\"].replace(re, '_');\nvar p = directory.Data + fpt_name\nmsg.p = p\n\n// if no files pass on original msg\nif(msg.payload.length === 0) {\n    return msg\n}\nvar command = 'mv '\nfor( var i=0; i < msg.payload.length; i++) {\n    command += msg.payload[i] + \" \"\n}\n\ncommand += p + \"/to_upload/\"\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":173,"y":489,"wires":[["e4d77a30.866ba"]]},{"id":"e4d77a30.866ba","type":"exec","z":"a6ead123.dcc9c8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mv files","x":347,"y":487.5,"wires":[["8cae6d9.1320f9"],[],[]]},{"id":"6502e48b.9c6da4","type":"function","z":"a6ead123.dcc9c8","name":"give file list","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\n// console.log(\"p: \", p);\n\n\nvar re = / /gi;\n\nvar fpt_name = msg.online_ftp[msg.iterate_ftp][\"Id\"].replace(re, '_');\nvar p = directory.Data + fpt_name\nmsg.p = p\n\n\n// var p = \"/data/ftp_root/\"\n// var msg = {};\ntry {\n    fs.readdir(p, function (err, files) {\n    if (err) {\n        console.log(\"ERR: \", err);\n        // throw err;\n    }\n    \n\n\nlet files_array = [];\n\nfiles.map(function (file) {\n    return path.join(p, file);\n}).filter(function (file) {\n    return fs.statSync(file).isFile();\n}).forEach(function (file) {\n    files_array.push(p + \"/\" + path.basename(file));\n    // console.log(\"(%s)\", file, path.extname(file));\n});\nmsg.payload = files_array;\nnode.send(msg);\n});\n}\ncatch (err) {\n    console.log(err)\n}\n\n\nreturn;\n// }","outputs":1,"noerr":0,"x":196,"y":423,"wires":[["838bd668.54353"]]},{"id":"670b2ec2.fc2d18","type":"link out","z":"a6ead123.dcc9c8","name":"file list for FTP folder","links":["1601509e.38afb7"],"x":59,"y":616,"wires":[]},{"id":"376174c5.53535c","type":"link in","z":"a6ead123.dcc9c8","name":"from compress files","links":["81739451.1172c"],"x":175,"y":700,"wires":[["7f50ae0c.061408"]]},{"id":"7f50ae0c.061408","type":"function","z":"a6ead123.dcc9c8","name":"give file list","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\n// console.log(\"p: \", p);\n\n\nvar re = / /gi;\n\nvar fpt_name = msg.online_ftp[msg.iterate_ftp][\"Id\"].replace(re, '_');\nvar p = directory.Data + fpt_name + \"/to_upload\"\nmsg.p = p\n\n\n// var p = \"/data/ftp_root/\"\n// var msg = {};\ntry {\n    fs.readdir(p, function (err, files) {\n    if (err) {\n        console.log(\"ERR: \", err);\n        // throw err;\n    }\n    \n\n\nlet files_array = [];\n\nfiles.map(function (file) {\n    return path.join(p, file);\n}).filter(function (file) {\n    return fs.statSync(file).isFile();\n}).forEach(function (file) {\n    files_array.push(p + \"/\" + path.basename(file));\n    // console.log(\"(%s)\", file, path.extname(file));\n});\nmsg.payload = files_array;\nnode.send(msg);\n});\n}\ncatch (err) {\n    console.log(err)\n}\n\nreturn;\n// }","outputs":1,"noerr":0,"x":229,"y":651,"wires":[["92476398.635ef"]]},{"id":"783d104f.16b3f8","type":"function","z":"a6ead123.dcc9c8","name":"add topic - retCode","func":"msg.topic = \"retCode\"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":620,"wires":[["63db0923.a08be"]]},{"id":"a3943134.a7393","type":"debug","z":"a6ead123.dcc9c8","name":"debug in RETURN","active":true,"console":"false","complete":"true","x":839,"y":747,"wires":[]},{"id":"cd088b8b.bfe758","type":"function","z":"4afbab7b.8130ec","name":"get configured FTP list","func":"var ftp_list = global.get('ftp');\nvar directory = global.get('directory');\nmsg.ftp_list = ftp_list;\n\n// msg.ftp_number = Object.keys(ftp_list).length\n\nvar re = / /gi;\n\nvar commands = [];\nvar ftp_dirs = [];\n\nObject.keys(ftp_list).forEach(function (key) {\n    // var fpt_name = key.replace(re, '_');\n    var fpt_name = key;\n    commands.push(\"mkdir -p \"+ directory.Data + fpt_name + \"/to_upload \" + directory.Data + fpt_name + \"/retention\")\n    ftp_dirs.push(directory.Data + fpt_name)\n})\n\nmsg.commands = commands;\nmsg.ftp_number = commands.length;\nmsg.ftp_dirs = ftp_dirs;\nreturn msg;","outputs":1,"noerr":0,"x":284,"y":202,"wires":[["c47a57f1.4d4de8"]]},{"id":"e19a035b.96b8f","type":"inject","z":"4afbab7b.8130ec","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":157,"y":40,"wires":[["5fd22365.cdf8b4"]]},{"id":"cabc92c0.f8eb1","type":"exec","z":"4afbab7b.8130ec","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run payload","x":622,"y":66.5,"wires":[["c47a57f1.4d4de8"],[],[]]},{"id":"9a6fd067.f6d8e8","type":"function","z":"4afbab7b.8130ec","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.ftp_number-1])\nmsg.payload = msg.commands[msg.ftp_number-1]\n\nmsg.ftp_number--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":731,"y":161,"wires":[["cabc92c0.f8eb1"]],"outputLabels":["to iterate"]},{"id":"c47a57f1.4d4de8","type":"switch","z":"4afbab7b.8130ec","name":"iterate >=1","property":"ftp_number","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":530,"y":164,"wires":[["9a6fd067.f6d8e8"],["3f3b1481.e9c66c"]]},{"id":"3f3b1481.e9c66c","type":"function","z":"4afbab7b.8130ec","name":"give file list","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\nconsole.log(\"p: \", p);\n\n\n// var p = \"/data/ftp_root/\"\n// var msg = {};\ntry {\n    fs.readdir(p, function (err, files) {\n    if (err) {\n        console.log(\"ERR: \", err);\n        // throw err;\n    }\n    \n\n\nlet files_array = [];\n\nfiles.map(function (file) {\n    return path.join(p, file);\n}).filter(function (file) {\n    return fs.statSync(file).isFile();\n}).forEach(function (file) {\n    files_array.push(path.basename(file));\n    // console.log(\"(%s)\", file, path.extname(file));\n});\n\nmsg.payload = files_array;\nmsg.file_list = files_array;\nnode.send(msg);\n});\n}\ncatch (err) {\n    console.log(err)\n}\n\n// var files = [];\n// if(msg.status.text === \"\") {\n// fs.readdir(path, function(err, items) {\n//     console.log(items);\n \n//     // for (var i=0; i<items.length; i++) {\n//     //     console.log(items[i]);\n//     // }\n//     files = items;\n//     node.send({payload:items});\n\n// });\n\n\n    // msg.payload = \"neco neco\";\n    // msg.test = \"neco1\"\n    // msg.files = files;\n    // console.log()\n    // msg.files1 = status;\n// return msg;\nreturn;\n// }","outputs":1,"noerr":0,"x":302,"y":313,"wires":[["288ae76.f1bbe98"]]},{"id":"81bae09e.6264b8","type":"debug","z":"4afbab7b.8130ec","name":"DEBUG","active":true,"console":"false","complete":"true","x":748,"y":738,"wires":[]},{"id":"288ae76.f1bbe98","type":"function","z":"4afbab7b.8130ec","name":"make commands for cp","func":"msg.commands = []\nvar commands = []\n\n// echo dir1 dir2 dir3 | xargs -n 1 cp file1\n\n// make one string for all FTP directories\nvar all_ftp_dirs = \"\"\nfor( var i=0; i< msg.ftp_dirs.length; i++) {\n    all_ftp_dirs += msg.ftp_dirs[i] + \" \"\n}\n\n\n// add the string to command per file\n\nfor(var i=0; i < msg.payload.length; i++) {\n    commands.push(\"echo \" + all_ftp_dirs + \"| xargs -n 1 cp \" + msg.directory.Data + msg.payload[i])\n}\n\nmsg.commands = commands\nmsg.iterate = commands.length\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":342,"y":381,"wires":[["507795ab.19f584"]]},{"id":"30977f1b.d4e8e8","type":"exec","z":"4afbab7b.8130ec","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run payload","x":675,"y":254,"wires":[["507795ab.19f584"],[],[]]},{"id":"f17b8efd.befbe8","type":"function","z":"4afbab7b.8130ec","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.iterate-1])\nmsg.payload = msg.commands[msg.iterate-1]\n\nmsg.iterate--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":792,"y":406.5,"wires":[["30977f1b.d4e8e8"]],"outputLabels":["to iterate"]},{"id":"507795ab.19f584","type":"switch","z":"4afbab7b.8130ec","name":"iterate >=1","property":"iterate","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":587,"y":412.5,"wires":[["f17b8efd.befbe8"],["d55fdff6.314bc"]]},{"id":"d55fdff6.314bc","type":"function","z":"4afbab7b.8130ec","name":"make commands for rm","func":"msg.commands = []\nvar commands = []\n\n// echo dir1 dir2 dir3 | xargs -n 1 cp file1\n\n// make one string for all FTP directories\nvar all_ftp_dirs = \"\"\nfor( var i=0; i< msg.ftp_dirs.length; i++) {\n    all_ftp_dirs += msg.ftp_dirs[i] + \" \"\n}\n\n\n// add the string to command per file\n\nfor(var i=0; i < msg.file_list.length; i++) {\n    commands.push(\"rm \"+ msg.directory.Data + msg.file_list[i])\n}\n\nmsg.commands = commands\nmsg.iterate = commands.length\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":657,"wires":[["f474157e.e8e178"]]},{"id":"f20dad27.bbca78","type":"exec","z":"4afbab7b.8130ec","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run payload","x":678,"y":499,"wires":[["f474157e.e8e178"],[],[]]},{"id":"d4422b9b.aa9d5","type":"function","z":"4afbab7b.8130ec","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.iterate-1])\nmsg.payload = msg.commands[msg.iterate-1]\n\nmsg.iterate--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":795,"y":651.5,"wires":[["f20dad27.bbca78"]],"outputLabels":["to iterate"]},{"id":"f474157e.e8e178","type":"switch","z":"4afbab7b.8130ec","name":"iterate >=1","property":"iterate","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":590,"y":657.5,"wires":[["d4422b9b.aa9d5"],[]]},{"id":"d8a2c936.10e04","type":"comment","z":"4afbab7b.8130ec","name":"removed files from Data folder ->","info":"","x":519,"y":728,"wires":[]},{"id":"5fd22365.cdf8b4","type":"delay","z":"4afbab7b.8130ec","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":342,"y":32,"wires":[["5621c7c0.4bdf78"]]},{"id":"5621c7c0.4bdf78","type":"function","z":"4afbab7b.8130ec","name":"get timing and set delay","func":"var msg1 = {}\nvar timing = global.get('timing')\n// msg1.timing = timing;\nmsg1.delay = timing.DataFileHandler\nmsg1.payload= \"interval\"\n\nreturn msg1;","outputs":1,"noerr":0,"x":322,"y":981,"wires":[["cf65e910.9d4ce8"]]},{"id":"cf65e910.9d4ce8","type":"delay","z":"4afbab7b.8130ec","name":"set delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":392,"y":901,"wires":[["d52a92d5.7feb78"]]},{"id":"d52a92d5.7feb78","type":"function","z":"4afbab7b.8130ec","name":"make back loop","func":"// msg.reset = true\nmsg1 = {}\nmsg1.payload = \"run rest of the flow\"\nreturn [msg, msg1]","outputs":"2","noerr":0,"x":272,"y":821,"wires":[["5621c7c0.4bdf78"],["cd088b8b.bfe758"]]},{"id":"e61d515f.bd5868","type":"switch","z":"d023b9a3.13476","name":"iterate >=1","property":"iterate","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":381,"y":196,"wires":[["ce9650f7.95108"],["f741bbde.ce10d8","81739451.1172c"]]},{"id":"e8113a80.98f4","type":"function","z":"d023b9a3.13476","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.iterate-1])\nmsg.payload = msg.commands[msg.iterate-1]\n\nmsg.iterate--;\nglobal.set(\"i\",msg.i--)\n\n\nreturn msg;","outputs":"1","noerr":0,"x":587,"y":200,"wires":[["25775aa1.1cca4e"]],"outputLabels":["to iterate"]},{"id":"27bf8766.03df98","type":"debug","z":"d023b9a3.13476","name":"End","active":true,"console":"false","complete":"payload","x":806,"y":344.00001525878906,"wires":[]},{"id":"d6ac8d2f.99567","type":"comment","z":"d023b9a3.13476","name":"← change value of interate each pass","info":"","x":836.5,"y":197.3333740234375,"wires":[]},{"id":"f741bbde.ce10d8","type":"template","z":"d023b9a3.13476","name":"Loop Finished","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Loop Finished","output":"str","x":639.2380676269531,"y":344.8690185546875,"wires":[[]]},{"id":"ce9650f7.95108","type":"template","z":"d023b9a3.13476","name":"Output current \"i\" value","field":"iterate","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{iterate}}","output":"str","x":651,"y":285,"wires":[["e8113a80.98f4"]]},{"id":"3c9f28b0.f39368","type":"debug","z":"d023b9a3.13476","name":"debug of exec","active":true,"console":"false","complete":"true","x":677,"y":140.3333740234375,"wires":[]},{"id":"90721e37.363aa8","type":"function","z":"d023b9a3.13476","name":"give file list","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\nconsole.log(\"p: \", p);\n\n\n// var p = \"/root/ftp_root/\"\n// var msg = {};\ntry {\n    fs.readdir(p, function (err, files) {\n    if (err) {\n        console.log(\"ERR: \", err);\n        // throw err;\n    }\n    \n\n\nlet files_array = [];\n\nfiles.map(function (file) {\n    return path.join(p, file);\n}).filter(function (file) {\n    return fs.statSync(file).isFile();\n}).forEach(function (file) {\n    files_array.push(path.join(p, path.basename(file)));\n    // console.log(\"file with exact path: \", path.join(p, path.basename(file)))\n    // console.log(\"(%s)\", file, path.extname(file));\n});\n\nnode.send({payload:files_array});\n});\n}\ncatch (err) {\n    console.log(err)\n}\n\n// var files = [];\n// if(msg.status.text === \"\") {\n// fs.readdir(path, function(err, items) {\n//     console.log(items);\n \n//     // for (var i=0; i<items.length; i++) {\n//     //     console.log(items[i]);\n//     // }\n//     files = items;\n//     node.send({payload:items});\n\n// });\n\n\n    // msg.payload = \"neco neco\";\n    // msg.test = \"neco1\"\n    // msg.files = files;\n    // console.log()\n    // msg.files1 = status;\n// return msg;\nreturn;\n// }","outputs":1,"noerr":0,"x":143,"y":213.3333740234375,"wires":[["d0adae16.72158"]]},{"id":"d0adae16.72158","type":"function","z":"d023b9a3.13476","name":"prepare commands","func":"\nvar smallArrays = [];\nvar commandArray = []\nvar partCommandArray = []\n\n\n// create command to remove original files after compression\nvar command = \"rm \"\nfor (var i=0; i<msg.payload.length; i++) {\n    command += msg.p + \"/\" + msg.payload[i]  + \" \"\n\n}\n// add the remove command as the first item in array\n// this will be executed as a last command\nif(command !== \"rm \") {\n    commandArray.push(command)\n}\n\nvar size = global.get('compression_number_of_files') || 2;\nfor (var i=0; i<msg.payload.length; i+=size) {\n    smallArrays.push(msg.payload.slice(i,i+size));\n    var chunk = msg.payload.slice(i,i+size)\n    var command = \"\"\n    for(var a=0; a<chunk.length; a++) {\n        command += chunk[a] + \" \"\n    }\n    partCommandArray.push(command)\n    \n    // do something with smallarray\n}\n\n// var tarArray = []\nvar timePrefix = new Date().toISOString().replace('T', '_').substr(0, 19)\ntimePrefix = timePrefix.replace(/:/g,'.')\nvar compressFileName = \"/\" + timePrefix\nfor(var a=0; a<partCommandArray.length; a++) {\n        \n    // var command = \"tar czf /data/data/upload.part\" + a + \" \" + partCommandArray[a]\n    var command = \"tar czf \" + msg.p + compressFileName + \"_\"+ a + \".tgz\" + \" -C \" + msg.p + \" \" + partCommandArray[a]\n    commandArray.push(command)\n    }\n    \n\n\nmsg.iterate = commandArray.length;\nmsg.chunks = smallArrays\nmsg.commands = commandArray\n// msg.tar = tarArray;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":137,"y":151.3333740234375,"wires":[["e61d515f.bd5868"]]},{"id":"5bd030d1.875a78","type":"inject","z":"d023b9a3.13476","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":163,"y":279.3333740234375,"wires":[["90721e37.363aa8"]]},{"id":"25775aa1.1cca4e","type":"exec","z":"d023b9a3.13476","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run payload","x":526,"y":79.8333740234375,"wires":[["e61d515f.bd5868"],[],[]]},{"id":"1601509e.38afb7","type":"link in","z":"d023b9a3.13476","name":"compress incoming files","links":["4fb3a63e.62bc78","670b2ec2.fc2d18"],"x":163,"y":357.3333740234375,"wires":[["d0adae16.72158"]]},{"id":"81739451.1172c","type":"link out","z":"d023b9a3.13476","name":"files compressed out","links":["bdb5d47a.e654f","376174c5.53535c"],"x":585,"y":419.3333740234375,"wires":[]},{"id":"a24e9a23.62195","type":"debug","z":"d023b9a3.13476","name":"DEBUG of Compress","active":true,"console":"false","complete":"true","x":386,"y":430.3333740234375,"wires":[]},{"id":"3e229a82.fb37e6","type":"function","z":"3ba4e052.bf6c8","name":"get list of FTP","func":"var ftp_list_count = context.get('ftp_list_count') || 0;\nvar ftp_servers = context.get(\"ftp_servers\") || 0;\n// console.log(\"##### in get list .... ----- #####\")\n\n// console.log(\"ftp_servers: \", ftp_servers)\nnode.on('close', function (done) { // <-- 'done' argument - you MUST call this when you're done.\n        node.log('node .... Closed');\n        context.set(\"ftp_servers\", [] );\n        context.set(\"ftp_online\", [] );\n        done();\n});\n\n// if(ftp_list_count === 0) {\nif( Object.prototype.toString.call(ftp_servers ) === '[object Array]' )\n{\n    // console.log(\"ftp_servers is array\", ftp_servers.length)\n   \n    if(ftp_servers.length === 0) {\n        ftp_servers = 0\n    }\n}\n// if(ftp_servers === 0 || ftp_servers.length === 0) {\nif(ftp_servers === 0) {\n    \n    var ftp_list = global.get(\"ftp\")\n    // console.log(Object.keys(ftp_list).length)\n    // context.set('ftp_list_count', Object.keys(ftp_list).length);\n    var tempArry = [];\n    Object.keys(ftp_list).forEach(function (key) {\n    //   console.log(ftp_list[key]);\n       ftp_list[key][\"Id\"] = key;\n       tempArry.push(ftp_list[key])\n       \n    });\n    \n    context.set(\"ftp_servers\", tempArry);\n    // return msg\n    \n    msg.payload = tempArry[0].IP\n    // console.log(\"sending if 0: \", msg)\n    node.send(msg)\n\n}\nelse {\n    // console.log(\"------ ftp_servers: \", ftp_servers.length)\n    var result = context.get(\"ftp_online\") || [];\n    \n    if(msg.ftp_online === true) {\n        // console.log(\"adding server to online list\")\n        // console.log(\"FTP: \", ftp_servers[0]);\n        result.push(ftp_servers[0]);\n        context.set(\"ftp_online\", result )\n        // remove the used element\n        ftp_servers.shift();\n        msg.ftp_online = '';\n    }\n    if(msg.ftp_online === false) {\n        // result.push(ftp_servers[0]);\n        // context.set(\"ftp_online\", result )\n        // console.log(\"removing server from list\")\n        // console.log(\"FTP: \", ftp_servers[0]);\n        // remove the used element\n        ftp_servers.shift();\n        msg.ftp_online = '';\n    }\n    \n    if(!ftp_servers[0]) {\n        // processed all servers, return online list\n        // console.log(\"this is final ....\")\n        msg.online_ftp = context.get(\"ftp_online\" )\n        context.set(\"ftp_online\", [] )\n        node.log(\"have these FTP: \", msg.online_ftp)\n        if( Object.prototype.toString.call(msg.online_ftp ) !== '[object Array]' )\n        {\n            // console.log(\"msg.online_ftp not array, first run\", msg.online_ftp)\n           \n            msg.iterate_ftp = [];\n            return [null, msg]\n        }\n        msg.iterate_ftp = msg.online_ftp.length;\n        return [null, msg]\n        \n    }\n    msg.payload = ftp_servers[0].IP;\n    \n    // // remove the used element\n    // ftp_servers.shift();\n    context.set(\"ftp_servers\", ftp_servers);\n    // console.log(\"sending msg: \", msg)\n    // return msg;\n    node.send(msg)\n}\n// msg.payload = tempArry;\n// msg.host = tempArry[1].IP\n// msg.port = \"21\"\n// return msg;","outputs":"2","noerr":0,"x":408,"y":104,"wires":[["6c1952fb.e04e5c"],["37e4147d.14dfdc"]]},{"id":"75b8fe01.0f5de","type":"inject","z":"3ba4e052.bf6c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":240,"wires":[["9087400a.aeb84"]]},{"id":"237fc7d8.6ba818","type":"function","z":"3ba4e052.bf6c8","name":"helper with status","func":"\nif(msg.payload.code === 0) {\n        // console.log(\"got connected status\")\n        msg.ftp_online = true;\n        return msg;\n        // console.log(\"FTP: \", ftp_servers[0]);\n        // result.push(ftp_servers[0]);\n        // context.set(\"ftp_online\", result )\n        // // remove the used element\n        // ftp_servers.shift();\n    }\nif(msg.payload.code === 1) {\n        // result.push(ftp_servers[0]);\n        // context.set(\"ftp_online\", result )\n        // console.log(\"removing server from list\")\n        // console.log(\"got NOT connected status\")\n        msg.ftp_online = false;\n        return msg;\n        // console.log(\"FTP: \", ftp_servers[0]);\n        // remove the used element\n        // ftp_servers.shift();\n    }","outputs":1,"noerr":0,"x":417,"y":308,"wires":[["3e229a82.fb37e6"]]},{"id":"993ec87f.671e6","type":"debug","z":"3ba4e052.bf6c8","name":"final result","active":true,"console":"false","complete":"true","x":766,"y":89,"wires":[]},{"id":"6c1952fb.e04e5c","type":"exec","z":"3ba4e052.bf6c8","command":"ping -c 3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":533,"y":179.5,"wires":[[],[],["237fc7d8.6ba818"]]},{"id":"37e4147d.14dfdc","type":"link out","z":"3ba4e052.bf6c8","name":"","links":["7f260d59.3a67cc"],"x":795,"y":40,"wires":[]},{"id":"2c8c13bf.8b6544","type":"debug","z":"4afbab7b.8130ec","name":"DEBUG -TEST","active":true,"console":"false","complete":"true","x":930,"y":298,"wires":[]},{"id":"58f1fa74.ff19ac","type":"function","z":"dcb4172a.6a7818","name":"get configured FTP list and find old files","func":"var ftp_list = global.get('ftp');\nvar directory = global.get('directory');\nmsg.ftp_lits = ftp_list;\nvar retention = directory.Retention;\n\n// msg.ftp_number = Object.keys(ftp_list).length\n\n// clear flow variable before another run\nflow.set('files_array', [])\n\nvar re = / /gi;\n\nvar commands = [];\nvar ftp_dirs = [];\n\n// // add all directories per configured FTP\n// Object.keys(ftp_list).forEach(function (key) {\n//     // var fpt_name = key.replace(re, '_');\n//     var fpt_name = key;\n//     commands.push(\"find \" + directory.Data + fpt_name + \"/retention\" + \" -mmin +\" + retention + \" -type f -print\");\n//     commands.push(\"find \" + directory.Data + fpt_name + \"/to_upload\" + \" -mmin +\" + retention + \" -type f -print\");\n//     commands.push(\"find \" + directory.Data + fpt_name + \" -mmin +\" + retention + \" -type f -print\");\n//     ftp_dirs.push(directory.Data + fpt_name + \"/retention\")\n// })\n\ncommands.push(\"find \" + directory.Data + \" -mmin +\" + retention + \" -type f -print\")\n\nvar directory = global.get('directory')\nvar retention = directory.Retention;\nmsg.directory = directory\n\n// find /root/archive/ -mmin +60 -type f -print\nmsg.payload = \"find \" + directory.Data + \" -mmin +\" + retention + \" -type f -print\";\n\n\n\nmsg.commands = commands;\n// number to iterate over\n// msg.ftp_number = ftp_dirs.length;\n// using only one command to find all files in all subdirs\nmsg.ftp_number = commands.length;\nmsg.ftp_dirs = ftp_dirs;\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":143,"wires":[["11c2c88a.41baa7"]]},{"id":"ca4a8d0c.960c7","type":"inject","z":"dcb4172a.6a7818","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":560,"wires":[["65b36e67.60f3a"]]},{"id":"c6a8b84.deda848","type":"function","z":"dcb4172a.6a7818","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.ftp_number-1])\nmsg.payload = msg.commands[msg.ftp_number-1]\n\nmsg.ftp_number--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":825,"y":203,"wires":[["1277e933.e0f6bf"]],"outputLabels":["to iterate"]},{"id":"11c2c88a.41baa7","type":"switch","z":"dcb4172a.6a7818","name":"iterate >=1","property":"ftp_number","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":615,"y":203,"wires":[["c6a8b84.deda848"],["bc31bcd6.3c0098"]]},{"id":"90b6d3f1.455728","type":"exec","z":"dcb4172a.6a7818","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run payload","x":715.5,"y":307,"wires":[["c1cb76c5.aa2178"],[],[]]},{"id":"390ba35a.608f64","type":"function","z":"dcb4172a.6a7818","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.iterate-1])\nmsg.payload = msg.commands[msg.iterate-1]\n\nmsg.iterate--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":832.5,"y":459.5,"wires":[["90b6d3f1.455728"]],"outputLabels":["to iterate"]},{"id":"c1cb76c5.aa2178","type":"switch","z":"dcb4172a.6a7818","name":"iterate >=1","property":"iterate","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":655,"y":483,"wires":[["390ba35a.608f64"],["dc28b9fc.43bca8"]]},{"id":"5ce1fac0.d9bcc4","type":"debug","z":"dcb4172a.6a7818","name":"DEUG","active":true,"console":"false","complete":"true","x":510,"y":40,"wires":[]},{"id":"f93a3b42.51cbc8","type":"catch","z":"dcb4172a.6a7818","name":"","scope":null,"x":991.5,"y":298,"wires":[[]]},{"id":"dc28b9fc.43bca8","type":"function","z":"dcb4172a.6a7818","name":"I am done","func":"msg.commands = []\nmsg.commands = flow.get('files_array');\nmsg.text = \"I am done\"\nreturn msg;","outputs":1,"noerr":0,"x":931.5,"y":518,"wires":[[]]},{"id":"bc31bcd6.3c0098","type":"function","z":"dcb4172a.6a7818","name":"make commands for rm","func":"msg.commands = []\nvar commands = []\n\n// echo dir1 dir2 dir3 | xargs -n 1 cp file1\n\n// make one string for all FTP directories\n// var all_ftp_dirs = \"\"\n// for( var i=0; i< msg.ftp_dirs.length; i++) {\n//     all_ftp_dirs += msg.ftp_dirs[i] + \" \"\n// }\n\n\n// add the string to command per file\n\nfor(var i=0; i < msg.files.length; i++) {\n    commands.push(\"rm \"+ msg.files[i])\n}\nmsg.payload = [];\n\nmsg.commands = [];\nmsg.commands = commands;\nmsg.iterate = commands.length;\nmsg.payload = commands;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":363,"wires":[["c1cb76c5.aa2178"]]},{"id":"ddd33c18.89e248","type":"function","z":"dcb4172a.6a7818","name":"parse output","func":"var files_array = msg.payload.split('\\n')\nfiles_array.pop();\n// console.log(\" ---- files_array --: \", files_array)\n\nif(!msg.files) {\n    msg.files = []\n}\nvar temp_msg_files = msg.files\nconsole.log(\"temp_array: \", temp_msg_files)\nvar temp_array = temp_msg_files.concat(files_array)\n// console.log(temp_array.concat(files_array))\n// files_array.pop();\n// msg.files = {length: files_array.length, files: files_array}\n// console.log(files_array)\n// console.log(files_array.length)\n// console.log(temp_array)\nmsg.length = temp_array.length\nmsg.files = temp_array\nnode.send(msg)\n\n\n","outputs":1,"noerr":0,"x":875,"y":63,"wires":[["11c2c88a.41baa7"]]},{"id":"1277e933.e0f6bf","type":"exec","z":"dcb4172a.6a7818","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run payload","x":675,"y":83,"wires":[["ddd33c18.89e248"],[],[]]},{"id":"27fb8a2.5b554f6","type":"function","z":"dcb4172a.6a7818","name":"get timing and set delay","func":"var msg1 = {}\nvar timing = global.get('timing')\nmsg1.delay = timing.RetentionHandler\nmsg1.payload= \"interval\"\nconsole.log(\"msg1: \", msg1)\nreturn msg1;","outputs":1,"noerr":0,"x":335,"y":643,"wires":[["d77baa1d.188d58"]]},{"id":"d77baa1d.188d58","type":"delay","z":"dcb4172a.6a7818","name":"set delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":405,"y":563,"wires":[["86ef315e.7d469"]]},{"id":"86ef315e.7d469","type":"function","z":"dcb4172a.6a7818","name":"make back loop","func":"// msg.reset = true\nmsg1 = {}\nmsg1.payload = \"run rest of the flow\"\nreturn [msg, msg1]","outputs":"2","noerr":0,"x":285,"y":483,"wires":[["27fb8a2.5b554f6"],["58f1fa74.ff19ac"]]},{"id":"496b21ec.4020e","type":"debug","z":"dcb4172a.6a7818","name":"RETENTION","active":true,"console":"false","complete":"true","x":670,"y":660,"wires":[]},{"id":"65b36e67.60f3a","type":"delay","z":"dcb4172a.6a7818","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":660,"wires":[["27fb8a2.5b554f6"]]},{"id":"14f8355a.4d3b2b","type":"function","z":"67c0732b.bd0dbc","name":"get configured FTP list and find old files","func":"var ftp_list = global.get('ftp');\nvar directory = global.get('directory');\nmsg.ftp_lits = ftp_list;\nvar retention = directory.Retention;\n\n// msg.ftp_number = Object.keys(ftp_list).length\n\n// clear flow variable before another run\nflow.set('files_array', [])\n\n// var re = / /gi;\n\nvar commands = [];\nvar ftp_dirs = [];\nvar file_list = []\n\nvar timePrefix = new Date().toISOString().replace('T', '_').substr(0, 19)\ntimePrefix = timePrefix.replace(/:/g,'.')\nfor(var i=0; i<10; i++){\n    // file_list =+ i + \"_\" + timePrefix + \"_file.txt \"\n    file_list.push( i + \"_\" + timePrefix + \"_file.txt\")\n}\n\n// create files in data directory\nfor (var i= 0; i<file_list.length; i++) {\n        \n    // commands.push(\"touch \" + directory.Data + file_list[i])\n    // create dummy file of 512KB\n    commands.push(\"head -c 500k /dev/urandom > \" + directory.Data + file_list[i])\n}\n\nObject.keys(ftp_list).forEach(function (key) {\n    // var fpt_name = key.replace(re, '_');\n    var fpt_name = key;\n    // commands.push(\"find \" + directory.Data + fpt_name + \"/retention\" + \" -mmin +\" + retention + \" -type f -print\");\n    // commands.push(\"touch \" + directory.Data + fpt_name + \"/retention\" + \" -mmin +\" + retention + \" -type f -print\");\n    // for (var i= 0; i<file_list.length; i++) {\n    //     create files in retention directories\n    //     // commands.push(\"touch \" + directory.Data + fpt_name + \"/retention/\" + file_list[i])\n    //     // create files in FTP  directory\n    //     commands.push(\"touch \" + directory.Data + fpt_name + \"/\" + file_list[i])\n    // }\n    ftp_dirs.push(directory.Data + fpt_name + \"/retention\")\n})\n\nvar directory = global.get('directory')\nvar retention = directory.Retention;\nmsg.directory = directory\n\n// find /root/archive/ -mmin +60 -type f -print\nmsg.payload = \"find \" + directory.Archive + \" -mmin +\" + retention + \" -type f -print\";\n\n\nmsg.iterate = commands.length;\nmsg.commands = commands;\nmsg.ftp_number = ftp_dirs.length;\nmsg.ftp_dirs = ftp_dirs;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["3f4bb53e.15cefa","9b50d8b9.815718"]]},{"id":"cef66f2a.9e8e","type":"inject","z":"67c0732b.bd0dbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"x":106,"y":225,"wires":[["14f8355a.4d3b2b"]]},{"id":"3f4bb53e.15cefa","type":"debug","z":"67c0732b.bd0dbc","name":"CREATE Dummy DEBUG","active":true,"console":"false","complete":"true","x":918,"y":227,"wires":[]},{"id":"9b50d8b9.815718","type":"exec","z":"67c0732b.bd0dbc","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run payload","x":790,"y":360,"wires":[["ff3529eb.1010c8"],[],[]]},{"id":"74999470.2dea3c","type":"function","z":"67c0732b.bd0dbc","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.iterate-1])\nmsg.payload = msg.commands[msg.iterate-1]\n\nmsg.iterate--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":907,"y":512.5,"wires":[["9b50d8b9.815718"]],"outputLabels":["to iterate"]},{"id":"ff3529eb.1010c8","type":"switch","z":"67c0732b.bd0dbc","name":"iterate >=1","property":"iterate","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":729.5,"y":536,"wires":[["74999470.2dea3c"],["3f4bb53e.15cefa"]]},{"id":"2c02fdb7.6acf62","type":"debug","z":"dcb4172a.6a7818","name":"EXEC DEBUG","active":true,"console":"false","complete":"true","x":1013,"y":367,"wires":[]},{"id":"1cb3cfbe.f7f55","type":"inject","z":"dcb4172a.6a7818","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":40,"wires":[["58f1fa74.ff19ac"]]},{"id":"dc63dc5c.15a8d","type":"debug","z":"dcb4172a.6a7818","name":"Delay-2","active":true,"console":"false","complete":"true","x":376,"y":254,"wires":[]},{"id":"7bbc0db8.67a714","type":"debug","z":"dcb4172a.6a7818","name":"debug 1st iteration","active":true,"console":"false","complete":"true","x":944,"y":248,"wires":[]},{"id":"3aac2a07.d97096","type":"link out","z":"a6ead123.dcc9c8","name":"upload finished","links":["613a7aee.c31554"],"x":935,"y":380,"wires":[]},{"id":"613a7aee.c31554","type":"link in","z":"3ba4e052.bf6c8","name":"start FTP check","links":["3aac2a07.d97096"],"x":154,"y":110,"wires":[["3e229a82.fb37e6"]]},{"id":"3bd9ea50.06de96","type":"function","z":"a6ead123.dcc9c8","name":"get timing and set delay","func":"var msg1 = {}\nvar timing = global.get('timing')\nmsg1.delay = timing.CheckFTP\nmsg1.payload= \"interval\"\nconsole.log(\"msg1: \", msg1)\nreturn msg1;","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["8d358bd8.a3ee28"]]},{"id":"8d358bd8.a3ee28","type":"delay","z":"a6ead123.dcc9c8","name":"set delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":380,"wires":[["3aac2a07.d97096"]]},{"id":"2fe4d517.a4a34a","type":"inject","z":"aba94147.26deb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":60,"wires":[["9a86710.a5b869"]]},{"id":"d6692c9.8a74dd","type":"file","z":"aba94147.26deb8","name":"Write Config","filename":"/data/conf_settings.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":957,"y":301,"wires":[]},{"id":"7852e953.17a758","type":"file in","z":"aba94147.26deb8","name":"Read Config","filename":"/data/conf_settings.json","format":"utf8","chunk":false,"sendError":false,"x":330,"y":240,"wires":[["1a2daa9d.fdf5b5"]]},{"id":"1a2daa9d.fdf5b5","type":"json","z":"aba94147.26deb8","name":"To JSON","pretty":false,"x":380,"y":280,"wires":[["4a3296c6.9aa7c8"]]},{"id":"9a86710.a5b869","type":"function","z":"aba94147.26deb8","name":"Check Config","func":"var fs = global.get('fs1')\nconsole.log(\"check conf\")\n\n// creating default config file\ndefault_string = `cat <<EOT > /root/conf_settings.json\n{\n\t\"directory\": {\n\t\t\"Data\": \"/root/data/\",\n\t\t\"Retention\": 10080\n\t},\n\t\"timing\": {\n\t\t\"CheckFTP\": 60000,\n\t\t\"DataFileHandler\": 300000,\n\t\t\"RetentionHandler\": 180000\n\t},\n\t\"ftp\": {\n\t\t\"1\": {\n\t\t\t\"IP\": \"192.168.1.25\",\n\t\t\t\"Username\": \"upload\",\n\t\t\t\"Password\": \"upload\",\n\t\t\t\"Directory\": \"directory/\",\n\t\t\t\"Compress\": true\n\t\t}\n\t}\n}\nEOT\n`\n\nfs.open('/data/conf_settings.json', 'r', (err, fd) => {\n  if (err) {\n      console.log(\"in a error\")\n    if (err.code === 'ENOENT') {\n      console.error('myfile does not exist');\n      console.log('myfile does not exist');\n      msg.topic = 'does not exists';\n      console.log('creating empty configuration file');\n    //   node.send({payload:'echo \"{}\" > /data/conf_settings.json'});\n      node.send({payload: default_string});\n      return msg;\n    }\n\n    throw err;\n  }\n    console.log('Configuration file exist');\n  msg.text = 'my file does Exist';\n  node.send({payload:'ls'});\n//  return msg;\n});\n\n\n\n// return msg;\n\n","outputs":1,"noerr":0,"x":160,"y":120,"wires":[["68afcd8d.f3c054"]]},{"id":"1bcaf24b.73ebfe","type":"function","z":"aba94147.26deb8","name":"Check Dirs, Create Dirs & Set Globals","func":"// Declare FS library\nvar fs = global.get('fs1');\n\n\n// String trailing / if need be\nfunction stripTrailingSlash(str)     \n{     \n    return str.replace(/\\/$/, \"\");\n}\n\n// Function to take care of recursive creation\nfunction mkdirs(path) {\n    var dirs = path.split('/');\n    var prevDir = dirs.splice(0,1)+\"/\";\n    while(dirs.length > 0) {\n        var curDir = prevDir + dirs.splice(0,1);\n        if (! fs.existsSync(curDir) ) {\n            fs.mkdirSync(curDir);\n        }\n        prevDir = curDir + '/';\n    }\n}\n\nif(msg.payload.directory) {\n    var directory = msg.payload.directory;\n    directory.Retention = directory.Retention*24*60\n    msg.payload.directory = directory;\n}\n\n    if(msg.payload.timing) {\n        var timing = msg.payload.timing;\n        timing.RetentionHandler = timing.RetentionHandler*1000*60;\n        timing.DataFileHandler = timing.DataFileHandler*1000*60;\n        timing.CheckFTP = timing.CheckFTP*1000;\n        msg.payload.timing = timing;\n    }\n//Check if loc_dir exists and create if needed\ntry {\n    fs.accessSync(msg.payload.directory.Data);\n    }catch(e){\n    mkdirs(stripTrailingSlash(msg.payload.directory.Data));\n    // Set gloabl varaibles\n    global.set(\"ftp\", msg.payload.ftp )\n    global.set(\"directory\", msg.payload.directory)\n    global.set(\"timing\", msg.payload.timing)\n    }\n\n// Set gloabl varaibles\nglobal.set(\"ftp\", msg.payload.ftp )\nglobal.set(\"directory\", msg.payload.directory)\nglobal.set(\"timing\", msg.payload.timing)\nreturn msg;","outputs":1,"noerr":0,"x":702,"y":90,"wires":[["d6692c9.8a74dd"]]},{"id":"a295bb62.aa3d98","type":"ui_template","z":"aba94147.26deb8","group":"87859661.2a8798","name":"App Settings UI","order":1,"width":0,"height":0,"format":"<style>\nspan {\n    display: inline-grid;\n    margin: 10px;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\n.hint {\n    /* Position the hint */\n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey;\n    }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n.input {\n   /*NOTE: Check the demo's HTML to see some additional RTL support CSS */\n   /*Setup animations similar to the ng-messages */ }*/\n  .input .hint {\n     Position the hint \n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey; }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n    \n</style>\n<md-input-container>\n    <label>Data Directory</label>\n    <input name=\"data_dir\" ng-model=\"msg.payload.directory.Data\" required>\n    <md-tooltip md-direction=\"top\">Enter absolute path with trailing /</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>File Retention (Days)</label>\n    <input name=\"retention_duration\" ng-model=\"msg.payload.directory.Retention\"\n    required type=\"number\" step=\"any\" min=\"1\" max=\"31\">\n    <div ng-if=\"!(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31)\" class=\"hint\">\n        File retention can be set between 1 - 31 days</div>\n\n    <md-tooltip md-direction=\"top\">How long to keep files before local deletition (min. 1 day)</md-tooltip>\n    </md-input-container>\n<md-input-container>\n    <label>Check FTP Alive (Seconds)</label>\n    <input name=\"check_ftp_duration\" ng-model=\"msg.payload.timing.CheckFTP\" required type=\"number\" step=\"any\" min=\"60\" max=\"3600\">\n    <md-tooltip md-direction=\"top\">How often to check FTP servers (min. 60sec)</md-tooltip>\n</md-input-container>\n<!--<md-input-container>-->\n<!--    <label>Check Data Folders (Minutes)</label>-->\n<!--    <input name=\"check_data_duration\" ng-model=\"msg.payload.timing.DataFileHandler\" -->\n<!--    required type=\"number\" step=\"any\" min=\"5\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to process incomming files (min. 5minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>File Retention Handler Interval (Minutes)</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.directory.Data || !(msg.payload.timing.CheckFTP >= 60)\n || !(msg.payload.timing.DataFileHandler >=5) || !(msg.payload.timing.RetentionHandler >=3) || !(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31) \">\nSubmit\n </md-button>\n</md-input-container>\n\n<br>\n<br>\n<br>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":720,"y":246,"wires":[["d739e9e3.c6d658","1bcaf24b.73ebfe","82c02684.50c358"]]},{"id":"d739e9e3.c6d658","type":"ui_template","z":"aba94147.26deb8","group":"dcf4c6b9.f69e","name":"Destination Settings UI","order":1,"width":0,"height":0,"format":"<style>\nspan {\n    display: inline-grid;\n    margin: 10px;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\nmd-checkbox.md-checked.green .md-icon {\n background-color: rgba(0, 128, 0, 1);\n}\n</style>\n<md-input-container>\n    <label>Select FTP</label>\n    <md-select ng-model=\"ftpId\">\n      <md-option ng-value=\"1\" >FTP 1</md-option>\n      <md-option ng-value=\"2\" >FTP 2</md-option>\n      <md-option ng-value=\"3\" >FTP 3</md-option>\n      <md-option ng-value=\"4\" >FTP 4</md-option>\n      <md-option ng-value=\"5\" >FTP 5</md-option>\n      <md-option ng-value=\"6\" >FTP 6</md-option>\n      <md-option ng-value=\"7\" >FTP 7</md-option>\n      <md-option ng-value=\"8\" >FTP 8</md-option>\n      <md-option ng-value=\"9\" >FTP 9</md-option>\n      <md-option ng-value=\"10\" >FTP 10</md-option>\n    </md-select>\n  </md-input-container>\n  <md-input-container>\n      <label>IP Address</label>\n      <input name=\"ip_adr\" ng-model=\"msg.payload.ftp[ftpId].IP\" required>\n      <md-tooltip md-direction=\"top\">Enter FTP server IP address</md-tooltip>\n  </md-input-container>\n  <md-input-container>\n      <label>Username</label>\n      <input name=\"username\" ng-model=\"msg.payload.ftp[ftpId].Username\" required>\n      <md-tooltip md-direction=\"top\">Enter FTP server username</md-tooltip>\n  </md-input-container>\n  <md-input-container>\n      <label>Password</label>\n      <input name=\"password\" ng-model=\"msg.payload.ftp[ftpId].Password\" required type=\"password\">\n      <md-tooltip md-direction=\"top\">Enter FTP server password</md-tooltip>\n  </md-input-container>\n  <md-input-container>\n      <label>Directory</label>\n      <input name=\"dir\" ng-model=\"msg.payload.ftp[ftpId].Directory\" required>\n      <md-tooltip md-direction=\"top\">Enter absolute path with trailing /</md-tooltip>\n  </md-input-container>\n  <!--<md-checkbox name=\"mandatory\" class=\"green\" ng-model=\"msg.payload.ftp[ftpId].Mandatory\">-->\n  <!--    Mandatory-->\n  <!--</md-checkbox>-->\n  <md-input-container>\n  <md-checkbox name=\"compress\" class=\"green\" ng-model=\"msg.payload.ftp[ftpId].Compress\">\n      Compress\n  </md-checkbox>\n  <md-tooltip md-direction=\"top\">Compress files before upload</md-tooltip>\n  </md-input-container>\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.ftp[ftpId].Username || !msg.payload.ftp[ftpId].Password \n || !msg.payload.ftp[ftpId].IP || !msg.payload.ftp[ftpId].Directory\">\nSubmit\n </md-button>\n</md-input-container>\n<br>\n<br>\n  \n  ","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":720,"y":406,"wires":[["a295bb62.aa3d98","1bcaf24b.73ebfe","82c02684.50c358"]]},{"id":"fabed995.96c7b8","type":"catch","z":"aba94147.26deb8","name":"","scope":null,"x":947,"y":341,"wires":[[]]},{"id":"68afcd8d.f3c054","type":"exec","z":"aba94147.26deb8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Create","x":250,"y":180,"wires":[["7852e953.17a758"],[],[]]},{"id":"4a3296c6.9aa7c8","type":"function","z":"aba94147.26deb8","name":"Set Globals","func":"if (msg.payload.timing || msg.payload.directory || msg.payload.ftp ){\n    // Set gloabl varaibles\n    // need to do this first and clone object\n    // otherwise it's reference and globals will be what shows in UI\n    var config = JSON.parse(JSON.stringify(msg.payload))\n    console.log(\"config: \", config.timing)\n    global.set(\"directory\", config.directory)\n    global.set(\"timing\", config.timing)\n    global.set(\"ftp\", config.ftp )\n    // var msg1 = {}\n    // msg1.payload.directory = msg.payload.directory\n    // msg1.payload.timing = msg.payload.timing\n    \n    \n    // convert minutes to days for UI\n    if(msg.payload.directory) {\n        var directory = msg.payload.directory;\n        directory.Retention = directory.Retention/24/60\n        msg.payload.directory = directory;\n    }\n    \n    // convert miliseconds to minutes and seconds for UI\n    if(msg.payload.timing) {\n        var timing = msg.payload.timing;\n        timing.RetentionHandler = timing.RetentionHandler/1000/60;\n        timing.DataFileHandler = timing.DataFileHandler/1000/60;\n        timing.CheckFTP = timing.CheckFTP/1000;\n        msg.payload.timing = timing;\n    }\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":320,"wires":[["a295bb62.aa3d98","d739e9e3.c6d658","82c02684.50c358"]]},{"id":"570f4cf.186beb4","type":"debug","z":"aba94147.26deb8","name":"check Config","active":true,"console":"false","complete":"true","x":380,"y":128,"wires":[]},{"id":"82c02684.50c358","type":"ui_template","z":"aba94147.26deb8","group":"61613a8d.37b7e4","name":"Configuration display","order":1,"width":"0","height":"0","format":"<!--<div ng-bind-html=\"msg.payload | JSON\">{{msg.payload | json}}</div>-->\n<!--<table>-->\n<!--  <tr ng-repeat=\"(key, value) in msg.payload\">-->\n<!--    <td> {{key}} </td> <td> <table>-->\n<!--  <tr ng-repeat=\"(key1, value1) in value\">-->\n<!--    <td> {{key1}} </td> <td> {{ value1 }} </td>-->\n<!--  </tr>-->\n<!--</table> </td>-->\n<!--  </tr>-->\n<!--</table>-->\n<!--<h3>Application Setting</h3>-->\n<md-content  layout-xs=\"column\" >\n<md-card ng-if=\"msg.payload.directory\">\n    <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-title\">Directory</span>\n          </md-card-title-text>\n        </md-card-title>\n<table width=\"100%\" class=\"md-body-1\">\n  <tr ng-repeat=\"(key1, value1) in msg.payload.directory\">\n    <td>{{key1}}:</td> <td>{{ value1 }} <span ng-if=\"key1 === 'Retention'\"> Days</span> </td>\n  </tr>\n</table>\n</md-card>\n\n<md-card ng-if=\"msg.payload.timing\">\n    <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-title\">Application Timing</span>\n          </md-card-title-text>\n        </md-card-title>\n<table  width=\"100%\" class=\"md-body-1\">\n  <tr ng-repeat=\"(key1, value1) in msg.payload.timing\">\n    <td>{{key1}}:</td> <td> {{ value1 }} <span>{{key1 === 'CheckFTP' ? 'Seconds' : 'Minutes'}}</span></td>\n  </tr>\n</table>\n</md-card>\n\n\n<md-card ng-if=\"msg.payload.ftp\">\n    <md-card-title>\n        <md-card-title-text>\n            <span class=\"md-headline\">FTP Server</span>\n        </md-card-title-text>\n    </md-card-title>\n<table  width=\"100%\" class=\"md-body-1\">\n\n  <tr ng-repeat=\"(key, value) in msg.payload.ftp\">\n    <td style=\"vertical-align:top\"><span class=\"md-body-2\"> FTP {{key}}</span> </td> <td> <table>\n  <tr ng-repeat=\"(key1, value1) in value\">\n    <td>{{key1}}: </td> <td> {{ value1 }} </td>\n  </tr>\n</table> </td>\n  </tr>\n</table>\n</md-card>\n</md-content>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":542,"wires":[[]]},{"id":"73d61a3.75f9be4","type":"exec","z":"aba94147.26deb8","command":"logread","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":318,"y":673,"wires":[["8c47845f.a9b778"],[],[]]},{"id":"7682c4bb.ff430c","type":"inject","z":"aba94147.26deb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":128,"y":673,"wires":[["73d61a3.75f9be4"]]},{"id":"45c59ee0.ca486","type":"ui_template","z":"aba94147.26deb8","group":"6d8b4f0f.4eee4","name":"Log file","order":1,"width":"6","height":"14","format":"<!--<h3>Log</h3>-->\n<div ng-bind-html=\"msg.payload\" class=\"md-body-1\"></div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":638,"y":593,"wires":[[]]},{"id":"8c47845f.a9b778","type":"change","z":"aba94147.26deb8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"re","to":"<br>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":398,"y":593,"wires":[["45c59ee0.ca486"]]},{"id":"bfd594e.887e868","type":"ui_template","z":"aba94147.26deb8","group":"e285f775.e6eb48","name":"Help","order":0,"width":0,"height":0,"format":"<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>Untitled Document.md</title><style>@charset \"UTF-8\";@import 'https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.2.0/katex.min.css';code{color:#c7254e;background-color:#f9f2f4;border-radius:4px}code,kbd{padding:2px 4px}kbd{color:#fff;background-color:#333;border-radius:3px;box-shadow:inset 0 -1px 0 rgba(0,0,0,.25)}kbd kbd{padding:0;font-size:100%;box-shadow:none}pre{display:block;margin:0 0 10px;word-break:break-all;word-wrap:break-word;color:#333;background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px}pre code{padding:0;font-size:inherit;color:inherit;white-space:pre-wrap;background-color:transparent;border-radius:0}.pre-scrollable{max-height:340px;overflow-y:scroll}table{background-color:transparent}th{text-align:left}.table{width:100%;max-width:100%;margin-bottom:20px}.table>thead>tr>th{padding:8px;line-height:1.4285714;border-top:1px solid #ddd}.table>thead>tr>td,.table>tbody>tr>th,.table>tbody>tr>td,.table>tfoot>tr>th,.table>tfoot>tr>td{padding:8px;line-height:1.4285714;vertical-align:top;border-top:1px solid #ddd}.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd}.table>caption+thead>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>th,.table>thead:first-child>tr:first-child>td{border-top:0}.table>tbody+tbody{border-top:2px solid #ddd}.table .table{background-color:#fff}.table-condensed>thead>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>tfoot>tr>td{padding:5px}.table-bordered,.table-bordered>thead>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>tfoot>tr>td{border:1px solid #ddd}.table-bordered>thead>tr>th,.table-bordered>thead>tr>td{border-bottom-width:2px}.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th{background-color:#f9f9f9}.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th{background-color:#f5f5f5}table col[class*=\"col-\"]{position:static;float:none;display:table-column}table td[class*=\"col-\"],table th[class*=\"col-\"]{position:static;float:none;display:table-cell}.table>thead>tr>td.active,.table>thead>tr>th.active,.table>thead>tr.active>td,.table>thead>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th{background-color:#f5f5f5}.table-hover>tbody>tr>td.active:hover,.table-hover>tbody>tr>th.active:hover,.table-hover>tbody>tr.active:hover>td,.table-hover>tbody>tr:hover>.active,.table-hover>tbody>tr.active:hover>th{background-color:#e8e8e8}.table>thead>tr>td.success,.table>thead>tr>th.success,.table>thead>tr.success>td,.table>thead>tr.success>th,.table>tbody>tr>td.success,.table>tbody>tr>th.success,.table>tbody>tr.success>td,.table>tbody>tr.success>th,.table>tfoot>tr>td.success,.table>tfoot>tr>th.success,.table>tfoot>tr.success>td,.table>tfoot>tr.success>th{background-color:#dff0d8}.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover,.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr:hover>.success,.table-hover>tbody>tr.success:hover>th{background-color:#d0e9c6}.table>thead>tr>td.info,.table>thead>tr>th.info,.table>thead>tr.info>td,.table>thead>tr.info>th,.table>tbody>tr>td.info,.table>tbody>tr>th.info,.table>tbody>tr.info>td,.table>tbody>tr.info>th,.table>tfoot>tr>td.info,.table>tfoot>tr>th.info,.table>tfoot>tr.info>td,.table>tfoot>tr.info>th{background-color:#d9edf7}.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover,.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr:hover>.info,.table-hover>tbody>tr.info:hover>th{background-color:#c4e3f3}.table>thead>tr>td.warning,.table>thead>tr>th.warning,.table>thead>tr.warning>td,.table>thead>tr.warning>th,.table>tbody>tr>td.warning,.table>tbody>tr>th.warning,.table>tbody>tr.warning>td,.table>tbody>tr.warning>th,.table>tfoot>tr>td.warning,.table>tfoot>tr>th.warning,.table>tfoot>tr.warning>td,.table>tfoot>tr.warning>th{background-color:#fcf8e3}.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover,.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr:hover>.warning,.table-hover>tbody>tr.warning:hover>th{background-color:#faf2cc}.table>thead>tr>td.danger,.table>thead>tr>th.danger,.table>thead>tr.danger>td,.table>thead>tr.danger>th,.table>tbody>tr>td.danger,.table>tbody>tr>th.danger,.table>tbody>tr.danger>td,.table>tbody>tr.danger>th,.table>tfoot>tr>td.danger,.table>tfoot>tr>th.danger,.table>tfoot>tr.danger>td,.table>tfoot>tr.danger>th{background-color:#f2dede}.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover,.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr:hover>.danger,.table-hover>tbody>tr.danger:hover>th{background-color:#ebcccc}fieldset{border:0;min-width:0}legend{display:block;width:100%;margin-bottom:20px;font-size:21px;line-height:inherit;color:#333;border-bottom:1px solid #e5e5e5}label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700}input[type=\"radio\"],input[type=\"checkbox\"]{margin:4px 0 0;margin-top:1px \\9;line-height:normal}input[type=\"file\"]{display:block}input[type=\"range\"]{display:block;width:100%}select[multiple],select[size]{height:auto}input[type=\"file\"]:focus,input[type=\"radio\"]:focus,input[type=\"checkbox\"]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}output{padding-top:7px}output,.form-control{display:block;font-size:14px;line-height:1.4285714;color:#555}.form-control{width:100%;height:34px;padding:6px 12px;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.form-control:focus{border-color:#66afe9;outline:0;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}.form-control::-moz-placeholder{color:#777;opacity:1}.form-control:-ms-input-placeholder{color:#777}.form-control::-webkit-input-placeholder{color:#777}.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{cursor:not-allowed;background-color:#eee;opacity:1}textarea.form-control{height:auto}input[type=\"date\"],input[type=\"time\"],input[type=\"datetime-local\"],input[type=\"month\"]{line-height:34px;line-height:1.4285714 \\0}input[type=\"date\"].input-sm,.form-horizontal .form-group-sm input[type=\"date\"].form-control,.input-group-sm>input[type=\"date\"].form-control,.input-group-sm>input[type=\"date\"].input-group-addon,.input-group-sm>.input-group-btn>input[type=\"date\"].btn,input[type=\"time\"].input-sm,.form-horizontal .form-group-sm input[type=\"time\"].form-control,.input-group-sm>input[type=\"time\"].form-control,.input-group-sm>input[type=\"time\"].input-group-addon,.input-group-sm>.input-group-btn>input[type=\"time\"].btn,input[type=\"datetime-local\"].input-sm,.form-horizontal .form-group-sm input[type=\"datetime-local\"].form-control,.input-group-sm>input[type=\"datetime-local\"].form-control,.input-group-sm>input[type=\"datetime-local\"].input-group-addon,.input-group-sm>.input-group-btn>input[type=\"datetime-local\"].btn,input[type=\"month\"].input-sm,.form-horizontal .form-group-sm input[type=\"month\"].form-control,.input-group-sm>input[type=\"month\"].form-control,.input-group-sm>input[type=\"month\"].input-group-addon,.input-group-sm>.input-group-btn>input[type=\"month\"].btn{line-height:30px}input[type=\"date\"].input-lg,.form-horizontal .form-group-lg input[type=\"date\"].form-control,.input-group-lg>input[type=\"date\"].form-control,.input-group-lg>input[type=\"date\"].input-group-addon,.input-group-lg>.input-group-btn>input[type=\"date\"].btn,input[type=\"time\"].input-lg,.form-horizontal .form-group-lg input[type=\"time\"].form-control,.input-group-lg>input[type=\"time\"].form-control,.input-group-lg>input[type=\"time\"].input-group-addon,.input-group-lg>.input-group-btn>input[type=\"time\"].btn,input[type=\"datetime-local\"].input-lg,.form-horizontal .form-group-lg input[type=\"datetime-local\"].form-control,.input-group-lg>input[type=\"datetime-local\"].form-control,.input-group-lg>input[type=\"datetime-local\"].input-group-addon,.input-group-lg>.input-group-btn>input[type=\"datetime-local\"].btn,input[type=\"month\"].input-lg,.form-horizontal .form-group-lg input[type=\"month\"].form-control,.input-group-lg>input[type=\"month\"].form-control,.input-group-lg>input[type=\"month\"].input-group-addon,.input-group-lg>.input-group-btn>input[type=\"month\"].btn{line-height:46px}.form-group{margin-bottom:15px}.radio,.checkbox{position:relative;display:block;min-height:20px;margin-top:10px;margin-bottom:10px}.radio label,.checkbox label{padding-left:20px;margin-bottom:0;font-weight:400;cursor:pointer}.radio input[type=\"radio\"],.radio-inline input[type=\"radio\"],.checkbox input[type=\"checkbox\"],.checkbox-inline input[type=\"checkbox\"]{position:absolute;margin-left:-20px;margin-top:4px \\9}.radio+.radio,.checkbox+.checkbox{margin-top:-5px}.radio-inline,.checkbox-inline{display:inline-block;padding-left:20px;margin-bottom:0;vertical-align:middle;font-weight:400;cursor:pointer}.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline{margin-top:0;margin-left:10px}input[type=\"radio\"][disabled],input[type=\"radio\"].disabled,fieldset[disabled] input[type=\"radio\"],input[type=\"checkbox\"][disabled],input[type=\"checkbox\"].disabled,fieldset[disabled] input[type=\"checkbox\"],.radio-inline.disabled,fieldset[disabled] .radio-inline,.checkbox-inline.disabled,fieldset[disabled] .checkbox-inline,.radio.disabled label,fieldset[disabled] .radio label,.checkbox.disabled label,fieldset[disabled] .checkbox label{cursor:not-allowed}.form-control-static{padding-top:7px;padding-bottom:7px;margin-bottom:0}.form-control-static.input-lg,.form-horizontal .form-group-lg .form-control-static.form-control,.input-group-lg>.form-control-static.form-control,.input-group-lg>.form-control-static.input-group-addon,.input-group-lg>.input-group-btn>.form-control-static.btn,.form-control-static.input-sm,.form-horizontal .form-group-sm .form-control-static.form-control,.input-group-sm>.form-control-static.form-control,.input-group-sm>.form-control-static.input-group-addon,.input-group-sm>.input-group-btn>.form-control-static.btn{padding-left:0;padding-right:0}.input-sm,.form-horizontal .form-group-sm .form-control,.input-group-sm>.form-control{height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}.input-group-sm>.input-group-addon{height:30px;line-height:1.5}.input-group-sm>.input-group-btn>.btn{height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}select.input-sm,.form-horizontal .form-group-sm select.form-control,.input-group-sm>select.form-control,.input-group-sm>select.input-group-addon,.input-group-sm>.input-group-btn>select.btn{height:30px;line-height:30px}textarea.input-sm,.form-horizontal .form-group-sm textarea.form-control,.input-group-sm>textarea.form-control,.input-group-sm>textarea.input-group-addon,.input-group-sm>.input-group-btn>textarea.btn,select[multiple].input-sm,.form-horizontal .form-group-sm select[multiple].form-control,.input-group-sm>select[multiple].form-control,.input-group-sm>select[multiple].input-group-addon,.input-group-sm>.input-group-btn>select[multiple].btn{height:auto}.input-lg,.form-horizontal .form-group-lg .form-control,.input-group-lg>.form-control{height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}.input-group-lg>.input-group-addon{height:46px;line-height:1.33}.input-group-lg>.input-group-btn>.btn{height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}select.input-lg,.form-horizontal .form-group-lg select.form-control,.input-group-lg>select.form-control,.input-group-lg>select.input-group-addon,.input-group-lg>.input-group-btn>select.btn{height:46px;line-height:46px}textarea.input-lg,.form-horizontal .form-group-lg textarea.form-control,.input-group-lg>textarea.form-control,.input-group-lg>textarea.input-group-addon,.input-group-lg>.input-group-btn>textarea.btn,select[multiple].input-lg,.form-horizontal .form-group-lg select[multiple].form-control,.input-group-lg>select[multiple].form-control,.input-group-lg>select[multiple].input-group-addon,.input-group-lg>.input-group-btn>select[multiple].btn{height:auto}.has-feedback{position:relative}.has-feedback .form-control{padding-right:42.5px}.form-control-feedback{position:absolute;top:25px;right:0;z-index:2;display:block;width:34px;height:34px;line-height:34px;text-align:center}.input-lg+.form-control-feedback,.form-horizontal .form-group-lg .form-control+.form-control-feedback,.input-group-lg>.form-control+.form-control-feedback,.input-group-lg>.input-group-addon+.form-control-feedback,.input-group-lg>.input-group-btn>.btn+.form-control-feedback{width:46px;height:46px;line-height:46px}.input-sm+.form-control-feedback,.form-horizontal .form-group-sm .form-control+.form-control-feedback,.input-group-sm>.form-control+.form-control-feedback,.input-group-sm>.input-group-addon+.form-control-feedback,.input-group-sm>.input-group-btn>.btn+.form-control-feedback{width:30px;height:30px;line-height:30px}.has-success .help-block,.has-success .control-label,.has-success .radio,.has-success .checkbox,.has-success .radio-inline,.has-success .checkbox-inline{color:#3c763d}.has-success .form-control{border-color:#3c763d;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-success .form-control:focus{border-color:#2b542c;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168}.has-success .input-group-addon{color:#3c763d;border-color:#3c763d;background-color:#dff0d8}.has-success .form-control-feedback{color:#3c763d}.has-warning .help-block,.has-warning .control-label,.has-warning .radio,.has-warning .checkbox,.has-warning .radio-inline,.has-warning .checkbox-inline{color:#8a6d3b}.has-warning .form-control{border-color:#8a6d3b;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-warning .form-control:focus{border-color:#66512c;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b}.has-warning .input-group-addon{color:#8a6d3b;border-color:#8a6d3b;background-color:#fcf8e3}.has-warning .form-control-feedback{color:#8a6d3b}.has-error .help-block,.has-error .control-label,.has-error .radio,.has-error .checkbox,.has-error .radio-inline,.has-error .checkbox-inline{color:#a94442}.has-error .form-control{border-color:#a94442;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-error .form-control:focus{border-color:#843534;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}.has-error .input-group-addon{color:#a94442;border-color:#a94442;background-color:#f2dede}.has-error .form-control-feedback{color:#a94442}.has-feedback label.sr-only~.form-control-feedback{top:0}.help-block{display:block;margin-top:5px;margin-bottom:10px;color:#737373}.form-horizontal .radio,.form-horizontal .checkbox,.form-horizontal .radio-inline,.form-horizontal .checkbox-inline{margin-top:0;margin-bottom:0;padding-top:7px}.form-horizontal .radio,.form-horizontal .checkbox{min-height:27px}.form-horizontal .form-group{margin-left:-15px;margin-right:-15px}.form-horizontal .form-group:before{content:\" \";display:table}.form-horizontal .form-group:after{content:\" \";display:table;clear:both}.form-horizontal .has-feedback .form-control-feedback{top:0;right:15px}.btn{display:inline-block;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.btn:focus,.btn:active:focus,.btn.active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn:hover,.btn:focus{color:#333;text-decoration:none}.btn:active,.btn.active{outline:0;background-image:none;box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;pointer-events:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none}.btn-default{color:#333;background-color:#fff;border-color:#ccc}.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open>.btn-default.dropdown-toggle{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default:active,.btn-default.active,.open>.btn-default.dropdown-toggle{background-image:none}.btn-default.disabled,.btn-default.disabled:hover,.btn-default.disabled:focus,.btn-default.disabled:active,.btn-default.disabled.active,.btn-default[disabled],.btn-default[disabled]:hover,.btn-default[disabled]:focus,.btn-default[disabled]:active,.btn-default[disabled].active,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default:hover,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default.active{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333}.btn-primary{color:#fff;background-color:#428bca;border-color:#357ebd}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open>.btn-primary.dropdown-toggle{color:#fff;background-color:#3071a9;border-color:#285e8e}.btn-primary:active,.btn-primary.active,.open>.btn-primary.dropdown-toggle{background-image:none}.btn-primary.disabled,.btn-primary.disabled:hover,.btn-primary.disabled:focus,.btn-primary.disabled:active,.btn-primary.disabled.active,.btn-primary[disabled],.btn-primary[disabled]:hover,.btn-primary[disabled]:focus,.btn-primary[disabled]:active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary:hover,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#357ebd}.btn-primary .badge{color:#428bca;background-color:#fff}.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open>.btn-success.dropdown-toggle{color:#fff;background-color:#449d44;border-color:#398439}.btn-success:active,.btn-success.active,.open>.btn-success.dropdown-toggle{background-image:none}.btn-success.disabled,.btn-success.disabled:hover,.btn-success.disabled:focus,.btn-success.disabled:active,.btn-success.disabled.active,.btn-success[disabled],.btn-success[disabled]:hover,.btn-success[disabled]:focus,.btn-success[disabled]:active,.btn-success[disabled].active,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success:hover,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success.active{background-color:#5cb85c;border-color:#4cae4c}.btn-success .badge{color:#5cb85c;background-color:#fff}.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open>.btn-info.dropdown-toggle{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn-info:active,.btn-info.active,.open>.btn-info.dropdown-toggle{background-image:none}.btn-info.disabled,.btn-info.disabled:hover,.btn-info.disabled:focus,.btn-info.disabled:active,.btn-info.disabled.active,.btn-info[disabled],.btn-info[disabled]:hover,.btn-info[disabled]:focus,.btn-info[disabled]:active,.btn-info[disabled].active,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info:hover,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info.active{background-color:#5bc0de;border-color:#46b8da}.btn-info .badge{color:#5bc0de;background-color:#fff}.btn-warning{color:#fff;background-color:#f0ad4e;border-color:#eea236}.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open>.btn-warning.dropdown-toggle{color:#fff;background-color:#ec971f;border-color:#d58512}.btn-warning:active,.btn-warning.active,.open>.btn-warning.dropdown-toggle{background-image:none}.btn-warning.disabled,.btn-warning.disabled:hover,.btn-warning.disabled:focus,.btn-warning.disabled:active,.btn-warning.disabled.active,.btn-warning[disabled],.btn-warning[disabled]:hover,.btn-warning[disabled]:focus,.btn-warning[disabled]:active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning:hover,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning.active{background-color:#f0ad4e;border-color:#eea236}.btn-warning .badge{color:#f0ad4e;background-color:#fff}.btn-danger{color:#fff;background-color:#d9534f;border-color:#d43f3a}.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open>.btn-danger.dropdown-toggle{color:#fff;background-color:#c9302c;border-color:#ac2925}.btn-danger:active,.btn-danger.active,.open>.btn-danger.dropdown-toggle{background-image:none}.btn-danger.disabled,.btn-danger.disabled:hover,.btn-danger.disabled:focus,.btn-danger.disabled:active,.btn-danger.disabled.active,.btn-danger[disabled],.btn-danger[disabled]:hover,.btn-danger[disabled]:focus,.btn-danger[disabled]:active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger:hover,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger.active{background-color:#d9534f;border-color:#d43f3a}.btn-danger .badge{color:#d9534f;background-color:#fff}.btn-link{color:#428bca;font-weight:400;cursor:pointer;border-radius:0}.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;box-shadow:none}.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active{border-color:transparent}.btn-link:hover,.btn-link:focus{color:#2a6496;text-decoration:underline;background-color:transparent}.btn-link[disabled]:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:hover,fieldset[disabled] .btn-link:focus{color:#777;text-decoration:none}.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}.btn-sm{padding:5px 10px}.btn-sm,.btn-xs{font-size:12px;line-height:1.5;border-radius:3px}.btn-xs{padding:1px 5px}.btn-block{display:block;width:100%}.btn-block+.btn-block{margin-top:5px}input[type=\"submit\"].btn-block,input[type=\"reset\"].btn-block,input[type=\"button\"].btn-block{width:100%}.fade{opacity:0;-webkit-transition:opacity .15s linear;transition:opacity .15s linear}.fade.in{opacity:1}.collapse{display:none}.collapse.in{display:block}tr.collapse.in{display:table-row}tbody.collapse.in{display:table-row-group}.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition:height .35s ease;transition:height .35s ease}.input-group{position:relative;display:table;border-collapse:separate}.input-group[class*=\"col-\"]{float:none;padding-left:0;padding-right:0}.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-bottom:0}.input-group-addon,.input-group-btn,.input-group .form-control{display:table-cell}.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child){border-radius:0}.input-group-addon{white-space:nowrap}.input-group-addon,.input-group-btn{width:1%;vertical-align:middle}.input-group-addon{padding:6px 12px;font-size:14px;font-weight:400;line-height:1;color:#555;text-align:center;background-color:#eee;border:1px solid #ccc;border-radius:4px}.input-group-addon.input-sm,.form-horizontal .form-group-sm .input-group-addon.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.input-group-addon.btn{padding:5px 10px;font-size:12px;border-radius:3px}.input-group-addon.input-lg,.form-horizontal .form-group-lg .input-group-addon.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.input-group-addon.btn{padding:10px 16px;font-size:18px;border-radius:6px}.input-group-addon input[type=\"radio\"],.input-group-addon input[type=\"checkbox\"]{margin-top:0}.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn{border-bottom-right-radius:0;border-top-right-radius:0}.input-group-addon:first-child{border-right:0}.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn{border-bottom-left-radius:0;border-top-left-radius:0}.input-group-addon:last-child{border-left:0}.input-group-btn{font-size:0;white-space:nowrap}.input-group-btn,.input-group-btn>.btn{position:relative}.input-group-btn>.btn+.btn{margin-left:-1px}.input-group-btn>.btn:hover,.input-group-btn>.btn:focus,.input-group-btn>.btn:active{z-index:2}.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group{margin-right:-1px}.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{margin-left:-1px}.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.4285714;text-decoration:none;color:#428bca;background-color:#fff;border:1px solid #ddd;margin-left:-1px}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}.pagination>li>a:hover,.pagination>li>a:focus,.pagination>li>span:hover,.pagination>li>span:focus{color:#2a6496;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>a:hover,.pagination>.active>a:focus,.pagination>.active>span,.pagination>.active>span:hover,.pagination>.active>span:focus{z-index:2;color:#fff;background-color:#428bca;border-color:#428bca;cursor:default}.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#777;background-color:#fff;border-color:#ddd;cursor:not-allowed}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-bottom-right-radius:6px;border-top-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-bottom-right-radius:3px;border-top-right-radius:3px}.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50)}button.close{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}.modal-open,.modal{overflow:hidden}.modal{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0}.modal.fade .modal-dialog{-webkit-transform:translate3d(0,-25%,0);transform:translate3d(0,-25%,0);-webkit-transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out}.modal.in .modal-dialog{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;box-shadow:0 3px 9px rgba(0,0,0,.5);background-clip:padding-box;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}.modal-header{padding:15px;border-bottom:1px solid #e5e5e5;min-height:16.4285714px}.modal-header .close{margin-top:-2px}.modal-title{margin:0;line-height:1.4285714}.modal-body{position:relative;padding:15px}.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}.modal-footer:before,.modal-footer:after{content:\" \";display:table}.modal-footer:after{clear:both}.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}.clearfix:before,.clearfix:after{content:\" \";display:table}.clearfix:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right!important}.pull-left{float:left!important}.hide{display:none!important}.show{display:block!important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none!important;visibility:hidden!important}.affix{position:fixed;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.hljs{display:block;overflow-x:auto;padding:.5em;background:#002b36;color:#839496;-webkit-text-size-adjust:none}.hljs-comment,.hljs-template_comment,.diff .hljs-header,.hljs-doctype,.hljs-pi,.lisp .hljs-string,.hljs-javadoc{color:#586e75}.hljs-keyword,.hljs-winutils,.method,.hljs-addition,.css .hljs-tag,.hljs-request,.hljs-status,.nginx .hljs-title{color:#859900}.hljs-number,.hljs-command,.hljs-string,.hljs-tag .hljs-value,.hljs-rules .hljs-value,.hljs-phpdoc,.hljs-dartdoc,.tex .hljs-formula,.hljs-regexp,.hljs-hexcolor,.hljs-link_url{color:#2aa198}.hljs-title,.hljs-localvars,.hljs-chunk,.hljs-decorator,.hljs-built_in,.hljs-identifier,.vhdl .hljs-literal,.hljs-id,.css .hljs-function{color:#268bd2}.hljs-attribute,.hljs-variable,.lisp .hljs-body,.smalltalk .hljs-number,.hljs-constant,.hljs-class .hljs-title,.hljs-parent,.hljs-type,.hljs-link_reference{color:#b58900}.hljs-preprocessor,.hljs-preprocessor .hljs-keyword,.hljs-pragma,.hljs-shebang,.hljs-symbol,.hljs-symbol .hljs-string,.diff .hljs-change,.hljs-special,.hljs-attr_selector,.hljs-subst,.hljs-cdata,.css .hljs-pseudo,.hljs-header{color:#cb4b16}.hljs-deletion,.hljs-important{color:#dc322f}.hljs-link_label{color:#6c71c4}.tex .hljs-formula{background:#073642}*,*:before,*:after{box-sizing:border-box}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}images{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd{font-size:1em}code,kbd,pre,samp{font-family:monospace,monospace}samp{font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=\"button\"],input[type=\"reset\"],input[type=\"submit\"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=\"checkbox\"],input[type=\"radio\"]{box-sizing:border-box;padding:0}input[type=\"number\"]::-webkit-inner-spin-button,input[type=\"number\"]::-webkit-outer-spin-button{height:auto}input[type=\"search\"]{-webkit-appearance:textfield;box-sizing:content-box}input[type=\"search\"]::-webkit-search-cancel-button,input[type=\"search\"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}.debug{background-color:#ffc0cb!important}.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.ir{background-color:transparent;border:0;overflow:hidden}.ir::before{content:'';display:block;height:150%;width:0}html{font-size:.875em;background:#fff;color:#373D49}html,body{font-family:Georgia,Cambria,serif;height:100%}body{font-size:1rem;font-weight:400;line-height:2rem}ul,ol{margin-bottom:.83999rem;padding-top:.16001rem}li{-webkit-font-feature-settings:'kern' 1,'onum' 1,'liga' 1;font-feature-settings:'kern' 1,'onum' 1,'liga' 1;margin-left:1rem}li>ul,li>ol{margin-bottom:0}p{padding-top:.66001rem;-webkit-font-feature-settings:'kern' 1,'onum' 1,'liga' 1;font-feature-settings:'kern' 1,'onum' 1,'liga' 1;margin-top:0}p,pre{margin-bottom:1.33999rem}pre{font-size:1rem;padding:.66001rem 9.5px 9.5px;line-height:2rem;background:-webkit-linear-gradient(top,#fff 0,#fff .75rem,#f5f7fa .75rem,#f5f7fa 2.75rem,#fff 2.75rem,#fff 4rem);background:linear-gradient(to bottom,#fff 0,#fff .75rem,#f5f7fa .75rem,#f5f7fa 2.75rem,#fff 2.75rem,#fff 4rem);background-size:100% 4rem;border-color:#D3DAEA}blockquote{margin:0}blockquote p{font-size:1rem;margin-bottom:.33999rem;font-style:italic;padding:.66001rem 1rem 1rem;border-left:3px solid #A0AABF}th,td{padding:12px}h1,h2,h3,h4,h5,h6{font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;-webkit-font-feature-settings:'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;font-feature-settings:'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;font-style:normal;font-weight:600;margin-top:0}h1{line-height:3rem;font-size:2.0571429rem;margin-bottom:.21999rem;padding-top:.78001rem}h2{font-size:1.953125rem;margin-bottom:.1835837rem;padding-top:.8164163rem}h2,h3{line-height:3rem}h3{font-size:1.6457143rem;margin-bottom:.07599rem;padding-top:.92401rem}h4{font-size:1.5625rem;margin-bottom:.546865rem;padding-top:.453135rem}h5{font-size:1.25rem;margin-bottom:-.56251rem;padding-top:.56251rem}h6{font-size:1rem;margin-bottom:-.65001rem;padding-top:.65001rem}a{cursor:pointer;color:#35D7BB;text-decoration:none}a:hover,a:focus{border-bottom-color:#35D7BB;color:#dff9f4}img{height:auto;max-width:100%}.g{display:block}.g:after{clear:both;content:'';display:table}.g-b{float:left;margin:0;width:100%}.g{margin-left:-16px;margin-right:-16px}.g-b{padding-left:16px;padding-right:16px}.g-b--center{display:block;float:none;margin:0 auto}.g-b--right{float:right}.g-b--1of1{width:100%}.g-b--1of2,.g-b--2of4,.g-b--3of6,.g-b--4of8,.g-b--5of10,.g-b--6of12{width:50%}.g-b--1of3,.g-b--2of6,.g-b--4of12{width:33.333%}.g-b--2of3,.g-b--4of6,.g-b--8of12{width:66.666%}.g-b--1of4,.g-b--2of8,.g-b--3of12{width:25%}.g-b--3of4,.g-b--6of8,.g-b--9of12{width:75%}.g-b--1of5,.g-b--2of10{width:20%}.g-b--2of5,.g-b--4of10{width:40%}.g-b--3of5,.g-b--6of10{width:60%}.g-b--4of5,.g-b--8of10{width:80%}.g-b--1of6,.g-b--2of12{width:16.666%}.g-b--5of6,.g-b--10of12{width:83.333%}.g-b--1of8{width:12.5%}.g-b--3of8{width:37.5%}.g-b--5of8{width:62.5%}.g-b--7of8{width:87.5%}.g-b--1of10{width:10%}.g-b--3of10{width:30%}.g-b--7of10{width:70%}.g-b--9of10{width:90%}.g-b--1of12{width:8.333%}.g-b--5of12{width:41.666%}.g-b--7of12{width:58.333%}.g-b--11of12{width:91.666%}.g-b--push--1of1{margin-left:100%}.g-b--push--1of2,.g-b--push--2of4,.g-b--push--3of6,.g-b--push--4of8,.g-b--push--5of10,.g-b--push--6of12{margin-left:50%}.g-b--push--1of3,.g-b--push--2of6,.g-b--push--4of12{margin-left:33.333%}.g-b--push--2of3,.g-b--push--4of6,.g-b--push--8of12{margin-left:66.666%}.g-b--push--1of4,.g-b--push--2of8,.g-b--push--3of12{margin-left:25%}.g-b--push--3of4,.g-b--push--6of8,.g-b--push--9of12{margin-left:75%}.g-b--push--1of5,.g-b--push--2of10{margin-left:20%}.g-b--push--2of5,.g-b--push--4of10{margin-left:40%}.g-b--push--3of5,.g-b--push--6of10{margin-left:60%}.g-b--push--4of5,.g-b--push--8of10{margin-left:80%}.g-b--push--1of6,.g-b--push--2of12{margin-left:16.666%}.g-b--push--5of6,.g-b--push--10of12{margin-left:83.333%}.g-b--push--1of8{margin-left:12.5%}.g-b--push--3of8{margin-left:37.5%}.g-b--push--5of8{margin-left:62.5%}.g-b--push--7of8{margin-left:87.5%}.g-b--push--1of10{margin-left:10%}.g-b--push--3of10{margin-left:30%}.g-b--push--7of10{margin-left:70%}.g-b--push--9of10{margin-left:90%}.g-b--push--1of12{margin-left:8.333%}.g-b--push--5of12{margin-left:41.666%}.g-b--push--7of12{margin-left:58.333%}.g-b--push--11of12{margin-left:91.666%}.g-b--pull--1of1{margin-right:100%}.g-b--pull--1of2,.g-b--pull--2of4,.g-b--pull--3of6,.g-b--pull--4of8,.g-b--pull--5of10,.g-b--pull--6of12{margin-right:50%}.g-b--pull--1of3,.g-b--pull--2of6,.g-b--pull--4of12{margin-right:33.333%}.g-b--pull--2of3,.g-b--pull--4of6,.g-b--pull--8of12{margin-right:66.666%}.g-b--pull--1of4,.g-b--pull--2of8,.g-b--pull--3of12{margin-right:25%}.g-b--pull--3of4,.g-b--pull--6of8,.g-b--pull--9of12{margin-right:75%}.g-b--pull--1of5,.g-b--pull--2of10{margin-right:20%}.g-b--pull--2of5,.g-b--pull--4of10{margin-right:40%}.g-b--pull--3of5,.g-b--pull--6of10{margin-right:60%}.g-b--pull--4of5,.g-b--pull--8of10{margin-right:80%}.g-b--pull--1of6,.g-b--pull--2of12{margin-right:16.666%}.g-b--pull--5of6,.g-b--pull--10of12{margin-right:83.333%}.g-b--pull--1of8{margin-right:12.5%}.g-b--pull--3of8{margin-right:37.5%}.g-b--pull--5of8{margin-right:62.5%}.g-b--pull--7of8{margin-right:87.5%}.g-b--pull--1of10{margin-right:10%}.g-b--pull--3of10{margin-right:30%}.g-b--pull--7of10{margin-right:70%}.g-b--pull--9of10{margin-right:90%}.g-b--pull--1of12{margin-right:8.333%}.g-b--pull--5of12{margin-right:41.666%}.g-b--pull--7of12{margin-right:58.333%}.g-b--pull--11of12{margin-right:91.666%}.splashscreen{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#373D49;z-index:22}.splashscreen-dillinger{width:260px;height:auto;display:block;margin:0 auto;padding-bottom:3rem}.splashscreen p{font-size:1.25rem;padding-top:.56251rem;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;font-weight:400;text-align:center;max-width:500px;margin:0 auto;color:#FFF}.sp-center{position:relative;-webkit-transform:translateY(-50%);transform:translateY(-50%);top:50%}.open-menu>.wrapper{overflow-x:hidden}.page{margin:0 auto;position:relative;top:0;left:0;width:100%;height:100%;z-index:2;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;background-color:#fff;padding-top:51px;will-change:left}.open-menu .page{left:270px}.title{line-height:1rem;font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem;font-weight:500;color:#A0AABF;letter-spacing:1px;text-transform:uppercase;padding-left:16px;padding-right:16px;margin-top:1rem}.split-preview .title{padding-left:0}.title-document{line-height:1rem;font-size:1.25rem;margin-bottom:.89999rem;padding-top:.10001rem;font-weight:400;font-family:\"Ubuntu Mono\",Monaco;color:#373D49;padding-left:16px;padding-right:16px;width:80%;min-width:300px;outline:0;border:none}.icon{display:block;margin:0 auto;width:36px;height:36px;border-radius:3px;text-align:center}.icon svg{display:inline-block;margin-left:auto;margin-right:auto}.icon-preview{background-color:#373D49;line-height:40px}.icon-preview svg{width:19px;height:12px}.icon-settings{background-color:#373D49;line-height:44px}.icon-settings svg{width:18px;height:18px}.icon-link{width:16px;height:16px;line-height:1;margin-right:24px;text-align:right}.navbar{background-color:#373D49;height:51px;width:100%;position:fixed;top:0;left:0;z-index:6;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;will-change:left}.navbar:after{content:\"\";display:table;clear:both}.open-menu .navbar{left:270px}.navbar-brand{float:left;margin:0 0 0 24px;padding:0;line-height:42px}.navbar-brand svg{width:85px;height:11px}.nav-left{float:left}.nav-right{float:right}.nav-sidebar{width:100%}.menu{list-style:none;margin:0;padding:0}.menu a{border:0;color:#A0AABF;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;outline:none;text-transform:uppercase}.menu a:hover{color:#35D7BB}.menu .menu-item{border:0;display:none;float:left;margin:0;position:relative}.menu .menu-item>a{display:block;font-size:12px;height:51px;letter-spacing:1px;line-height:51px;padding:0 24px}.menu .menu-item--settings,.menu .menu-item--preview,.menu .menu-item--save-to.in-sidebar,.menu .menu-item--import-from.in-sidebar,.menu .menu-item--link-unlink.in-sidebar,.menu .menu-item--documents.in-sidebar{display:block}.menu .menu-item--documents{padding-bottom:1rem}.menu .menu-item.open>a{background-color:#1D212A}.menu .menu-item-icon>a{height:auto;padding:0}.menu .menu-item-icon:hover>a{background-color:transparent}.menu .menu-link.open i{background-color:#1D212A}.menu .menu-link.open g{fill:#35D7BB}.menu .menu-link-preview,.menu .menu-link-settings{margin-top:8px;width:51px}.menu-sidebar{width:100%}.menu-sidebar .menu-item{float:none;margin-bottom:1px;width:100%}.menu-sidebar .menu-item.open>a{background-color:#373D49}.menu-sidebar .open .caret{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.menu-sidebar>.menu-item:hover .dropdown a,.menu-sidebar>.menu-item:hover .settings a{background-color:transparent}.menu-sidebar .menu-link{background-color:#373D49;font-weight:600}.menu-sidebar .menu-link:after{content:\"\";display:table;clear:both}.menu-sidebar .menu-link>span{float:left}.menu-sidebar .menu-link>.caret{float:right;text-align:right;top:22px}.menu-sidebar .dropdown,.menu-sidebar .settings{background-color:transparent;position:static;width:100%}.dropdown{position:absolute;right:0;top:51px;width:188px}.dropdown,.settings{display:none;background-color:#1D212A}.dropdown{padding:0}.dropdown,.settings,.sidebar-list{list-style:none;margin:0}.sidebar-list{padding:0}.dropdown li{margin:32px 0;padding:0 0 0 32px}.dropdown li,.settings li{line-height:1}.sidebar-list li{line-height:1;margin:32px 0;padding:0 0 0 32px}.dropdown a{color:#D0D6E2}.dropdown a,.settings a,.sidebar-list a{display:block;text-transform:none}.sidebar-list a{color:#D0D6E2}.dropdown a:after,.settings a:after,.sidebar-list a:after{content:\"\";display:table;clear:both}.dropdown .icon,.settings .icon,.sidebar-list .icon{float:right}.open .dropdown,.open .settings,.open .sidebar-list{display:block}.open .dropdown.collapse,.open .collapse.settings,.open .sidebar-list.collapse{display:none}.open .dropdown.collapse.in,.open .collapse.in.settings,.open .sidebar-list.collapse.in{display:block}.dropdown .unlinked .icon,.settings .unlinked .icon,.sidebar-list .unlinked .icon{opacity:.3}.dropdown.documents li,.documents.settings li,.sidebar-list.documents li{background-image:url(\"../img/icons/file.svg\");background-position:240px center;background-repeat:no-repeat;background-size:14px 16px;padding:3px 32px}.dropdown.documents li.octocat,.documents.settings li.octocat,.sidebar-list.documents li.octocat{background-image:url(\"../img/icons/octocat.svg\");background-position:234px center;background-size:24px 24px}.dropdown.documents li:last-child,.documents.settings li:last-child,.sidebar-list.documents li:last-child{margin-bottom:1rem}.dropdown.documents li.active a,.documents.settings li.active a,.sidebar-list.documents li.active a{color:#35D7BB}.settings{position:fixed;top:67px;right:16px;border-radius:3px;width:288px;background-color:#373D49;padding:16px;z-index:7}.show-settings .settings{display:block}.settings .has-checkbox{float:left}.settings a{font-size:1.25rem;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;line-height:28px;color:#D0D6E2}.settings a:after{content:\"\";display:table;clear:both}.settings a:hover{color:#35D7BB}.settings li{border-bottom:1px solid #4F535B;margin:0;padding:16px 0}.settings li:last-child{border-bottom:none}.brand{border:none;display:block}.brand:hover g{fill:#35D7BB}.toggle{display:block;float:left;height:16px;padding:25px 16px 26px;width:40px}.toggle span:after,.toggle span:before{content:'';left:0;position:absolute;top:-6px}.toggle span:after{top:6px}.toggle span{display:block;position:relative}.toggle span,.toggle span:after,.toggle span:before{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:#D3DAEA;height:2px;-webkit-transition:all .3s;transition:all .3s;width:20px}.open-menu .toggle span{background-color:transparent}.open-menu .toggle span:before{-webkit-transform:rotate(45deg) translate(3px,3px);transform:rotate(45deg) translate(3px,3px)}.open-menu .toggle span:after{-webkit-transform:rotate(-45deg) translate(5px,-6px);transform:rotate(-45deg) translate(5px,-6px)}.caret{display:inline-block;width:0;height:0;margin-left:6px;vertical-align:middle;position:relative;top:-1px;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent}.sidebar{overflow:auto;height:100%;padding-right:15px;padding-bottom:15px;width:285px}.sidebar-wrapper{-webkit-overflow-scrolling:touch;background-color:#2B2F36;left:0;height:100%;overflow-y:hidden;position:fixed;top:0;width:285px;z-index:1}.sidebar-branding{width:160px;padding:0;margin:16px auto}.header{border-bottom:1px solid #E8E8E8;position:relative}.words,.characters{line-height:1rem;font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem;font-weight:500;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;color:#A0AABF;letter-spacing:1px;text-transform:uppercase;z-index:5;position:absolute;right:16px;top:0}.words span,.characters span{color:#000}.words+.characters{top:22px}.btn{text-align:center;display:inline-block;width:100%;text-transform:uppercase;font-weight:600;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;font-size:14px;text-shadow:0 1px 0 #1b8b77;padding:16px 24px;background-color:#35D7BB;border-radius:3px;margin:0 auto 16px;line-height:1;color:#fff;-webkit-transition:all .15s linear;transition:all .15s linear;-webkit-font-smoothing:antialiased}.btn--new,.btn--save{display:block;width:238px}.btn--new:hover,.btn--new:focus,.btn--save:hover,.btn--save:focus{color:#fff;border-bottom-color:transparent;box-shadow:0 1px 3px #24b59c;text-shadow:0 1px 0 #24b59c}.btn--save{background-color:#4A5261;text-shadow:0 1px 1px #1e2127}.btn--save:hover,.btn--save:focus{color:#fff;border-bottom-color:transparent;box-shadow:0 1px 5px #08090a;text-shadow:none}.btn--delete{display:block;width:238px;background-color:transparent;font-size:12px;text-shadow:none}.btn--delete:hover,.btn--delete:focus{color:#fff;border-bottom-color:transparent;text-shadow:0 1px 0 #08090a;opacity:.8}.btn--delete-modal,.btn--ok,.btn--close{border-top:0;background-color:#4A5261;text-shadow:0 1px 0 #08090a;margin:0}.btn--delete-modal:hover,.btn--delete-modal:focus,.btn--ok:hover,.btn--ok:focus,.btn--close:hover,.btn--close:focus{color:#fff;background-color:#292d36;text-shadow:none}.btn--delete-modal{display:inline;width:auto}.overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(55,61,73,.8);-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;will-change:left,opacity,visibility;z-index:5;opacity:0;visibility:hidden}.show-settings .overlay{visibility:visible;opacity:1}.switch{float:right;line-height:1}.switch input{display:none}.switch small{display:inline-block;cursor:pointer;padding:0 24px 0 0;-webkit-transition:all ease .2s;transition:all ease .2s;background-color:#2B2F36;border-color:#2B2F36}.switch small,.switch small:before{border-radius:30px;box-shadow:inset 0 0 2px 0 #14171F}.switch small:before{display:block;content:'';width:28px;height:28px;background:#fff}.switch.checked small{padding-right:0;padding-left:24px;background-color:#35D7BB;box-shadow:none}.modal--dillinger.about .modal-dialog{font-size:1.25rem;max-width:500px}.modal--dillinger.scope .modal-dialog{max-width:300px;margin:5rem auto}.modal--dillinger .modal-dialog{max-width:600px;width:auto;margin:5rem auto}.modal--dillinger .modal-content{background:#373D49;border-radius:3px;box-shadow:0 2px 5px 0 #2C3B59;color:#fff;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;font-weight:400;padding:2rem}.modal--dillinger ul{list-style-type:disc;margin:1rem 0;padding:0 0 0 1rem}.modal--dillinger li{padding:0;margin:0}.modal--dillinger .modal-header{border:0;padding:0}.modal--dillinger .modal-body{padding:0}.modal--dillinger .modal-footer{border:0;padding:0}.modal--dillinger .close{color:#fff;opacity:1}.modal-backdrop{background-color:#373D49}.pagination--dillinger{padding:0!important;margin:1.5rem 0!important;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:stretch;align-content:stretch}.pagination--dillinger,.pagination--dillinger li{display:-webkit-box;display:-ms-flexbox;display:flex}.pagination--dillinger li{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;text-align:center}.pagination--dillinger li:first-child>a,.pagination--dillinger li.disabled>a,.pagination--dillinger li.disabled>a:hover,.pagination--dillinger li.disabled>a:focus,.pagination--dillinger li>a{background-color:transparent;border-color:#4F535B;border-right-color:transparent}.pagination--dillinger li.active>a,.pagination--dillinger li.active>a:hover,.pagination--dillinger li.active>a:focus{border-color:#4A5261;background-color:#4A5261;color:#fff}.pagination--dillinger li>a{float:none;color:#fff;width:100%;display:block;text-align:center;margin:0;border-right-color:transparent;padding:6px}.pagination--dillinger li>a:hover,.pagination--dillinger li>a:focus{border-color:#35D7BB;background-color:#35D7BB;color:#fff}.pagination--dillinger li:last-child a{border-color:#4F535B}.pagination--dillinger li:first-child a{border-right-color:transparent}.diNotify{position:absolute;z-index:9999;left:0;right:0;top:0;margin:0 auto;max-width:400px;text-align:center;-webkit-transition:top .5s ease-in-out,opacity .5s ease-in-out;transition:top .5s ease-in-out,opacity .5s ease-in-out;visibility:hidden}.diNotify-body{-webkit-font-smoothing:antialiased;background-color:#35D7BB;background:#666E7F;border-radius:3px;color:#fff;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;font-weight:400;overflow:hidden;padding:1rem 2rem .5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.diNotify-icon{display:block;width:16px;height:16px;line-height:16px;position:relative;top:3px}.diNotify-message{padding-left:1rem}.zen-wrapper{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;z-index:10;background-color:#FFF;opacity:0;-webkit-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out}.zen-wrapper.on{opacity:1}.enter-zen-mode{background-image:url(\"../img/icons/enter-zen.svg\");right:.5rem;top:.313rem;display:none}.enter-zen-mode,.close-zen-mode{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;background-repeat:no-repeat;width:32px;height:32px;display:block;position:absolute}.close-zen-mode{background-image:url(\"../img/icons/exit-zen.svg\");right:1rem;top:1rem}.zen-page{position:relative;top:0;bottom:0;z-index:11;height:100%;width:100%}#zen{font-size:1.25rem;width:300px;height:80%;margin:0 auto;position:relative;top:10%}#zen:before,#zen:after{content:\"\";position:absolute;height:10%;width:100%;z-index:12;pointer-events:none}#preview .table{width:auto}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:.1px;z-index:99999;display:block}.ui-resizable-e{background-color:#666;border-right:8px solid #e8e8e8;border-left:1px solid #222;width:10px;z-index:88!important;position:relative}.ui-resizable-e:after{content:\"-\";display:block;position:absolute;top:calc(50% - 16px);left:0;height:25px;width:2px;background-color:rgba(0,0,0,.4);margin:3px}#editor{cursor:ew-resize;position:relative;z-index:auto}.profile-pic{float:left;width:250px}#_default_ a::before{color:#A0AABF}#_default_ img{display:none}#_default_ #_default_{display:block;float:left;max-width:38%;word-wrap:break-word}#_default_ .default-ad{display:none}#_default_ ._default_{display:block}#_default_ a{color:#35d7bb;text-decoration:none}#_default_ a:hover{color:#8ae8d8}#_default_ .default-image{display:none}#_default_ .default-title:after{content:\" — \"}#_default_ .default-title,#_default_ .default-description{display:inline}#_default_ .default-title{position:relative;font-weight:600;display:none}#_default_ a:before{position:relative;top:0;padding:5px;color:#a0aabf;content:\"Ad\";text-transform:uppercase;font-size:8px;font-family:Verdana,sans-serif}#_default_{display:block;float:left;max-width:38%;word-wrap:break-word}#_default_ ._default_{display:block;font-size:.75rem;height:51px;letter-spacing:1px;line-height:1rem;padding:18px 24px}.split{overflow:scroll;padding:0!important}.split-editor{padding-left:0;padding-right:0;position:relative;z-index:3}.show-preview .split-editor{display:none}.split-preview{background-color:#fff;display:none;top:0;position:relative;z-index:4}.show-preview .split-preview{display:block}#editor{font-size:1rem;font-family:\"Ubuntu Mono\",Monaco;font-weight:400;line-height:2rem;width:100%;height:100%}#editor .ace_gutter{-webkit-font-smoothing:antialiased}.editor-header{width:50%;float:left;border-bottom:1px solid #E8E8E8;position:relative}.editor-header--first{border-right:1px solid #E8E8E8}.editor-header .title{display:inline-block}.preview-html{padding:15px}.preview-html a{color:#A0AABF;text-decoration:underline}.preview-src{white-space:normal}.preview-mode-toggle-src{background-image:url(\"../img/icons/code.svg\")}.preview-mode-toggle-src,.preview-mode-toggle-html{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;background-repeat:no-repeat;width:32px;height:32px;display:block;position:absolute;right:.5rem;top:.5rem;display:none}.preview-mode-toggle-html{background-image:url(\"../img/icons/eye.svg\")}.sr-only{visibility:hidden;text-overflow:110%;overflow:hidden;top:-100px;position:absolute}.mnone{margin:0!important}@media screen and (min-width:27.5em){html{font-size:.875em}body{font-size:1rem}ul,ol{margin-bottom:.83999rem;padding-top:.16001rem}p{padding-top:.66001rem}p,pre{margin-bottom:1.33999rem}pre,blockquote p{font-size:1rem;padding-top:.66001rem}blockquote p{margin-bottom:.33999rem}h1{font-size:2.0571429rem;margin-bottom:.21999rem;padding-top:.78001rem}h2{font-size:1.953125rem;margin-bottom:.1835837rem;padding-top:.8164163rem}h3{font-size:1.6457143rem;margin-bottom:.07599rem;padding-top:.92401rem}h4{font-size:1.5625rem;margin-bottom:.546865rem;padding-top:.453135rem}h5{font-size:1.25rem;margin-bottom:-.56251rem;padding-top:.56251rem}h6{font-size:1rem;margin-bottom:-.65001rem;padding-top:.65001rem}.g{margin-left:-16px;margin-right:-16px}.g-b{padding-left:16px;padding-right:16px}.g-b--m1of1{width:100%}.g-b--m1of2,.g-b--m2of4,.g-b--m3of6,.g-b--m4of8,.g-b--m5of10,.g-b--m6of12{width:50%}.g-b--m1of3,.g-b--m2of6,.g-b--m4of12{width:33.333%}.g-b--m2of3,.g-b--m4of6,.g-b--m8of12{width:66.666%}.g-b--m1of4,.g-b--m2of8,.g-b--m3of12{width:25%}.g-b--m3of4,.g-b--m6of8,.g-b--m9of12{width:75%}.g-b--m1of5,.g-b--m2of10{width:20%}.g-b--m2of5,.g-b--m4of10{width:40%}.g-b--m3of5,.g-b--m6of10{width:60%}.g-b--m4of5,.g-b--m8of10{width:80%}.g-b--m1of6,.g-b--m2of12{width:16.666%}.g-b--m5of6,.g-b--m10of12{width:83.333%}.g-b--m1of8{width:12.5%}.g-b--m3of8{width:37.5%}.g-b--m5of8{width:62.5%}.g-b--m7of8{width:87.5%}.g-b--m1of10{width:10%}.g-b--m3of10{width:30%}.g-b--m7of10{width:70%}.g-b--m9of10{width:90%}.g-b--m1of12{width:8.333%}.g-b--m5of12{width:41.666%}.g-b--m7of12{width:58.333%}.g-b--m11of12{width:91.666%}.g-b--push--m1of1{margin-left:100%}.g-b--push--m1of2,.g-b--push--m2of4,.g-b--push--m3of6,.g-b--push--m4of8,.g-b--push--m5of10,.g-b--push--m6of12{margin-left:50%}.g-b--push--m1of3,.g-b--push--m2of6,.g-b--push--m4of12{margin-left:33.333%}.g-b--push--m2of3,.g-b--push--m4of6,.g-b--push--m8of12{margin-left:66.666%}.g-b--push--m1of4,.g-b--push--m2of8,.g-b--push--m3of12{margin-left:25%}.g-b--push--m3of4,.g-b--push--m6of8,.g-b--push--m9of12{margin-left:75%}.g-b--push--m1of5,.g-b--push--m2of10{margin-left:20%}.g-b--push--m2of5,.g-b--push--m4of10{margin-left:40%}.g-b--push--m3of5,.g-b--push--m6of10{margin-left:60%}.g-b--push--m4of5,.g-b--push--m8of10{margin-left:80%}.g-b--push--m1of6,.g-b--push--m2of12{margin-left:16.666%}.g-b--push--m5of6,.g-b--push--m10of12{margin-left:83.333%}.g-b--push--m1of8{margin-left:12.5%}.g-b--push--m3of8{margin-left:37.5%}.g-b--push--m5of8{margin-left:62.5%}.g-b--push--m7of8{margin-left:87.5%}.g-b--push--m1of10{margin-left:10%}.g-b--push--m3of10{margin-left:30%}.g-b--push--m7of10{margin-left:70%}.g-b--push--m9of10{margin-left:90%}.g-b--push--m1of12{margin-left:8.333%}.g-b--push--m5of12{margin-left:41.666%}.g-b--push--m7of12{margin-left:58.333%}.g-b--push--m11of12{margin-left:91.666%}.g-b--pull--m1of1{margin-right:100%}.g-b--pull--m1of2,.g-b--pull--m2of4,.g-b--pull--m3of6,.g-b--pull--m4of8,.g-b--pull--m5of10,.g-b--pull--m6of12{margin-right:50%}.g-b--pull--m1of3,.g-b--pull--m2of6,.g-b--pull--m4of12{margin-right:33.333%}.g-b--pull--m2of3,.g-b--pull--m4of6,.g-b--pull--m8of12{margin-right:66.666%}.g-b--pull--m1of4,.g-b--pull--m2of8,.g-b--pull--m3of12{margin-right:25%}.g-b--pull--m3of4,.g-b--pull--m6of8,.g-b--pull--m9of12{margin-right:75%}.g-b--pull--m1of5,.g-b--pull--m2of10{margin-right:20%}.g-b--pull--m2of5,.g-b--pull--m4of10{margin-right:40%}.g-b--pull--m3of5,.g-b--pull--m6of10{margin-right:60%}.g-b--pull--m4of5,.g-b--pull--m8of10{margin-right:80%}.g-b--pull--m1of6,.g-b--pull--m2of12{margin-right:16.666%}.g-b--pull--m5of6,.g-b--pull--m10of12{margin-right:83.333%}.g-b--pull--m1of8{margin-right:12.5%}.g-b--pull--m3of8{margin-right:37.5%}.g-b--pull--m5of8{margin-right:62.5%}.g-b--pull--m7of8{margin-right:87.5%}.g-b--pull--m1of10{margin-right:10%}.g-b--pull--m3of10{margin-right:30%}.g-b--pull--m7of10{margin-right:70%}.g-b--pull--m9of10{margin-right:90%}.g-b--pull--m1of12{margin-right:8.333%}.g-b--pull--m5of12{margin-right:41.666%}.g-b--pull--m7of12{margin-right:58.333%}.g-b--pull--m11of12{margin-right:91.666%}.splashscreen p{font-size:1.25rem;margin-bottom:1.43749rem;padding-top:.56251rem}.title{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.title-document{margin-bottom:.89999rem;padding-top:.10001rem}.title-document,.settings a{font-size:1.25rem}.words,.characters{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.modal--dillinger.about .modal-dialog,#zen{font-size:1.25rem}#zen{width:400px}#editor{font-size:1rem}}@media screen and (min-width:46.25em){html{font-size:.875em}body{font-size:1rem}ul,ol{margin-bottom:.83999rem;padding-top:.16001rem}p{padding-top:.66001rem}p,pre{margin-bottom:1.33999rem}pre,blockquote p{font-size:1rem;padding-top:.66001rem}blockquote p{margin-bottom:.33999rem}h1{font-size:2.0571429rem;margin-bottom:.21999rem;padding-top:.78001rem}h2{font-size:1.953125rem;margin-bottom:.1835837rem;padding-top:.8164163rem}h3{font-size:1.6457143rem;margin-bottom:.07599rem;padding-top:.92401rem}h4{font-size:1.5625rem;margin-bottom:.546865rem;padding-top:.453135rem}h5{font-size:1.25rem;margin-bottom:-.56251rem;padding-top:.56251rem}h6{font-size:1rem;margin-bottom:-.65001rem;padding-top:.65001rem}.g{margin-left:-16px;margin-right:-16px}.g-b{padding-left:16px;padding-right:16px}.g-b--t1of1{width:100%}.g-b--t1of2,.g-b--t2of4,.g-b--t3of6,.g-b--t4of8,.g-b--t5of10,.g-b--t6of12{width:50%}.g-b--t1of3,.g-b--t2of6,.g-b--t4of12{width:33.333%}.g-b--t2of3,.g-b--t4of6,.g-b--t8of12{width:66.666%}.g-b--t1of4,.g-b--t2of8,.g-b--t3of12{width:25%}.g-b--t3of4,.g-b--t6of8,.g-b--t9of12{width:75%}.g-b--t1of5,.g-b--t2of10{width:20%}.g-b--t2of5,.g-b--t4of10{width:40%}.g-b--t3of5,.g-b--t6of10{width:60%}.g-b--t4of5,.g-b--t8of10{width:80%}.g-b--t1of6,.g-b--t2of12{width:16.666%}.g-b--t5of6,.g-b--t10of12{width:83.333%}.g-b--t1of8{width:12.5%}.g-b--t3of8{width:37.5%}.g-b--t5of8{width:62.5%}.g-b--t7of8{width:87.5%}.g-b--t1of10{width:10%}.g-b--t3of10{width:30%}.g-b--t7of10{width:70%}.g-b--t9of10{width:90%}.g-b--t1of12{width:8.333%}.g-b--t5of12{width:41.666%}.g-b--t7of12{width:58.333%}.g-b--t11of12{width:91.666%}.g-b--push--t1of1{margin-left:100%}.g-b--push--t1of2,.g-b--push--t2of4,.g-b--push--t3of6,.g-b--push--t4of8,.g-b--push--t5of10,.g-b--push--t6of12{margin-left:50%}.g-b--push--t1of3,.g-b--push--t2of6,.g-b--push--t4of12{margin-left:33.333%}.g-b--push--t2of3,.g-b--push--t4of6,.g-b--push--t8of12{margin-left:66.666%}.g-b--push--t1of4,.g-b--push--t2of8,.g-b--push--t3of12{margin-left:25%}.g-b--push--t3of4,.g-b--push--t6of8,.g-b--push--t9of12{margin-left:75%}.g-b--push--t1of5,.g-b--push--t2of10{margin-left:20%}.g-b--push--t2of5,.g-b--push--t4of10{margin-left:40%}.g-b--push--t3of5,.g-b--push--t6of10{margin-left:60%}.g-b--push--t4of5,.g-b--push--t8of10{margin-left:80%}.g-b--push--t1of6,.g-b--push--t2of12{margin-left:16.666%}.g-b--push--t5of6,.g-b--push--t10of12{margin-left:83.333%}.g-b--push--t1of8{margin-left:12.5%}.g-b--push--t3of8{margin-left:37.5%}.g-b--push--t5of8{margin-left:62.5%}.g-b--push--t7of8{margin-left:87.5%}.g-b--push--t1of10{margin-left:10%}.g-b--push--t3of10{margin-left:30%}.g-b--push--t7of10{margin-left:70%}.g-b--push--t9of10{margin-left:90%}.g-b--push--t1of12{margin-left:8.333%}.g-b--push--t5of12{margin-left:41.666%}.g-b--push--t7of12{margin-left:58.333%}.g-b--push--t11of12{margin-left:91.666%}.g-b--pull--t1of1{margin-right:100%}.g-b--pull--t1of2,.g-b--pull--t2of4,.g-b--pull--t3of6,.g-b--pull--t4of8,.g-b--pull--t5of10,.g-b--pull--t6of12{margin-right:50%}.g-b--pull--t1of3,.g-b--pull--t2of6,.g-b--pull--t4of12{margin-right:33.333%}.g-b--pull--t2of3,.g-b--pull--t4of6,.g-b--pull--t8of12{margin-right:66.666%}.g-b--pull--t1of4,.g-b--pull--t2of8,.g-b--pull--t3of12{margin-right:25%}.g-b--pull--t3of4,.g-b--pull--t6of8,.g-b--pull--t9of12{margin-right:75%}.g-b--pull--t1of5,.g-b--pull--t2of10{margin-right:20%}.g-b--pull--t2of5,.g-b--pull--t4of10{margin-right:40%}.g-b--pull--t3of5,.g-b--pull--t6of10{margin-right:60%}.g-b--pull--t4of5,.g-b--pull--t8of10{margin-right:80%}.g-b--pull--t1of6,.g-b--pull--t2of12{margin-right:16.666%}.g-b--pull--t5of6,.g-b--pull--t10of12{margin-right:83.333%}.g-b--pull--t1of8{margin-right:12.5%}.g-b--pull--t3of8{margin-right:37.5%}.g-b--pull--t5of8{margin-right:62.5%}.g-b--pull--t7of8{margin-right:87.5%}.g-b--pull--t1of10{margin-right:10%}.g-b--pull--t3of10{margin-right:30%}.g-b--pull--t7of10{margin-right:70%}.g-b--pull--t9of10{margin-right:90%}.g-b--pull--t1of12{margin-right:8.333%}.g-b--pull--t5of12{margin-right:41.666%}.g-b--pull--t7of12{margin-right:58.333%}.g-b--pull--t11of12{margin-right:91.666%}.splashscreen-dillinger{width:500px}.splashscreen p{font-size:1.25rem;margin-bottom:1.43749rem;padding-top:.56251rem}.title{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.title-document{font-size:1.25rem;margin-bottom:.89999rem;padding-top:.10001rem}.menu .menu-item--save-to,.menu .menu-item--import-from{display:block}.menu .menu-item--preview,.menu .menu-item--save-to.in-sidebar,.menu .menu-item--import-from.in-sidebar{display:none}.settings a{font-size:1.25rem}.words,.characters{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.modal--dillinger.about .modal-dialog{font-size:1.25rem}.enter-zen-mode{display:block}.close-zen-mode{right:3rem;top:3rem}#zen{font-size:1.25rem;width:500px}.split-editor{border-right:1px solid #E8E8E8;float:left;height:calc(100vh - 172px);-webkit-overflow-scrolling:touch;padding-right:16px;width:50%}.show-preview .split-editor{display:block}.split-preview{display:block;float:right;height:calc(100vh - 172px);-webkit-overflow-scrolling:touch;position:relative;top:0;width:50%}#editor{font-size:1rem}.preview-mode-toggle-src,.preview-mode-toggle-html{display:block}}@media screen and (min-width:62.5em){html{font-size:.875em}body{font-size:1rem}ul,ol{margin-bottom:.83999rem;padding-top:.16001rem}p{padding-top:.66001rem}p,pre{margin-bottom:1.33999rem}pre,blockquote p{font-size:1rem;padding-top:.66001rem}blockquote p{margin-bottom:.33999rem}h1{font-size:2.0571429rem;margin-bottom:.21999rem;padding-top:.78001rem}h2{font-size:1.953125rem;margin-bottom:.1835837rem;padding-top:.8164163rem}h3{font-size:1.6457143rem;margin-bottom:.07599rem;padding-top:.92401rem}h4{font-size:1.5625rem;margin-bottom:.546865rem;padding-top:.453135rem}h5{font-size:1.25rem;margin-bottom:-.56251rem;padding-top:.56251rem}h6{font-size:1rem;margin-bottom:-.65001rem;padding-top:.65001rem}.g{margin-left:-16px;margin-right:-16px}.g-b{padding-left:16px;padding-right:16px}.g-b--d1of1{width:100%}.g-b--d1of2,.g-b--d2of4,.g-b--d3of6,.g-b--d4of8,.g-b--d5of10,.g-b--d6of12{width:50%}.g-b--d1of3,.g-b--d2of6,.g-b--d4of12{width:33.333%}.g-b--d2of3,.g-b--d4of6,.g-b--d8of12{width:66.666%}.g-b--d1of4,.g-b--d2of8,.g-b--d3of12{width:25%}.g-b--d3of4,.g-b--d6of8,.g-b--d9of12{width:75%}.g-b--d1of5,.g-b--d2of10{width:20%}.g-b--d2of5,.g-b--d4of10{width:40%}.g-b--d3of5,.g-b--d6of10{width:60%}.g-b--d4of5,.g-b--d8of10{width:80%}.g-b--d1of6,.g-b--d2of12{width:16.666%}.g-b--d5of6,.g-b--d10of12{width:83.333%}.g-b--d1of8{width:12.5%}.g-b--d3of8{width:37.5%}.g-b--d5of8{width:62.5%}.g-b--d7of8{width:87.5%}.g-b--d1of10{width:10%}.g-b--d3of10{width:30%}.g-b--d7of10{width:70%}.g-b--d9of10{width:90%}.g-b--d1of12{width:8.333%}.g-b--d5of12{width:41.666%}.g-b--d7of12{width:58.333%}.g-b--d11of12{width:91.666%}.g-b--push--d1of1{margin-left:100%}.g-b--push--d1of2,.g-b--push--d2of4,.g-b--push--d3of6,.g-b--push--d4of8,.g-b--push--d5of10,.g-b--push--d6of12{margin-left:50%}.g-b--push--d1of3,.g-b--push--d2of6,.g-b--push--d4of12{margin-left:33.333%}.g-b--push--d2of3,.g-b--push--d4of6,.g-b--push--d8of12{margin-left:66.666%}.g-b--push--d1of4,.g-b--push--d2of8,.g-b--push--d3of12{margin-left:25%}.g-b--push--d3of4,.g-b--push--d6of8,.g-b--push--d9of12{margin-left:75%}.g-b--push--d1of5,.g-b--push--d2of10{margin-left:20%}.g-b--push--d2of5,.g-b--push--d4of10{margin-left:40%}.g-b--push--d3of5,.g-b--push--d6of10{margin-left:60%}.g-b--push--d4of5,.g-b--push--d8of10{margin-left:80%}.g-b--push--d1of6,.g-b--push--d2of12{margin-left:16.666%}.g-b--push--d5of6,.g-b--push--d10of12{margin-left:83.333%}.g-b--push--d1of8{margin-left:12.5%}.g-b--push--d3of8{margin-left:37.5%}.g-b--push--d5of8{margin-left:62.5%}.g-b--push--d7of8{margin-left:87.5%}.g-b--push--d1of10{margin-left:10%}.g-b--push--d3of10{margin-left:30%}.g-b--push--d7of10{margin-left:70%}.g-b--push--d9of10{margin-left:90%}.g-b--push--d1of12{margin-left:8.333%}.g-b--push--d5of12{margin-left:41.666%}.g-b--push--d7of12{margin-left:58.333%}.g-b--push--d11of12{margin-left:91.666%}.g-b--pull--d1of1{margin-right:100%}.g-b--pull--d1of2,.g-b--pull--d2of4,.g-b--pull--d3of6,.g-b--pull--d4of8,.g-b--pull--d5of10,.g-b--pull--d6of12{margin-right:50%}.g-b--pull--d1of3,.g-b--pull--d2of6,.g-b--pull--d4of12{margin-right:33.333%}.g-b--pull--d2of3,.g-b--pull--d4of6,.g-b--pull--d8of12{margin-right:66.666%}.g-b--pull--d1of4,.g-b--pull--d2of8,.g-b--pull--d3of12{margin-right:25%}.g-b--pull--d3of4,.g-b--pull--d6of8,.g-b--pull--d9of12{margin-right:75%}.g-b--pull--d1of5,.g-b--pull--d2of10{margin-right:20%}.g-b--pull--d2of5,.g-b--pull--d4of10{margin-right:40%}.g-b--pull--d3of5,.g-b--pull--d6of10{margin-right:60%}.g-b--pull--d4of5,.g-b--pull--d8of10{margin-right:80%}.g-b--pull--d1of6,.g-b--pull--d2of12{margin-right:16.666%}.g-b--pull--d5of6,.g-b--pull--d10of12{margin-right:83.333%}.g-b--pull--d1of8{margin-right:12.5%}.g-b--pull--d3of8{margin-right:37.5%}.g-b--pull--d5of8{margin-right:62.5%}.g-b--pull--d7of8{margin-right:87.5%}.g-b--pull--d1of10{margin-right:10%}.g-b--pull--d3of10{margin-right:30%}.g-b--pull--d7of10{margin-right:70%}.g-b--pull--d9of10{margin-right:90%}.g-b--pull--d1of12{margin-right:8.333%}.g-b--pull--d5of12{margin-right:41.666%}.g-b--pull--d7of12{margin-right:58.333%}.g-b--pull--d11of12{margin-right:91.666%}.splashscreen-dillinger{width:700px}.splashscreen p{font-size:1.25rem;margin-bottom:1.43749rem;padding-top:.56251rem}.title{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.title-document{font-size:1.25rem;margin-bottom:.89999rem;padding-top:.10001rem}.menu .menu-item--export-as{display:block}.menu .menu-item--preview{display:none}.settings a{font-size:1.25rem}.words,.characters{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.modal--dillinger.about .modal-dialog,#zen{font-size:1.25rem}#zen{width:700px}#editor{font-size:1rem}}@media screen and (min-width:87.5em){html{font-size:.875em}body{font-size:1rem}ul,ol{margin-bottom:.83999rem;padding-top:.16001rem}p{padding-top:.66001rem}p,pre{margin-bottom:1.33999rem}pre,blockquote p{font-size:1rem;padding-top:.66001rem}blockquote p{margin-bottom:.33999rem}h1{font-size:2.0571429rem;margin-bottom:.21999rem;padding-top:.78001rem}h2{font-size:1.953125rem;margin-bottom:.1835837rem;padding-top:.8164163rem}h3{font-size:1.6457143rem;margin-bottom:.07599rem;padding-top:.92401rem}h4{font-size:1.5625rem;margin-bottom:.546865rem;padding-top:.453135rem}h5{font-size:1.25rem;margin-bottom:-.56251rem;padding-top:.56251rem}h6{font-size:1rem;margin-bottom:-.65001rem;padding-top:.65001rem}.splashscreen-dillinger{width:800px}.splashscreen p{font-size:1.25rem;margin-bottom:1.43749rem;padding-top:.56251rem}.title{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.title-document{margin-bottom:.89999rem;padding-top:.10001rem}.title-document,.settings a{font-size:1.25rem}.words,.characters{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.modal--dillinger.about .modal-dialog,#zen{font-size:1.25rem}#editor{font-size:1rem}}@media (min-width:768px){.form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.form-inline .form-control{display:inline-block;width:auto;vertical-align:middle}.form-inline .input-group{display:inline-table;vertical-align:middle}.form-inline .input-group .input-group-addon,.form-inline .input-group .input-group-btn,.form-inline .input-group .form-control{width:auto}.form-inline .input-group>.form-control{width:100%}.form-inline .control-label{margin-bottom:0;vertical-align:middle}.form-inline .radio,.form-inline .checkbox{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}.form-inline .radio label,.form-inline .checkbox label{padding-left:0}.form-inline .radio input[type=\"radio\"],.form-inline .checkbox input[type=\"checkbox\"]{position:relative;margin-left:0}.form-inline .has-feedback .form-control-feedback{top:0}.form-horizontal .control-label{text-align:right;margin-bottom:0;padding-top:7px}.form-horizontal .form-group-lg .control-label{padding-top:14.3px}.form-horizontal .form-group-sm .control-label{padding-top:6px}.modal-dialog{width:600px;margin:30px auto}.modal-content{box-shadow:0 5px 15px rgba(0,0,0,.5)}.modal-sm{width:300px}}@media (min-width:992px){.modal-lg{width:900px}}@media screen and (max-width:1200px){#_default_{max-width:30%}#_default_ ._default_{font-size:.825rem;line-height:.875rem;padding:12px 12px 6px 24px;text-align:justify}}@media screen and (max-width:1100px){#_default_{max-width:27%}#_default_ ._default_{font-size:.8rem;line-height:.85rem;padding:12px 6px 6px 24px;text-align:justify}}@media screen and (max-width:1000px){#_default_{max-width:24%}#_default_ ._default_{font-size:.775rem;line-height:.8rem;padding:12px 6px 6px 24px;text-align:justify}}@media screen and (max-width:900px){#_default_{max-width:30%}}@media screen and (max-width:767px){.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;overflow-x:auto;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #ddd;-webkit-overflow-scrolling:touch}.table-responsive>.table{margin-bottom:0}.table-responsive>.table>thead>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>tfoot>tr>td{white-space:nowrap}.table-responsive>.table-bordered{border:0}.table-responsive>.table-bordered>thead>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child{border-left:0}.table-responsive>.table-bordered>thead>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child{border-right:0}.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td{border-bottom:0}}@media screen and (max-width:720px){#_default_{max-width:60%}#_default_ ._default_{font-size:.75rem;line-height:1rem;padding:12px 24px}}@media screen and (max-width:620px){#_default_{max-width:50%}#_default_ ._default_{font-size:.66rem;letter-spacing:1px;line-height:1rem;padding:10px 24px}}@media screen and (max-width:520px){#_default_ ._default_{font-size:.4rem;line-height:.875rem;padding:6px 12px 6px 24px;text-align:justify}}@media screen and (max-width:460px){#_default_{display:none}}@media screen and (max-width:46.1875em){.editor-header{display:none}.editor-header--first{display:block;width:100%}}</style></head><body id=\"preview\">\n<h2><a id=\"Module_Setting_0\"></a>Module Setting</h2>\n<p>Configuration is divided into 2 sections.</p>\n<ul>\n<li>App Setting</li>\n<li>Destination Settings</li>\n</ul>\n<blockquote>\n<p><strong>Note:</strong> <em><strong>Submit</strong></em> button is enabled, only when required fields are configured</p>\n</blockquote>\n<h3><a id=\"App_Setting_8\"></a>App Setting</h3>\n<p>Here you can configure local data directory, where <strong>VMS</strong> will be uploading files and application timing. These should be left as a default as it does provide optimal setting. If you are not sure, what to change, please do not change anything.</p>\n<ul>\n<li>Data Directory:\n<ul>\n<li>Directory on the unit (local unit/router), where files will be uploaded</li>\n<li>Directory needs to be configured as an absolute path and trailing <code>/</code> is required</li>\n<li>Default: <code>/mnt/sdcard/data/</code></li>\n</ul>\n</li>\n<li>File Retention:\n<ul>\n<li>Configure how many days unit should keep files before, they will be deleted. All files older than this setting will be deleted from the unit, irrespective, if they have been uploaded</li>\n<li>Default: 7 days</li>\n</ul>\n</li>\n<li>Check FTP Alive:\n<ul>\n<li>Time interval, between application check, what FTP servers, from configured are online (available for file upload). This interval is restarted after application upload/try to upload files to remote server.</li>\n<li><em>Example</em>: FTP - 1 upload takes 120 seconds and there are no additional FTP server configured. Application will start next FTP server check after 120seconds + configured delay(default: 60 seconds).</li>\n<li>Default: 60 seconds</li>\n</ul>\n</li>\n<li>Check Data Folder:\n<ul>\n<li>Interval in which application check upload folder (<em>Data Directory</em>) for new files and prepare them for configured FTP servers</li>\n<li>Default: 10 minutes</li>\n</ul>\n</li>\n<li>File Retention Handler\n<ul>\n<li>Interval in which application search files, which are older than <em>File Retention</em></li>\n</ul>\n</li>\n</ul>\n<h3><a id=\"Destination_Settings_27\"></a>Destination Settings</h3>\n<p>Here you can configure up to 10 FTP server destinations. Select FTP server from from drop down menu and current configuration will populate configuration fields. If FTP server has not been configured, no values will be shown.</p>\n<ul>\n<li>IP Address:\n<ul>\n<li>IP Address of the remote FTP server</li>\n</ul>\n</li>\n<li>Username:\n<ul>\n<li>Username, which will be used to authenticate with particular FTP server</li>\n</ul>\n</li>\n<li>Password:\n<ul>\n<li>Password, which will be used to authenticate with particular FTP server</li>\n</ul>\n</li>\n<li>Directory:\n<ul>\n<li>Remote directory on the FTP server, where account has write access permission</li>\n</ul>\n</li>\n<li>Compress:\n<ul>\n<li>If compression of files before transition is required. <em>tar/gzip</em> compression is used</li>\n</ul>\n</li>\n</ul>\n\n</body></html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":383,"y":746,"wires":[[]]},{"id":"594bb765.741b48","type":"comment","z":"aba94147.26deb8","name":"Dispaly help text in separate tab ->","info":"","x":173,"y":746,"wires":[]},{"id":"9087400a.aeb84","type":"delay","z":"3ba4e052.bf6c8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":200,"wires":[["3e229a82.fb37e6"]]},{"id":"c9844059.e83e4","type":"debug","z":"aba94147.26deb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":660,"wires":[]},{"id":"c3d07d5.ad9428","type":"ui_template","z":"4d1a0c68.2dc7b4","group":"9c95e75d.9fe3e8","name":"ETH Setting UI","order":1,"width":0,"height":0,"format":"<style>\nspan {\n    display: inline-grid;\n    margin: 10px;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\n.hint {\n    /* Position the hint */\n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey;\n    }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n.input {\n   /*NOTE: Check the demo's HTML to see some additional RTL support CSS */\n   /*Setup animations similar to the ng-messages */ }*/\n  .input .hint {\n     Position the hint \n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey; }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n    \n</style>\n<div>\n    \n<md-input-container>\n    <label>IP Address</label>\n    <input name=\"eth_ip_address\" ng-model=\"msg.payload.eth.ipaddr\" required>\n    <md-tooltip md-direction=\"top\">IP Address of the local Eth interface</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>Subnet Mask</label>\n    <input name=\"eth_subnet_mask\" ng-model=\"msg.payload.eth.netmask\"\n    required >\n    <!--<div ng-if=\"!(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31)\" class=\"hint\">-->\n    <!--    File retention can be set between 1 - 31 days</div>-->\n\n    <md-tooltip md-direction=\"top\">Subnet Mask usually 255.255.255.0</md-tooltip>\n    </md-input-container>\n<md-input-container>\n    <label>Default Gateway</label>\n    <input name=\"eth_gateway\" ng-model=\"msg.payload.eth.gateway\" type=\"text\">\n    <md-tooltip md-direction=\"top\">Enter IP for Default Gateway - optional</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>DNS</label>\n    <input name=\"eth_dns\" ng-model=\"msg.payload.eth.dns\" \n    type=\"text\" >\n    <md-tooltip md-direction=\"top\">Enter IP for DNS - optional</md-tooltip>\n</md-input-container>\n<!--<md-input-container>-->\n<!--    <label>SSID</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Password</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>APN</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>PAP/CHAP Username</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>PAP/CHAP Password</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<md-divider ng-if=\"!$last\"></md-divider>\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.eth.ipaddr || !msg.payload.eth.netmask\">\n <!--|| !(msg.payload.timing.DataFileHandler >=5) || !(msg.payload.timing.RetentionHandler >=3) || !(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31) \">-->\nSubmit\n </md-button>\n</md-input-container>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":620,"y":120,"wires":[["de2db789.691db8","684c9502.8a3ecc","c1fe192d.fb77e8"]]},{"id":"e228ed6f.1c994","type":"ui_template","z":"4d1a0c68.2dc7b4","group":"bec1b492.b5fdf8","name":"WiFi Setting UI","order":1,"width":"6","height":"8","format":"<style>\nspan.upper {\n    /*display: inline-grid;*/\n    /*margin: 10px;*/\n    text-transform: uppercase;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\n.hint {\n    /* Position the hint */\n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey;\n    }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n.input {\n   /*NOTE: Check the demo's HTML to see some additional RTL support CSS */\n   /*Setup animations similar to the ng-messages */ }*/\n  .input .hint {\n     Position the hint \n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey; }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n    \n</style>\n<div>\n<!--<md-switch ng-model=\"msg.payload.wifi.apMode\" aria-label=\"Switch 1\"-->\n<!--ng-true-value=\"'AP'\" ng-false-value=\"'Station'\">-->\n<!--    WiFi Mode: {{ msg.payload.wifi.apMode }}-->\n<!-- </md-switch>-->\n<md-switch ng-model=\"msg.payload.wifi.mode\" aria-label=\"Switch 1\"\nng-true-value=\"'ap'\" ng-false-value=\"'sta'\" >\n    WiFi Mode: <span class=\"upper\" ng-if=\"(msg.payload.wifi.mode==='ap')\">AP</span>\n    <span class=\"upper\" ng-if=\"(msg.payload.wifi.mode==='sta')\">Station</span>\n</md-switch>\n\n<!--<md-input-container>-->\n<!--    <label>Subnet Mask</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.directory.Retention\"-->\n<!--    required type=\"number\" step=\"any\" min=\"1\" max=\"31\">-->\n<!--    <div ng-if=\"!(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31)\" class=\"hint\">-->\n<!--        File retention can be set between 1 - 31 days</div>-->\n\n<!--    <md-tooltip md-direction=\"top\">How long to keep files before local deletition (min. 1 day)</md-tooltip>-->\n<!--    </md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Default Gateway</label>-->\n<!--    <input name=\"check_ftp_duration\" ng-model=\"msg.payload.timing.CheckFTP\" required type=\"number\" step=\"any\" min=\"60\" max=\"3600\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check FTP servers (min. 60sec)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>DNS</label>-->\n<!--    <input name=\"check_data_duration\" ng-model=\"msg.payload.timing.DataFileHandler\" -->\n<!--    required type=\"number\" step=\"any\" min=\"5\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to process incomming files (min. 5minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<md-input-container>\n    <label>SSID</label>\n    <input name=\"wifi-ssid\" ng-model=\"msg.payload.wifi.ssid\" required >\n    <md-tooltip md-direction=\"top\">SSID can be anything</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>Password</label>\n    <input name=\"wifi-password\" ng-model=\"msg.payload.wifi.key\" required type=\"test\" min=\"8\" >\n    <md-tooltip md-direction=\"top\">At least 8 characters is required</md-tooltip>\n</md-input-container>\n<md-input-container ng-if=\"msg.payload.wifi.mode === 'sta'\">\n    <label>Channel</label>\n    <input name=\"wifi-channel\" ng-model=\"msg.payload.wifi.channel\" required>\n    <md-tooltip md-direction=\"top\">Enter absolute path with trailing /</md-tooltip>\n</md-input-container>\n<!--<md-input-container>-->\n<!--    <label>APN</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>PAP/CHAP Username</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>PAP/CHAP Password</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-divider ng-if=\"!$last\"></md-divider>-->\n<br>\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.wifi.ssid || !(msg.payload.wifi.key.length >= 8)\">\n <!--|| !(msg.payload.timing.DataFileHandler >=5) || !(msg.payload.timing.RetentionHandler >=3) || !(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31) \">-->\nSubmit\n </md-button>\n</md-input-container>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":620,"y":180,"wires":[["de2db789.691db8","684c9502.8a3ecc","442b162f.c78e58"]]},{"id":"9db5a94d.d6a7f8","type":"ui_template","z":"4d1a0c68.2dc7b4","group":"7bcc9a06.727744","name":"Cell Setting UI","order":1,"width":0,"height":0,"format":"<style>\nspan {\n    display: inline-grid;\n    margin: 10px;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\n.hint {\n    /* Position the hint */\n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey;\n    }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n.input {\n   /*NOTE: Check the demo's HTML to see some additional RTL support CSS */\n   /*Setup animations similar to the ng-messages */ }*/\n  .input .hint {\n     Position the hint \n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey; }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n    \n</style>\n<div>\n<!--<md-input-container>-->\n<!--    <label>IP Address</label>-->\n<!--    <input name=\"data_dir\" ng-model=\"msg.payload.directory.Data\" required>-->\n<!--    <md-tooltip md-direction=\"top\">Enter absolute path with trailing /</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Subnet Mask</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.directory.Retention\"-->\n<!--    required type=\"number\" step=\"any\" min=\"1\" max=\"31\">-->\n<!--    <div ng-if=\"!(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31)\" class=\"hint\">-->\n<!--        File retention can be set between 1 - 31 days</div>-->\n\n<!--    <md-tooltip md-direction=\"top\">How long to keep files before local deletition (min. 1 day)</md-tooltip>-->\n<!--    </md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Default Gateway</label>-->\n<!--    <input name=\"check_ftp_duration\" ng-model=\"msg.payload.timing.CheckFTP\" required type=\"number\" step=\"any\" min=\"60\" max=\"3600\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check FTP servers (min. 60sec)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>DNS</label>-->\n<!--    <input name=\"check_data_duration\" ng-model=\"msg.payload.timing.DataFileHandler\" -->\n<!--    required type=\"number\" step=\"any\" min=\"5\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to process incomming files (min. 5minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>SSID</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Password</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<md-input-container>\n    <label>APN</label>\n    <input name=\"cell_apn\" ng-model=\"msg.payload.cell.apn\" required type=\"text\" >\n    <md-tooltip md-direction=\"top\">APN string for the SIM card</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>PAP/CHAP Username</label>\n    <input name=\"cell_user\" ng-model=\"msg.payload.cell.username\"  type=\"text\">\n    <md-tooltip md-direction=\"top\">Username for the SIM card</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>PAP/CHAP Password</label>\n    <input name=\"cell_password\" ng-model=\"msg.payload.cell.password\" type=\"text\">\n    <md-tooltip md-direction=\"top\">Password for the SIM card</md-tooltip>\n</md-input-container>\n<!--<md-divider ng-if=\"!$last\"></md-divider>-->\n<br>\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.cell.apn\">\n <!--|| !(msg.payload.timing.DataFileHandler >=5) || !(msg.payload.timing.RetentionHandler >=3) || !(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31) \">-->\nSubmit\n </md-button>\n</md-input-container>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":620,"y":240,"wires":[["de2db789.691db8","684c9502.8a3ecc","e69dd8f2.d72628"]]},{"id":"5bb62139.df6ef","type":"function","z":"4d1a0c68.2dc7b4","name":"inject fake values","func":"let eth_setting = {\n    \"ip_address\": \"192.168.10.211\",\n    \"subnet_mask\": \"255.255.255.0\"\n}\nmsg.payload = {};\n\nmsg.payload.eth = eth_setting;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["c3d07d5.ad9428","e228ed6f.1c994","9db5a94d.d6a7f8"]]},{"id":"fa62f883.76a948","type":"inject","z":"4d1a0c68.2dc7b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["5bb62139.df6ef"]]},{"id":"de2db789.691db8","type":"debug","z":"4d1a0c68.2dc7b4","name":"FAKE VAL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":280,"wires":[]},{"id":"684c9502.8a3ecc","type":"function","z":"4d1a0c68.2dc7b4","name":"Check Dirs, Create Dirs & Set Globals","func":"// // Declare FS library\n// var fs = global.get('fs1');\n\n\n// // String trailing / if need be\n// function stripTrailingSlash(str)     \n// {     \n//     return str.replace(/\\/$/, \"\");\n// }\n\n// // Function to take care of recursive creation\n// function mkdirs(path) {\n//     var dirs = path.split('/');\n//     var prevDir = dirs.splice(0,1)+\"/\";\n//     while(dirs.length > 0) {\n//         var curDir = prevDir + dirs.splice(0,1);\n//         if (! fs.existsSync(curDir) ) {\n//             fs.mkdirSync(curDir);\n//         }\n//         prevDir = curDir + '/';\n//     }\n// }\n\n// if(msg.payload.directory) {\n//     var directory = msg.payload.directory;\n//     directory.Retention = directory.Retention*24*60\n//     msg.payload.directory = directory;\n// }\n\n//     if(msg.payload.timing) {\n//         var timing = msg.payload.timing;\n//         timing.RetentionHandler = timing.RetentionHandler*1000*60;\n//         timing.DataFileHandler = timing.DataFileHandler*1000*60;\n//         timing.CheckFTP = timing.CheckFTP*1000;\n//         msg.payload.timing = timing;\n//     }\n// //Check if loc_dir exists and create if needed\n// try {\n//     fs.accessSync(msg.payload.directory.Data);\n//     }catch(e){\n//     mkdirs(stripTrailingSlash(msg.payload.directory.Data));\n//     // Set gloabl varaibles\n//     global.set(\"ftp\", msg.payload.ftp )\n//     global.set(\"directory\", msg.payload.directory)\n//     global.set(\"timing\", msg.payload.timing)\n//     }\n\n// Set gloabl varaibles\nglobal.set(\"eth\", msg.payload.eth )\nglobal.set(\"wifi\", msg.payload.wifi)\nglobal.set(\"cell\", msg.payload.cell)\n\nif(msg.payload.eth) {\n    // node.send([msg.payload.eth, null, null])\n    return [msg, null, null];\n}\nif(msg.payload.wifi) {\n    // node.send([null, msg.payload.wifi, null])\n    return [null, msg, null];\n}\nif(msg.payload.cell) {\n    // node.send([null, null, msg.payload.cell])\n    return [null, null, msg];\n}\n// return msg;","outputs":3,"noerr":0,"x":1010,"y":120,"wires":[["37b9e41c.988c8c","32441e6b.859112"],["41ae5586.5be25c"],["542b9a69.a933f4"]]},{"id":"37b9e41c.988c8c","type":"file","z":"4d1a0c68.2dc7b4","name":"Write Config","filename":"/data/conf_settings-test.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":970,"y":200,"wires":[]},{"id":"7cccc5cb.07e5dc","type":"function","z":"4d1a0c68.2dc7b4","name":"uci show network.lan","func":"let reply = `network.lan=interface\nnetwork.lan.ifname='eth0'\nnetwork.lan.proto='static'\nnetwork.lan.netmask='255.255.255.0'\nnetwork.lan.ip6assign='60'\nnetwork.lan.ipaddr='192.168.10.211'\nnetwork.lan.gateway='192.168.10.1'\nnetwork.lan.dns='208.67.220.222'`\n\nmsg.payload = reply;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["a49ab2bd.f4a7"]]},{"id":"2950067e.e1f03a","type":"inject","z":"4d1a0c68.2dc7b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":400,"wires":[["c5d81cb9.de58","85fda1d4.424f4","7cccc5cb.07e5dc"]]},{"id":"e230c99e.2eac48","type":"debug","z":"4d1a0c68.2dc7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":400,"wires":[]},{"id":"85fda1d4.424f4","type":"function","z":"4d1a0c68.2dc7b4","name":"uci show wireless.@wifi-iface[0]","func":"let reply = `wireless.@wifi-iface[0]=wifi-iface\nwireless.@wifi-iface[0].device='wlan0'\nwireless.@wifi-iface[0].mode='ap'\nwireless.@wifi-iface[0].key='MyPASSWORD'\nwireless.@wifi-iface[0].encryption='psk2'\nwireless.@wifi-iface[0].network='WIFI'\nwireless.@wifi-iface[0].disassoc_low_ack='0'\nwireless.@wifi-iface[0].ssid='Intellidesign.FP2.114'`\n\nmsg.payload = reply;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["a4474444.1b8658"]]},{"id":"c5d81cb9.de58","type":"function","z":"4d1a0c68.2dc7b4","name":"uci show network.ppp0","func":"let reply = `network.ppp0=interface\nnetwork.ppp0.ifname='ppp0'\nnetwork.ppp0.proto='3g'\nnetwork.ppp0.device='/dev/ttyUSB3'\nnetwork.ppp0.apn='connect'\nnetwork.ppp0.username='cell-user'\nnetwork.ppp0.password='cell-pass'\nnetwork.ppp0.dialnumber='*99#'\nnetwork.ppp0.ipv6='auto'`\n\nmsg.payload = reply;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["a6249983.c05c08"]]},{"id":"a49ab2bd.f4a7","type":"function","z":"4d1a0c68.2dc7b4","name":"parse lan response","func":"\nlet astring = msg.payload;\nmsg.payload = {};\nlet astring_array = astring.split(\"\\n\")\n\nlet lan_param = ['network.lan.ipaddr', 'network.lan.netmask', 'network.lan.gateway', 'network.lan.dns'];\nlet param_replace = \"network.lan.\"\nlet lan_config = {};\nlet lan_c = [];\n\n\nfunction give_me_data(aline, pattern) {\n    if(aline.search(pattern) !== -1) {\n        let offset = pattern.length;\n        let data = aline.substring(offset + 2).trim().replace(\"'\",'')\n        return data\n    }\n    else {\n        return 0\n    }\n}\n\nfor(let i=0; i < astring_array.length ; i++) {\n    for(let x=0; x < lan_param.length; x++) {\n        if(astring_array[i].search(lan_param[x]) !== -1) {\n            lan_c.push(give_me_data(astring_array[i], lan_param[x]))\n            lan_config[lan_param[x].replace(param_replace,'')] = give_me_data(astring_array[i], lan_param[x])\n        }\n    }\n    \n    \n    \n    // msg.ipadd = \"yes\" + i;\n    // if(astring_array[i].search('network.lan.ipaddr=') !== -1) {\n    //     let offset = 'network.lan.ipaddr='.length;\n    //     let data = astring_array[i].substring(offset + 1).trim().replace(\"'\",'')\n \n    //     lan_config[\"ip_address\"] = astring_array[i].substring(offset + 1);\n    //     lan_config[\"ip_address\"] = data\n    // }\n    // if(astring_array[i].search('network.lan.netmask=') !== -1) {\n    //     lan_config[\"subnet_mask\"] = astring_array[i].substring(astring_array[i].search('network.lan.netmask='))\n    // }\n    // if(astring_array[i].search('network.lan.gateway=') !== -1) {\n    //     lan_config[\"default_gateway\"] = astring_array[i].substring(astring_array[i].search('network.lan.gateway='))\n    // }\n    // if(astring_array[i].search('network.lan.dns=') !== -1) {\n    //     lan_config[\"dns\"] = astring_array[i].substring(astring_array[i].search('network.lan.dns='))\n    // }\n    \n}\n// let something = astring.search('network.lan.ipaddr=');\n// msg.something1 = astring.substring(astring.search('network.lan.ipaddr='),something + 10)\n// msg.something = something;\n// msg.str_array = astring_array;\nmsg.payload.eth = lan_config;\nmsg.lan_c = lan_c;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["e230c99e.2eac48","c3d07d5.ad9428"]]},{"id":"a4474444.1b8658","type":"function","z":"4d1a0c68.2dc7b4","name":"parse WIFI response","func":"\nlet astring = msg.payload;\nmsg.payload = {};\nlet astring_array = astring.split(\"\\n\")\n\nlet param = ['wireless.@wifi-iface[0].ssid', 'wireless.@wifi-iface[0].key', 'wireless.@wifi-iface[0].mode'];\nlet param_replace = \"wireless.@wifi-iface[0].\"\nlet config = {};\nlet c = [];\n\n\nfunction give_me_data(aline, pattern) {\n    if(aline.indexOf(pattern) !== -1) {\n        let offset = pattern.length;\n        let data = aline.substring(offset + 2).trim().replace(\"'\",'')\n        return data\n    }\n    else {\n        return 0\n    }\n}\n\nfor(let i=0; i < astring_array.length ; i++) {\n    for(let x=0; x < param.length; x++) {\n        \n        if(astring_array[i].indexOf(param[x]) !== -1) {\n            msg.in = \"yes\"\n            c.push(give_me_data(astring_array[i], param[x]))\n            config[param[x].replace(param_replace,'')] = give_me_data(astring_array[i], param[x])\n        }\n    }\n    \n    \n    \n    msg.ipadd = \"yes\" + i;\n    // if(astring_array[i].search('network.lan.ipaddr=') !== -1) {\n    //     let offset = 'network.lan.ipaddr='.length;\n    //     let data = astring_array[i].substring(offset + 1).trim().replace(\"'\",'')\n \n    //     lan_config[\"ip_address\"] = astring_array[i].substring(offset + 1);\n    //     lan_config[\"ip_address\"] = data\n    // }\n    // if(astring_array[i].search('network.lan.netmask=') !== -1) {\n    //     lan_config[\"subnet_mask\"] = astring_array[i].substring(astring_array[i].search('network.lan.netmask='))\n    // }\n    // if(astring_array[i].search('network.lan.gateway=') !== -1) {\n    //     lan_config[\"default_gateway\"] = astring_array[i].substring(astring_array[i].search('network.lan.gateway='))\n    // }\n    // if(astring_array[i].search('network.lan.dns=') !== -1) {\n    //     lan_config[\"dns\"] = astring_array[i].substring(astring_array[i].search('network.lan.dns='))\n    // }\n    \n}\n// let something = astring.search('wireless.@wifi-iface[0].ssid');\n// msg.something1 = astring.substring(astring.search('network.lan.ipaddr='),something + 10)\n// msg.something = something;\n// msg.str_array = astring_array;\nmsg.payload.wifi = config;\nmsg.c = c;\n// let temp = `aaaaawireless.@wifi-iface[0].mode='ap'`\n// let temp = \"jada\"\n// msg.payload = temp.replace(\"wireless.@wifi-iface[0].\",'')\n// msg.temp = temp.indexOf('wireless.@wifi-iface[0].mode');\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":400,"wires":[["e230c99e.2eac48","e228ed6f.1c994"]]},{"id":"a6249983.c05c08","type":"function","z":"4d1a0c68.2dc7b4","name":"parse ppp0","func":"\nlet astring = msg.payload;\nlet astring_array = astring.split(\"\\n\")\nmsg.payload = {};\n\nlet param = ['network.ppp0.apn', 'network.ppp0.username', 'network.ppp0.password'];\nlet param_replace = \"network.ppp0.\"\nlet config = {};\nlet c = [];\n\n\nfunction give_me_data(aline, pattern) {\n    if(aline.search(pattern) !== -1) {\n        let offset = pattern.length;\n        let data = aline.substring(offset + 2).trim().replace(\"'\",'')\n        return data\n    }\n    else {\n        return 0\n    }\n}\n\nfor(let i=0; i < astring_array.length ; i++) {\n    for(let x=0; x < param.length; x++) {\n        if(astring_array[i].search(param[x]) !== -1) {\n            c.push(give_me_data(astring_array[i], param[x]))\n            config[param[x].replace(param_replace,'')] = give_me_data(astring_array[i], param[x])\n        }\n    }\n    \n    \n    \n    // msg.ipadd = \"yes\" + i;\n    // if(astring_array[i].search('network.lan.ipaddr=') !== -1) {\n    //     let offset = 'network.lan.ipaddr='.length;\n    //     let data = astring_array[i].substring(offset + 1).trim().replace(\"'\",'')\n \n    //     lan_config[\"ip_address\"] = astring_array[i].substring(offset + 1);\n    //     lan_config[\"ip_address\"] = data\n    // }\n    // if(astring_array[i].search('network.lan.netmask=') !== -1) {\n    //     lan_config[\"subnet_mask\"] = astring_array[i].substring(astring_array[i].search('network.lan.netmask='))\n    // }\n    // if(astring_array[i].search('network.lan.gateway=') !== -1) {\n    //     lan_config[\"default_gateway\"] = astring_array[i].substring(astring_array[i].search('network.lan.gateway='))\n    // }\n    // if(astring_array[i].search('network.lan.dns=') !== -1) {\n    //     lan_config[\"dns\"] = astring_array[i].substring(astring_array[i].search('network.lan.dns='))\n    // }\n    \n}\n// let something = astring.search('network.lan.ipaddr=');\n// msg.something1 = astring.substring(astring.search('network.lan.ipaddr='),something + 10)\n// msg.something = something;\n// msg.str_array = astring_array;\nmsg.payload.cell = config;\nmsg.lan_c = c;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":460,"wires":[["e230c99e.2eac48","9db5a94d.d6a7f8"]]},{"id":"32441e6b.859112","type":"function","z":"4d1a0c68.2dc7b4","name":"uci setnetwork.lan","func":"let set_string = `network.lan.netmask='`+ msg.payload.eth.netmask+`'\nnetwork.lan.ipaddr='`+ msg.payload.eth.ipaddr+`'\nnetwork.lan.gateway='`+ msg.payload.eth.gateway+`'\nnetwork.lan.dns='`+ msg.payload.eth.dns+`'\nuci commit network\nluci-reload\n/etc/init.d/network restart\n`\n\nmsg.payload = set_string;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":500,"wires":[["51aa9161.e18f3","47737fe8.0d3f9"]]},{"id":"41ae5586.5be25c","type":"function","z":"4d1a0c68.2dc7b4","name":"uci set wireless.@wifi-iface[0]","func":"let set_string = `wireless.@wifi-iface[0].mode='`+ msg.payload.wifi.mode+`'\nwireless.@wifi-iface[0].key='`+ msg.payload.wifi.key+`'\nwireless.@wifi-iface[0].ssid='`+ msg.payload.wifi.ssid+`'\nuci commit wireless\nluci-reload\n/etc/init.d/network restart\n`\n\n\nmsg.payload = set_string;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1080,"y":560,"wires":[["47737fe8.0d3f9","51aa9161.e18f3"]]},{"id":"542b9a69.a933f4","type":"function","z":"4d1a0c68.2dc7b4","name":"uci set network.ppp0","func":"var username = msg.payload.cell.username ? msg.payload.cell.username : '';\nvar password = msg.payload.cell.password ? msg.payload.cell.password : '';\n\nvar set_string = `uci set network.ppp0.device='/dev/ttyUSB3'\nuci set network.ppp0.apn='`+ msg.payload.cell.apn +`'\nuci set network.ppp0.username='`+ username +`'\nuci set network.ppp0.password='`+ password +`'\nuci set network.ppp0.dialnumber='*99#'\nuci commit network\nluci-reload\n/etc/init.d/network restart\n`\n\nmsg.payload = set_string;\nreturn msg;\n","outputs":1,"noerr":0,"x":1060,"y":620,"wires":[["47737fe8.0d3f9","51aa9161.e18f3"]]},{"id":"51aa9161.e18f3","type":"debug","z":"4d1a0c68.2dc7b4","name":"DOING SET","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":400,"wires":[]},{"id":"47737fe8.0d3f9","type":"template","z":"4d1a0c68.2dc7b4","name":"like an EXEC","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":390,"y":580,"wires":[["7cccc5cb.07e5dc","85fda1d4.424f4","c5d81cb9.de58"]]},{"id":"3a59e6e8.da99fa","type":"function","z":"355b26cf.25ba9a","name":"test creating default config","func":"// cat <<EOT >> greetings.txt\n// line 1\n// line 2\n// EOT\ndefault_string = `cat <<EOT > /data/test-config.json\n{\n\t\"directory\": {\n\t\t\"Data\": \"/data/data/\",\n\t\t\"Retention\": 10080\n\t},\n\t\"timing\": {\n\t\t\"CheckFTP\": 60000,\n\t\t\"DataFileHandler\": 300000,\n\t\t\"RetentionHandler\": 180000\n\t},\n\t\"ftp\": {\n\t\t\"1\": {\n\t\t\t\"IP\": \"192.168.1.25\",\n\t\t\t\"Username\": \"upload\",\n\t\t\t\"Password\": \"upload\",\n\t\t\t\"Directory\": \"directory/\",\n\t\t\t\"Compress\": true\n\t\t}\n\t}\n}\nEOT\n`\nmsg.payload = default_string;\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["b8bbc097.528e2"]]},{"id":"b8bbc097.528e2","type":"exec","z":"355b26cf.25ba9a","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":80,"wires":[["b8085a3b.303ca8"],["b8085a3b.303ca8"],["b8085a3b.303ca8"]]},{"id":"b8085a3b.303ca8","type":"debug","z":"355b26cf.25ba9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":160,"wires":[]},{"id":"21f24037.7aa9e","type":"inject","z":"355b26cf.25ba9a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["3a59e6e8.da99fa"]]},{"id":"cc38990b.282ca8","type":"function","z":"355b26cf.25ba9a","name":"timepref","func":"var timePrefix = new Date().toLocaleString().replace('T', '_').substr(0, 19)\ntimePrefix = timePrefix.replace(/:/g,'.')\n\nmsg.payload = timePrefix;\nmsg.time = new Date().toLocaleString('en-GB');\n\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["972247cc.648d18"]]},{"id":"972247cc.648d18","type":"debug","z":"355b26cf.25ba9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":360,"wires":[]},{"id":"6c8bfd74.f05d14","type":"inject","z":"355b26cf.25ba9a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":360,"wires":[["cc38990b.282ca8"]]},{"id":"b56441be.ac9a5","type":"debug","z":"4d1a0c68.2dc7b4","name":"NOTIFY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1100,"y":40,"wires":[]},{"id":"2a66e99a.fb9ff6","type":"function","z":"355b26cf.25ba9a","name":"Sleep Timer","func":"\nvar value  = context.get('value') || 60000;\n\nif (msg.topic == \"value\")\n{\n  value = msg.payload * 60000;\n  context.set('value',value);  \n}\n\nelse if (msg.topic == \"start\")\n{\n\nvar timer = setTimeout(function(){msg.payload = \"off\";node.send([msg,{ payload: \"Ende\" }]);var countdownstop  = context.get('countdown');clearInterval(countdownstop)},value);\ncontext.set('timer',timer); \n\nvar count = value/60000;\n//count = count -1 ;\nmsg.payload=count;\nnode.send([null,msg]);\nvar countdown = setInterval(function() {count=count-1;msg.payload=count; node.send([null,msg]) }, 60000);\ncontext.set('countdown',countdown);\n\n}\n\nelse if (msg.topic == \"stop\")\n{\nvar timerstop  = context.get('timer')\nclearTimeout(timerstop);\n\nvar countdownstop  = context.get('countdown')\nclearInterval(countdownstop);\n\n}\n\n\n","outputs":"2","noerr":0,"x":510,"y":440,"wires":[[],[]]},{"id":"ce086749.70d158","type":"function","z":"355b26cf.25ba9a","name":"","func":"var text = `<ul>    <li>YOU are changing LAN: 192.168.10.211</li>    <li>Gateway: 192.168.10.1</li></ul>`\nmsg.payload = text\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":520,"wires":[["5447ef1f.5a014"]]},{"id":"c1fe192d.fb77e8","type":"template","z":"4d1a0c68.2dc7b4","name":"ethernet setting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You are changing Ethernet setting\n<ul>\n    <li>YOU are changing LAN: <strong>{{payload.eth.ipaddr}}</strong></li>\n    <li>Gateway: <strong>{{payload.eth.gateway}}</strong></li>\n</ul>\n","output":"str","x":800,"y":60,"wires":[["cb6ca651.a76158"]]},{"id":"5447ef1f.5a014","type":"ui_toast","z":"355b26cf.25ba9a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"Configure ETH","name":"","x":710,"y":620,"wires":[[]]},{"id":"3874252f.e6125a","type":"ui_button","z":"355b26cf.25ba9a","name":"","group":"24591854.174718","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":620,"wires":[["ce086749.70d158"]]},{"id":"cb6ca651.a76158","type":"ui_toast","z":"4d1a0c68.2dc7b4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"Conf ETH","name":"","x":930,"y":20,"wires":[[]]},{"id":"555ca91.9b6f058","type":"ui_template","z":"355b26cf.25ba9a","group":"24591854.174718","name":"WiFi Setting UI","order":1,"width":0,"height":0,"format":"<style>\nspan {\n    display: inline-grid;\n    margin: 10px;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\n.hint {\n    /* Position the hint */\n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey;\n    }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n.input {\n   /*NOTE: Check the demo's HTML to see some additional RTL support CSS */\n   /*Setup animations similar to the ng-messages */ }*/\n  .input .hint {\n     Position the hint \n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey; }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n    \n</style>\n<div>\n<!--<md-input-container>-->\n<!--    <label>IP Address</label>-->\n<!--    <input name=\"data_dir\" ng-model=\"msg.payload.directory.Data\" required>-->\n<!--    <md-tooltip md-direction=\"top\">Enter absolute path with trailing /</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Subnet Mask</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.directory.Retention\"-->\n<!--    required type=\"number\" step=\"any\" min=\"1\" max=\"31\">-->\n<!--    <div ng-if=\"!(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31)\" class=\"hint\">-->\n<!--        File retention can be set between 1 - 31 days</div>-->\n\n<!--    <md-tooltip md-direction=\"top\">How long to keep files before local deletition (min. 1 day)</md-tooltip>-->\n<!--    </md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Default Gateway</label>-->\n<!--    <input name=\"check_ftp_duration\" ng-model=\"msg.payload.timing.CheckFTP\" required type=\"number\" step=\"any\" min=\"60\" max=\"3600\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check FTP servers (min. 60sec)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>DNS</label>-->\n<!--    <input name=\"check_data_duration\" ng-model=\"msg.payload.timing.DataFileHandler\" -->\n<!--    required type=\"number\" step=\"any\" min=\"5\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to process incomming files (min. 5minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<md-input-container>\n    <label>SSID</label>\n    <input name=\"retention_duration\" ng-model=\"msg.payload.wifi.ssid\" required >\n    <md-tooltip md-direction=\"top\">SSID can be anything</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>Password</label>\n    <input name=\"retention_duration\" ng-model=\"msg.payload.wifi.key\" required type=\"test\" min=\"8\" >\n    <md-tooltip md-direction=\"top\">At least 8 characters is required</md-tooltip>\n</md-input-container>\n<!--<md-input-container>-->\n<!--    <label>APN</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>PAP/CHAP Username</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>PAP/CHAP Password</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-divider ng-if=\"!$last\"></md-divider>-->\n<br>\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.wifi.ssid || !(msg.payload.wifi.key.length >= 8)\">\n <!--|| !(msg.payload.timing.DataFileHandler >=5) || !(msg.payload.timing.RetentionHandler >=3) || !(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31) \">-->\nSubmit\n </md-button>\n</md-input-container>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":320,"y":760,"wires":[["d05b0d43.56953"]]},{"id":"d05b0d43.56953","type":"template","z":"355b26cf.25ba9a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"YOU are changing\n<ul>\n    <li>SSID: {{payload.wifi.ssid}}</li>\n    <li>PASS: {{msg.payload.wifi.key}}</li>\n</ul>","output":"str","x":500,"y":700,"wires":[["5447ef1f.5a014"]]},{"id":"4757ed97.8f7abc","type":"function","z":"355b26cf.25ba9a","name":"","func":"msg.one = \"one\"\nmsg.two = \"two\"\nmsg.payload = {\n    \"jedna\": 1,\n    \"dva\": 2\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":860,"wires":[["ed7e1f07.ade198"]]},{"id":"fc8dc5c4.a9f9c8","type":"inject","z":"355b26cf.25ba9a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":860,"wires":[["4757ed97.8f7abc"]]},{"id":"ed7e1f07.ade198","type":"template","z":"355b26cf.25ba9a","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"stdout","output":"str","x":660,"y":860,"wires":[["972247cc.648d18"]]},{"id":"87b169b1.0fe1f8","type":"ui_toast","z":"4d1a0c68.2dc7b4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":870,"y":740,"wires":[[]]},{"id":"adf535dc.a71b88","type":"ui_toast","z":"4d1a0c68.2dc7b4","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Changing WiFi","name":"","x":870,"y":820,"wires":[]},{"id":"442b162f.c78e58","type":"template","z":"4d1a0c68.2dc7b4","name":"wifi template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You are changing WiFi setting\n<ul>\n    <li>SSID: <strong>{{payload.wifi.ssid}}</strong></li>\n    <li>Password: <strong>{{payload.wifi.key}}</strong></li>\n</ul>","output":"str","x":670,"y":820,"wires":[["87b169b1.0fe1f8"]]},{"id":"f73184b8.694328","type":"ui_toast","z":"4d1a0c68.2dc7b4","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Changing Cell","name":"","x":870,"y":880,"wires":[]},{"id":"e69dd8f2.d72628","type":"template","z":"4d1a0c68.2dc7b4","name":"cell template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You are changing Cell setting\n<ul>\n    <li>APN: <strong>{{payload.cell.apn}}</strong></li>\n    <li>Username: <strong>{{payload.cell.username}}</strong></li>\n    <li>Password: <strong>{{payload.cell.password}}</strong></li>\n</ul>","output":"str","x":670,"y":880,"wires":[["87b169b1.0fe1f8"]]}]