package/system/node-red-dureco/files/root/.node-red/flows_OpenWrt.json
[{"id":"3f51f215.8371de","type":"tab","label":"UI - unit config"},{"id":"76078824.cd3388","type":"tab","label":"User Interface"},{"id":"7fe34bd5.083a04","type":"tab","label":"check FTP online v2"},{"id":"e72eadd.3ec455","type":"tab","label":"Compress files"},{"id":"c2092b01.eb6238","type":"tab","label":"Data File Handler"},{"id":"2d98bf27.5ee17","type":"tab","label":"Upload file v3"},{"id":"a978daee.27a308","type":"tab","label":"Retention handler"},{"id":"185880e4.4c699f","type":"tab","label":"Flow 1"},{"id":"b7a94b6d.a18d18","type":"tab","label":"Create dummy files","disabled":true,"info":""},{"id":"5d50da1b.5256a4","type":"subflow","name":"Iterate for Upload","info":"","in":[{"x":50,"y":99,"wires":[{"id":"6744081e.cbff18"}]}],"out":[{"x":465,"y":62,"wires":[{"id":"6744081e.cbff18","port":0}]},{"x":473,"y":148,"wires":[{"id":"6744081e.cbff18","port":1}]}]},{"id":"2b683c7e.0c6194","type":"ui_group","z":"","name":"Ethernet Setting","tab":"8f10222.bc4f0e","disp":true,"width":"6","collapse":false},{"id":"76589705.63f718","type":"ui_group","z":"","name":"WiFi Setting","tab":"8f10222.bc4f0e","disp":true,"width":"6","collapse":false},{"id":"6e3ddfc2.92bf9","type":"ui_group","z":"","name":"Mobile WAN","tab":"8f10222.bc4f0e","disp":true,"width":"6","collapse":false},{"id":"8f10222.bc4f0e","type":"ui_tab","z":"","name":"Unit Config","icon":"gavel","order":1},{"id":"b3b2d0b0.8f0de","type":"ui_group","z":"","name":"Application Setting","tab":"87473913.6446d8","order":1,"disp":true,"width":"8","collapse":false},{"id":"ca0e5bed.f6e7d8","type":"ui_group","z":"","name":"Destination Settings","tab":"87473913.6446d8","order":2,"disp":true,"width":"8"},{"id":"6cd4d3d4.89e44c","type":"ui_group","z":"","name":"Configuration Overview","tab":"160e0b5.0eb50f5","order":1,"disp":true,"width":"6"},{"id":"cb6b8e4.2c3d47","type":"ui_group","z":"","name":"Log File","tab":"160e0b5.0eb50f5","order":2,"disp":true,"width":"6"},{"id":"22539cf1.2818b4","type":"ui_group","z":"","name":"Help","tab":"c4537d72.ff5d5","order":1,"disp":true,"width":"8","collapse":false},{"id":"87473913.6446d8","type":"ui_tab","z":"","name":"Module Setting","icon":"home","order":2},{"id":"160e0b5.0eb50f5","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":3},{"id":"c4537d72.ff5d5","type":"ui_tab","z":"","name":"Help","icon":"help_outline","order":4},{"id":"b9a7423f.93a67","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Hastings Deering - SyncIt","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"df850b44.f618a8","type":"ui_template","z":"3f51f215.8371de","group":"2b683c7e.0c6194","name":"ETH Setting UI","order":1,"width":0,"height":0,"format":"<style>\nspan {\n    display: inline-grid;\n    margin: 10px;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\n.hint {\n    /* Position the hint */\n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey;\n    }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n.input {\n   /*NOTE: Check the demo's HTML to see some additional RTL support CSS */\n   /*Setup animations similar to the ng-messages */ }*/\n  .input .hint {\n     Position the hint \n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey; }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n    \n</style>\n<div>\n    \n<md-input-container>\n    <label>IP Address</label>\n    <input name=\"eth_ip_address\" ng-model=\"msg.payload.eth.ipaddr\" required>\n    <md-tooltip md-direction=\"top\">IP Address of the local Eth interface</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>Subnet Mask</label>\n    <input name=\"eth_subnet_mask\" ng-model=\"msg.payload.eth.netmask\"\n    required >\n    <!--<div ng-if=\"!(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31)\" class=\"hint\">-->\n    <!--    File retention can be set between 1 - 31 days</div>-->\n\n    <md-tooltip md-direction=\"top\">Subnet Mask usually 255.255.255.0</md-tooltip>\n    </md-input-container>\n<md-input-container>\n    <label>Default Gateway</label>\n    <input name=\"eth_gateway\" ng-model=\"msg.payload.eth.gateway\" type=\"text\">\n    <md-tooltip md-direction=\"top\">Enter IP for Default Gateway - optional</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>DNS</label>\n    <input name=\"eth_dns\" ng-model=\"msg.payload.eth.dns\" \n    type=\"text\" >\n    <md-tooltip md-direction=\"top\">Enter IP for DNS - optional</md-tooltip>\n</md-input-container>\n<!--<md-input-container>-->\n<!--    <label>SSID</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Password</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>APN</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>PAP/CHAP Username</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>PAP/CHAP Password</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.eth.ipaddr || !msg.payload.eth.netmask\">\n <!--|| !(msg.payload.timing.DataFileHandler >=5) || !(msg.payload.timing.RetentionHandler >=3) || !(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31) \">-->\nSubmit\n </md-button>\n</md-input-container>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":620,"y":120,"wires":[["9bfea78b.3c8448","ba2db06b.0d6a","3086f190.1ac18e","c3baaccc.a76ae"]]},{"id":"bbf105ae.8a6b58","type":"ui_template","z":"3f51f215.8371de","group":"76589705.63f718","name":"WiFi Setting UI","order":1,"width":0,"height":0,"format":"<style>\nspan {\n    display: inline-grid;\n    margin: 10px;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\n.hint {\n    /* Position the hint */\n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey;\n    }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n.input {\n   /*NOTE: Check the demo's HTML to see some additional RTL support CSS */\n   /*Setup animations similar to the ng-messages */ }*/\n  .input .hint {\n     Position the hint \n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey; }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n    \n</style>\n<div>\n<!--<md-input-container>-->\n<!--    <label>IP Address</label>-->\n<!--    <input name=\"data_dir\" ng-model=\"msg.payload.directory.Data\" required>-->\n<!--    <md-tooltip md-direction=\"top\">Enter absolute path with trailing /</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Subnet Mask</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.directory.Retention\"-->\n<!--    required type=\"number\" step=\"any\" min=\"1\" max=\"31\">-->\n<!--    <div ng-if=\"!(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31)\" class=\"hint\">-->\n<!--        File retention can be set between 1 - 31 days</div>-->\n\n<!--    <md-tooltip md-direction=\"top\">How long to keep files before local deletition (min. 1 day)</md-tooltip>-->\n<!--    </md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Default Gateway</label>-->\n<!--    <input name=\"check_ftp_duration\" ng-model=\"msg.payload.timing.CheckFTP\" required type=\"number\" step=\"any\" min=\"60\" max=\"3600\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check FTP servers (min. 60sec)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>DNS</label>-->\n<!--    <input name=\"check_data_duration\" ng-model=\"msg.payload.timing.DataFileHandler\" -->\n<!--    required type=\"number\" step=\"any\" min=\"5\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to process incomming files (min. 5minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<md-input-container>\n    <label>SSID</label>\n    <input name=\"retention_duration\" ng-model=\"msg.payload.wifi.ssid\" required >\n    <md-tooltip md-direction=\"top\">SSID can be anything</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>Password</label>\n    <input name=\"retention_duration\" ng-model=\"msg.payload.wifi.key\" required type=\"test\" min=\"8\" >\n    <md-tooltip md-direction=\"top\">At least 8 characters is required</md-tooltip>\n</md-input-container>\n<!--<md-input-container>-->\n<!--    <label>APN</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>PAP/CHAP Username</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>PAP/CHAP Password</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.wifi.ssid || !(msg.payload.wifi.key.length >= 8)\">\n <!--|| !(msg.payload.timing.DataFileHandler >=5) || !(msg.payload.timing.RetentionHandler >=3) || !(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31) \">-->\nSubmit\n </md-button>\n</md-input-container>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":620,"y":180,"wires":[["ba2db06b.0d6a","3086f190.1ac18e","984f3742.c5d1c8"]]},{"id":"9bfea78b.3c8448","type":"ui_template","z":"3f51f215.8371de","group":"6e3ddfc2.92bf9","name":"Cell Setting UI","order":1,"width":0,"height":0,"format":"<style>\nspan {\n    display: inline-grid;\n    margin: 10px;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\n.hint {\n    /* Position the hint */\n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey;\n    }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n.input {\n   /*NOTE: Check the demo's HTML to see some additional RTL support CSS */\n   /*Setup animations similar to the ng-messages */ }*/\n  .input .hint {\n     Position the hint \n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey; }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n    \n</style>\n<div>\n<!--<md-input-container>-->\n<!--    <label>IP Address</label>-->\n<!--    <input name=\"data_dir\" ng-model=\"msg.payload.directory.Data\" required>-->\n<!--    <md-tooltip md-direction=\"top\">Enter absolute path with trailing /</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Subnet Mask</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.directory.Retention\"-->\n<!--    required type=\"number\" step=\"any\" min=\"1\" max=\"31\">-->\n<!--    <div ng-if=\"!(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31)\" class=\"hint\">-->\n<!--        File retention can be set between 1 - 31 days</div>-->\n\n<!--    <md-tooltip md-direction=\"top\">How long to keep files before local deletition (min. 1 day)</md-tooltip>-->\n<!--    </md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Default Gateway</label>-->\n<!--    <input name=\"check_ftp_duration\" ng-model=\"msg.payload.timing.CheckFTP\" required type=\"number\" step=\"any\" min=\"60\" max=\"3600\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check FTP servers (min. 60sec)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>DNS</label>-->\n<!--    <input name=\"check_data_duration\" ng-model=\"msg.payload.timing.DataFileHandler\" -->\n<!--    required type=\"number\" step=\"any\" min=\"5\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to process incomming files (min. 5minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>SSID</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>Password</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<md-input-container>\n    <label>APN</label>\n    <input name=\"cell_apn\" ng-model=\"msg.payload.cell.apn\" required type=\"text\" >\n    <md-tooltip md-direction=\"top\">APN string for the SIM card</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>PAP/CHAP Username</label>\n    <input name=\"cell_user\" ng-model=\"msg.payload.cell.username\"  type=\"text\">\n    <md-tooltip md-direction=\"top\">Username for the SIM card</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>PAP/CHAP Password</label>\n    <input name=\"cell_password\" ng-model=\"msg.payload.cell.password\" type=\"text\">\n    <md-tooltip md-direction=\"top\">Password for the SIM card</md-tooltip>\n</md-input-container>\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.cell.apn\">\n <!--|| !(msg.payload.timing.DataFileHandler >=5) || !(msg.payload.timing.RetentionHandler >=3) || !(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31) \">-->\nSubmit\n </md-button>\n</md-input-container>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":620,"y":240,"wires":[["ba2db06b.0d6a","3086f190.1ac18e","92c61898.693208"]]},{"id":"bd6ea9c2.57e728","type":"function","z":"3f51f215.8371de","name":"inject fake values","func":"var eth_setting = {\n    \"ip_address\": \"192.168.10.211\",\n    \"subnet_mask\": \"255.255.255.0\"\n}\nmsg.payload = {};\n\nmsg.payload.eth = eth_setting;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["df850b44.f618a8","bbf105ae.8a6b58","9bfea78b.3c8448"]]},{"id":"4fcede96.8f4f2","type":"inject","z":"3f51f215.8371de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":180,"wires":[["bd6ea9c2.57e728"]]},{"id":"ba2db06b.0d6a","type":"debug","z":"3f51f215.8371de","name":"FAKE VAL","active":true,"console":false,"complete":"true","x":904,"y":278,"wires":[]},{"id":"3086f190.1ac18e","type":"function","z":"3f51f215.8371de","name":"Check Dirs, Create Dirs & Set Globals","func":"// // Declare FS library\n// var fs = global.get('fs1');\n\n\n// // String trailing / if need be\n// function stripTrailingSlash(str)     \n// {     \n//     return str.replace(/\\/$/, \"\");\n// }\n\n// // Function to take care of recursive creation\n// function mkdirs(path) {\n//     var dirs = path.split('/');\n//     var prevDir = dirs.splice(0,1)+\"/\";\n//     while(dirs.length > 0) {\n//         var curDir = prevDir + dirs.splice(0,1);\n//         if (! fs.existsSync(curDir) ) {\n//             fs.mkdirSync(curDir);\n//         }\n//         prevDir = curDir + '/';\n//     }\n// }\n\n// if(msg.payload.directory) {\n//     var directory = msg.payload.directory;\n//     directory.Retention = directory.Retention*24*60\n//     msg.payload.directory = directory;\n// }\n\n//     if(msg.payload.timing) {\n//         var timing = msg.payload.timing;\n//         timing.RetentionHandler = timing.RetentionHandler*1000*60;\n//         timing.DataFileHandler = timing.DataFileHandler*1000*60;\n//         timing.CheckFTP = timing.CheckFTP*1000;\n//         msg.payload.timing = timing;\n//     }\n// //Check if loc_dir exists and create if needed\n// try {\n//     fs.accessSync(msg.payload.directory.Data);\n//     }catch(e){\n//     mkdirs(stripTrailingSlash(msg.payload.directory.Data));\n//     // Set gloabl varaibles\n//     global.set(\"ftp\", msg.payload.ftp )\n//     global.set(\"directory\", msg.payload.directory)\n//     global.set(\"timing\", msg.payload.timing)\n//     }\n\n// Set gloabl varaibles\nglobal.set(\"eth\", msg.payload.eth )\nglobal.set(\"wifi\", msg.payload.wifi)\nglobal.set(\"cell\", msg.payload.cell)\n\nif(msg.payload.eth) {\n    // node.send([msg.payload.eth, null, null])\n    return [msg, null, null];\n}\nif(msg.payload.wifi) {\n    // node.send([null, msg.payload.wifi, null])\n    return [null, msg, null];\n}\nif(msg.payload.cell) {\n    // node.send([null, null, msg.payload.cell])\n    return [null, null, msg];\n}\n// return msg;","outputs":"3","noerr":0,"x":1010,"y":120,"wires":[["b3b13e81.01623","fe36672e.596168","a633b369.c2be4"],["17bd7209.cf22ee"],["6427490e.595d58"]]},{"id":"b3b13e81.01623","type":"file","z":"3f51f215.8371de","name":"Write Config","filename":"/root/conf_settings-test.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":970,"y":200,"wires":[]},{"id":"f88434e2.1f7608","type":"function","z":"3f51f215.8371de","name":"uci show network.lan","func":"var reply = `network.lan=interface\nnetwork.lan.ifname='eth0'\nnetwork.lan.proto='static'\nnetwork.lan.netmask='255.255.255.0'\nnetwork.lan.ip6assign='60'\nnetwork.lan.ipaddr='192.168.10.211'\nnetwork.lan.gateway='192.168.10.1'\nnetwork.lan.dns='208.67.220.222'`\n\n// msg.payload = reply;\nmsg.payload = \"uci show network.lan\"\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":255,"wires":[["68968abd.7215d4"]]},{"id":"c7df930d.8fdb1","type":"inject","z":"3f51f215.8371de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":99,"y":379,"wires":[["1d8f1d72.200443","ed4ae60b.efac28","f88434e2.1f7608"]]},{"id":"a633b369.c2be4","type":"debug","z":"3f51f215.8371de","name":"","active":true,"console":false,"complete":"true","x":1331,"y":99,"wires":[]},{"id":"ed4ae60b.efac28","type":"function","z":"3f51f215.8371de","name":"uci show wireless","func":"var reply = `wireless.@wifi-iface[0]=wifi-iface\nwireless.@wifi-iface[0].device='wlan0'\nwireless.@wifi-iface[0].mode='ap'\nwireless.@wifi-iface[0].key='MyPASSWORD'\nwireless.@wifi-iface[0].encryption='psk2'\nwireless.@wifi-iface[0].network='WIFI'\nwireless.@wifi-iface[0].disassoc_low_ack='0'\nwireless.@wifi-iface[0].ssid='Intellidesign.FP2.114'`\n\n// msg.payload = reply;\nmsg.payload = \"uci show wireless\"\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["8a7d35d8.31a358"]]},{"id":"1d8f1d72.200443","type":"function","z":"3f51f215.8371de","name":"uci show network.ppp0","func":"var reply = `network.ppp0=interface\nnetwork.ppp0.ifname='ppp0'\nnetwork.ppp0.proto='3g'\nnetwork.ppp0.device='/dev/ttyUSB3'\nnetwork.ppp0.apn='connect'\nnetwork.ppp0.username='cell-user'\nnetwork.ppp0.password='cell-pass'\nnetwork.ppp0.dialnumber='*99#'\nnetwork.ppp0.ipv6='auto'`\n\n// msg.payload = reply;\n\nmsg.payload = \"uci show network.ppp0\";\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":520,"wires":[["85196fab.38516"]]},{"id":"ad758cf3.480f5","type":"function","z":"3f51f215.8371de","name":"parse lan response","func":"\nvar astring = msg.payload;\nmsg.payload = {};\nvar astring_array = astring.split(\"\\n\")\n\nvar lan_param = ['network.lan.ipaddr', 'network.lan.netmask', 'network.lan.gateway', 'network.lan.dns'];\nvar param_replace = \"network.lan.\"\nvar lan_config = {};\nvar lan_c = [];\n\n\nfunction give_me_data(aline, pattern) {\n    if(aline.search(pattern) !== -1) {\n        var offset = pattern.length;\n        var data = aline.substring(offset + 2).trim().replace(\"'\",'')\n        return data\n    }\n    else {\n        return 0\n    }\n}\n\nfor(var i=0; i < astring_array.length ; i++) {\n    for(var x=0; x < lan_param.length; x++) {\n        if(astring_array[i].search(lan_param[x]) !== -1) {\n            lan_c.push(give_me_data(astring_array[i], lan_param[x]))\n            lan_config[lan_param[x].replace(param_replace,'')] = give_me_data(astring_array[i], lan_param[x])\n        }\n    }\n    \n    \n    \n    // msg.ipadd = \"yes\" + i;\n    // if(astring_array[i].search('network.lan.ipaddr=') !== -1) {\n    //     let offset = 'network.lan.ipaddr='.length;\n    //     let data = astring_array[i].substring(offset + 1).trim().replace(\"'\",'')\n \n    //     lan_config[\"ip_address\"] = astring_array[i].substring(offset + 1);\n    //     lan_config[\"ip_address\"] = data\n    // }\n    // if(astring_array[i].search('network.lan.netmask=') !== -1) {\n    //     lan_config[\"subnet_mask\"] = astring_array[i].substring(astring_array[i].search('network.lan.netmask='))\n    // }\n    // if(astring_array[i].search('network.lan.gateway=') !== -1) {\n    //     lan_config[\"default_gateway\"] = astring_array[i].substring(astring_array[i].search('network.lan.gateway='))\n    // }\n    // if(astring_array[i].search('network.lan.dns=') !== -1) {\n    //     lan_config[\"dns\"] = astring_array[i].substring(astring_array[i].search('network.lan.dns='))\n    // }\n    \n}\n// let something = astring.search('network.lan.ipaddr=');\n// msg.something1 = astring.substring(astring.search('network.lan.ipaddr='),something + 10)\n// msg.something = something;\n// msg.str_array = astring_array;\nmsg.payload.eth = lan_config;\nmsg.lan_c = lan_c;\n\nreturn msg;","outputs":1,"noerr":0,"x":629,"y":314,"wires":[["df850b44.f618a8"]]},{"id":"8bb5efb7.a90ce","type":"function","z":"3f51f215.8371de","name":"parse WIFI response","func":"\"use strict\";\nvar astring = msg.payload;\nmsg.payload = {};\nvar astring_array = astring.split(\"\\n\")\n\nvar param = ['wireless.@wifi-iface[0].ssid', 'wireless.@wifi-iface[0].key', 'wireless.@wifi-iface[0].mode'];\nvar param_replace = \"wireless.@wifi-iface[0].\"\nvar config = {};\nvar c = [];\n\n\nfunction give_me_data(aline, pattern) {\n    if(aline.indexOf(pattern) !== -1) {\n        var offset = pattern.length;\n        var data = aline.substring(offset + 2).trim().replace(\"'\",'')\n        return data\n    }\n    else {\n        return 0\n    }\n}\n\nfor(var i=0; i < astring_array.length ; i++) {\n    for(var x=0; x < param.length; x++) {\n        \n        if(astring_array[i].indexOf(param[x]) !== -1) {\n            msg.in = \"yes\"\n            c.push(give_me_data(astring_array[i], param[x]))\n            config[param[x].replace(param_replace,'')] = give_me_data(astring_array[i], param[x])\n        }\n    }\n    \n    \n    \n    msg.ipadd = \"yes\" + i;\n    // if(astring_array[i].search('network.lan.ipaddr=') !== -1) {\n    //     let offset = 'network.lan.ipaddr='.length;\n    //     let data = astring_array[i].substring(offset + 1).trim().replace(\"'\",'')\n \n    //     lan_config[\"ip_address\"] = astring_array[i].substring(offset + 1);\n    //     lan_config[\"ip_address\"] = data\n    // }\n    // if(astring_array[i].search('network.lan.netmask=') !== -1) {\n    //     lan_config[\"subnet_mask\"] = astring_array[i].substring(astring_array[i].search('network.lan.netmask='))\n    // }\n    // if(astring_array[i].search('network.lan.gateway=') !== -1) {\n    //     lan_config[\"default_gateway\"] = astring_array[i].substring(astring_array[i].search('network.lan.gateway='))\n    // }\n    // if(astring_array[i].search('network.lan.dns=') !== -1) {\n    //     lan_config[\"dns\"] = astring_array[i].substring(astring_array[i].search('network.lan.dns='))\n    // }\n    \n}\n// let something = astring.search('wireless.@wifi-iface[0].ssid');\n// msg.something1 = astring.substring(astring.search('network.lan.ipaddr='),something + 10)\n// msg.something = something;\n// msg.str_array = astring_array;\nmsg.payload.wifi = config;\nmsg.c = c;\n// let temp = `aaaaawireless.@wifi-iface[0].mode='ap'`\n// let temp = \"jada\"\n// msg.payload = temp.replace(\"wireless.@wifi-iface[0].\",'')\n// msg.temp = temp.indexOf('wireless.@wifi-iface[0].mode');\n\nreturn msg;","outputs":1,"noerr":0,"x":656,"y":401,"wires":[["bbf105ae.8a6b58"]]},{"id":"e20de409.c36508","type":"function","z":"3f51f215.8371de","name":"parse ppp0","func":"\"use strict\";\nvar astring = msg.payload;\nvar astring_array = astring.split(\"\\n\")\nmsg.payload = {};\n\nvar param = ['network.ppp0.apn', 'network.ppp0.username', 'network.ppp0.password'];\nvar param_replace = \"network.ppp0.\"\nvar config = {};\nvar c = [];\n\n\nfunction give_me_data(aline, pattern) {\n    if(aline.search(pattern) !== -1) {\n        var offset = pattern.length;\n        var data = aline.substring(offset + 2).trim().replace(\"'\",'')\n        return data\n    }\n    else {\n        return 0\n    }\n}\n\nfor(var i=0; i < astring_array.length ; i++) {\n    for(var x=0; x < param.length; x++) {\n        if(astring_array[i].search(param[x]) !== -1) {\n            c.push(give_me_data(astring_array[i], param[x]))\n            config[param[x].replace(param_replace,'')] = give_me_data(astring_array[i], param[x])\n        }\n    }\n    \n    \n    \n    // msg.ipadd = \"yes\" + i;\n    // if(astring_array[i].search('network.lan.ipaddr=') !== -1) {\n    //     let offset = 'network.lan.ipaddr='.length;\n    //     let data = astring_array[i].substring(offset + 1).trim().replace(\"'\",'')\n \n    //     lan_config[\"ip_address\"] = astring_array[i].substring(offset + 1);\n    //     lan_config[\"ip_address\"] = data\n    // }\n    // if(astring_array[i].search('network.lan.netmask=') !== -1) {\n    //     lan_config[\"subnet_mask\"] = astring_array[i].substring(astring_array[i].search('network.lan.netmask='))\n    // }\n    // if(astring_array[i].search('network.lan.gateway=') !== -1) {\n    //     lan_config[\"default_gateway\"] = astring_array[i].substring(astring_array[i].search('network.lan.gateway='))\n    // }\n    // if(astring_array[i].search('network.lan.dns=') !== -1) {\n    //     lan_config[\"dns\"] = astring_array[i].substring(astring_array[i].search('network.lan.dns='))\n    // }\n    \n}\n// let something = astring.search('network.lan.ipaddr=');\n// msg.something1 = astring.substring(astring.search('network.lan.ipaddr='),something + 10)\n// msg.something = something;\n// msg.str_array = astring_array;\nmsg.payload.cell = config;\nmsg.lan_c = c;\n\nreturn msg;","outputs":1,"noerr":0,"x":633,"y":517,"wires":[["9bfea78b.3c8448"]]},{"id":"fe36672e.596168","type":"function","z":"3f51f215.8371de","name":"uci set network.lan","func":"var set_string = `uci set network.lan.netmask='`+ msg.payload.eth.netmask+`'\nuci set network.lan.ipaddr='`+ msg.payload.eth.ipaddr+`'\nuci set network.lan.gateway='`+ msg.payload.eth.gateway+`'\nuci set network.lan.dns='`+ msg.payload.eth.dns+`'\nuci commit network\nluci-reload\n/etc/init.d/network restart\n`\n\nmsg.payload = set_string;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":386,"wires":[["df69c0d1.d7e34"]]},{"id":"17bd7209.cf22ee","type":"function","z":"3f51f215.8371de","name":"uci set wireless.@wifi-iface[0]","func":"var set_string = `uci set wireless.@wifi-iface[0].mode='ap'\nuci set wireless.@wifi-iface[0].key='`+ msg.payload.wifi.key+`'\nuci set wireless.@wifi-iface[0].ssid='`+ msg.payload.wifi.ssid+`'\nuci commit wireless\nluci-reload\n/etc/init.d/network restart\n`\n\n\nmsg.payload = set_string;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1090,"y":446,"wires":[["df69c0d1.d7e34"]]},{"id":"6427490e.595d58","type":"function","z":"3f51f215.8371de","name":"uci set network.ppp0","func":"var username = msg.payload.cell.username ? msg.payload.cell.username : '';\nvar password = msg.payload.cell.password ? msg.payload.cell.password : '';\n\nvar set_string = `ubus call network.interface.ppp0 down\nnetwork.ppp0.device='/dev/ttyACM2'\nuci set network.ppp0.apn='`+ msg.payload.cell.apn +`'\nuci set network.ppp0.username='`+ username +`'\nuci set network.ppp0.password='`+ password +`'\nuci set network.ppp0.dialnumber='*99#'\nuci commit\nluci-reload\n/etc/init.d/network restart\n`\n\nmsg.payload = set_string;\nreturn msg;\n","outputs":1,"noerr":0,"x":1070,"y":506,"wires":[["df69c0d1.d7e34"]]},{"id":"b9a36ac0.93e1f8","type":"template","z":"3f51f215.8371de","name":"like an EXEC","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":429,"y":697,"wires":[["f88434e2.1f7608","ed4ae60b.efac28","1d8f1d72.200443"]]},{"id":"ab251323.d028c","type":"debug","z":"3f51f215.8371de","name":"DOING SET","active":true,"console":"false","complete":"true","x":1077,"y":773,"wires":[]},{"id":"68968abd.7215d4","type":"exec","z":"3f51f215.8371de","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"run payload","x":393,"y":324,"wires":[["ad758cf3.480f5"],[],[]]},{"id":"8a7d35d8.31a358","type":"exec","z":"3f51f215.8371de","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"run payload","x":391,"y":457,"wires":[["8bb5efb7.a90ce"],[],[]]},{"id":"85196fab.38516","type":"exec","z":"3f51f215.8371de","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"run payload","x":405,"y":569,"wires":[["e20de409.c36508"],[],[]]},{"id":"df69c0d1.d7e34","type":"exec","z":"3f51f215.8371de","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"run payload","x":1043,"y":583,"wires":[["b9a36ac0.93e1f8","ab251323.d028c"],[],[]]},{"id":"8826eb72.1a9f68","type":"inject","z":"76078824.cd3388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":60,"wires":[["827b3db2.b11dc"]]},{"id":"d41a17df.410398","type":"file","z":"76078824.cd3388","name":"Write Config","filename":"/root/conf_settings.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":957,"y":301,"wires":[]},{"id":"4eccfa0c.0d88d4","type":"file in","z":"76078824.cd3388","name":"Read Config","filename":"/root/conf_settings.json","format":"utf8","x":330,"y":240,"wires":[["d6b4104a.52c46"]]},{"id":"d6b4104a.52c46","type":"json","z":"76078824.cd3388","name":"To JSON","x":380,"y":280,"wires":[["bc07b283.9f762"]]},{"id":"827b3db2.b11dc","type":"function","z":"76078824.cd3388","name":"Check Config","func":"var fs = global.get('fs1')\nconsole.log(\"check conf\")\n\n// creating default config file\ndefault_string = `cat <<EOT > /root/conf_settings.json\n{\n\t\"directory\": {\n\t\t\"Data\": \"/root/data/\",\n\t\t\"Retention\": 10080\n\t},\n\t\"timing\": {\n\t\t\"CheckFTP\": 60000,\n\t\t\"DataFileHandler\": 300000,\n\t\t\"RetentionHandler\": 180000\n\t},\n\t\"ftp\": {\n\t\t\"1\": {\n\t\t\t\"IP\": \"192.168.1.25\",\n\t\t\t\"Username\": \"upload\",\n\t\t\t\"Password\": \"upload\",\n\t\t\t\"Directory\": \"directory/\",\n\t\t\t\"Compress\": true\n\t\t}\n\t}\n}\nEOT\n`\n\nfs.open('/root/conf_settings.json', 'r', (err, fd) => {\n  if (err) {\n      console.log(\"in a error\")\n    if (err.code === 'ENOENT') {\n      console.error('myfile does not exist');\n      node.log('Configuration file does not exist');\n      msg.topic = 'does not exists';\n      node.log('Creating default configuration file');\n    //   node.send({payload:'echo \"{}\" > /root/conf_settings.json'});\n      node.send({payload: default_string});\n      return msg;\n    }\n\n    throw err;\n  }\n    console.log('Configuration file exist');\n  msg.text = 'my file does Exist';\n  node.send({payload:'ls'});\n//  return msg;\n});\n\n\n\n// return msg;\n\n","outputs":1,"noerr":0,"x":160,"y":120,"wires":[["c7c436e9.7bf478"]]},{"id":"e0a5738b.30503","type":"function","z":"76078824.cd3388","name":"Check Dirs, Create Dirs & Set Globals","func":"// Declare FS library\nvar fs = global.get('fs1');\n\n\n// String trailing / if need be\nfunction stripTrailingSlash(str)     \n{     \n    return str.replace(/\\/$/, \"\");\n}\n\n// Function to take care of recursive creation\nfunction mkdirs(path) {\n    var dirs = path.split('/');\n    var prevDir = dirs.splice(0,1)+\"/\";\n    while(dirs.length > 0) {\n        var curDir = prevDir + dirs.splice(0,1);\n        if (! fs.existsSync(curDir) ) {\n            fs.mkdirSync(curDir);\n        }\n        prevDir = curDir + '/';\n    }\n}\n\nif(msg.payload.directory) {\n    var directory = msg.payload.directory;\n    directory.Retention = directory.Retention*24*60\n    msg.payload.directory = directory;\n}\n\n    if(msg.payload.timing) {\n        var timing = msg.payload.timing;\n        timing.RetentionHandler = timing.RetentionHandler*1000*60;\n        timing.DataFileHandler = timing.DataFileHandler*1000*60;\n        timing.CheckFTP = timing.CheckFTP*1000;\n        msg.payload.timing = timing;\n    }\n//Check if loc_dir exists and create if needed\ntry {\n    fs.accessSync(msg.payload.directory.Data);\n    }catch(e){\n    mkdirs(stripTrailingSlash(msg.payload.directory.Data));\n    // Set gloabl varaibles\n    global.set(\"ftp\", msg.payload.ftp )\n    global.set(\"directory\", msg.payload.directory)\n    global.set(\"timing\", msg.payload.timing)\n    }\n\n// Set gloabl varaibles\nglobal.set(\"ftp\", msg.payload.ftp )\nglobal.set(\"directory\", msg.payload.directory)\nglobal.set(\"timing\", msg.payload.timing)\nreturn msg;","outputs":1,"noerr":0,"x":702,"y":90,"wires":[["d41a17df.410398"]]},{"id":"cc0ee514.df0588","type":"ui_template","z":"76078824.cd3388","group":"b3b2d0b0.8f0de","name":"App Settings UI","order":1,"width":0,"height":0,"format":"<style>\nspan {\n    display: inline-grid;\n    margin: 10px;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\n.hint {\n    /* Position the hint */\n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey;\n    }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n.input {\n   /*NOTE: Check the demo's HTML to see some additional RTL support CSS */\n   /*Setup animations similar to the ng-messages */ }*/\n  .input .hint {\n     Position the hint \n    position: absolute;\n    left: 2px;\n    right: auto;\n    bottom: 7px;\n     /*Copy styles from ng-messages */\n    font-size: 12px;\n    line-height: 14px;\n    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);\n     /*Set our own color */\n    color: grey; }\n  .input .hint.ng-hide,\n  .input .hint.ng-enter,\n  .input .hint.ng-leave.ng-leave-active {\n    bottom: 26px;\n    opacity: 0; }\n  .input .hint.ng-leave,\n  .input .hint.ng-enter.ng-enter-active {\n    bottom: 7px;\n    opacity: 1; }\n    \n</style>\n<md-input-container>\n    <label>Data Directory</label>\n    <input name=\"data_dir\" ng-model=\"msg.payload.directory.Data\" required>\n    <md-tooltip md-direction=\"top\">Enter absolute path with trailing /</md-tooltip>\n</md-input-container>\n<md-input-container>\n    <label>File Retention (Days)</label>\n    <input name=\"retention_duration\" ng-model=\"msg.payload.directory.Retention\"\n    required type=\"number\" step=\"any\" min=\"1\" max=\"31\">\n    <div ng-if=\"!(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31)\" class=\"hint\">\n        File retention can be set between 1 - 31 days</div>\n\n    <md-tooltip md-direction=\"top\">How long to keep files before local deletition (min. 1 day)</md-tooltip>\n    </md-input-container>\n<md-input-container>\n    <label>Check FTP Alive (Seconds)</label>\n    <input name=\"check_ftp_duration\" ng-model=\"msg.payload.timing.CheckFTP\" required type=\"number\" step=\"any\" min=\"60\" max=\"3600\">\n    <md-tooltip md-direction=\"top\">How often to check FTP servers (min. 60sec)</md-tooltip>\n</md-input-container>\n<!--<md-input-container>-->\n<!--    <label>Check Data Folders (Minutes)</label>-->\n<!--    <input name=\"check_data_duration\" ng-model=\"msg.payload.timing.DataFileHandler\" -->\n<!--    required type=\"number\" step=\"any\" min=\"5\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to process incomming files (min. 5minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<!--<md-input-container>-->\n<!--    <label>File Retention Handler Interval (Minutes)</label>-->\n<!--    <input name=\"retention_duration\" ng-model=\"msg.payload.timing.RetentionHandler\" required type=\"number\" step=\"any\" min=\"3\" max=\"60\">-->\n<!--    <md-tooltip md-direction=\"top\">How often to check for old files (min. 3 minutes)</md-tooltip>-->\n<!--</md-input-container>-->\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.directory.Data || !(msg.payload.timing.CheckFTP >= 60)\n || !(msg.payload.timing.DataFileHandler >=5) || !(msg.payload.timing.RetentionHandler >=3) || !(msg.payload.directory.Retention >= 1 && msg.payload.directory.Retention <= 31) \">\nSubmit\n </md-button>\n</md-input-container>\n\n<br>\n<br>\n<br>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":720,"y":246,"wires":[["f447f9e5.559a38","e0a5738b.30503","41d96d78.8ac9f4"]]},{"id":"f447f9e5.559a38","type":"ui_template","z":"76078824.cd3388","group":"ca0e5bed.f6e7d8","name":"Destination Settings UI","order":1,"width":0,"height":0,"format":"<style>\nspan {\n    display: inline-grid;\n    margin: 10px;\n}\nbutton[disabled] {\n    background: grey !important;\n    cursor: not-allowed !important;\n}\nmd-checkbox.md-checked.green .md-icon {\n background-color: rgba(0, 128, 0, 1);\n}\n</style>\n<md-input-container>\n    <label>Select FTP</label>\n    <md-select ng-model=\"ftpId\">\n      <md-option ng-value=\"1\" >FTP 1</md-option>\n      <md-option ng-value=\"2\" >FTP 2</md-option>\n      <md-option ng-value=\"3\" >FTP 3</md-option>\n      <md-option ng-value=\"4\" >FTP 4</md-option>\n      <md-option ng-value=\"5\" >FTP 5</md-option>\n      <md-option ng-value=\"6\" >FTP 6</md-option>\n      <md-option ng-value=\"7\" >FTP 7</md-option>\n      <md-option ng-value=\"8\" >FTP 8</md-option>\n      <md-option ng-value=\"9\" >FTP 9</md-option>\n      <md-option ng-value=\"10\" >FTP 10</md-option>\n    </md-select>\n  </md-input-container>\n  <md-input-container>\n      <label>IP Address</label>\n      <input name=\"ip_adr\" ng-model=\"msg.payload.ftp[ftpId].IP\" required>\n      <md-tooltip md-direction=\"top\">Enter FTP server IP address</md-tooltip>\n  </md-input-container>\n  <md-input-container>\n      <label>Username</label>\n      <input name=\"username\" ng-model=\"msg.payload.ftp[ftpId].Username\" required>\n      <md-tooltip md-direction=\"top\">Enter FTP server username</md-tooltip>\n  </md-input-container>\n  <md-input-container>\n      <label>Password</label>\n      <input name=\"password\" ng-model=\"msg.payload.ftp[ftpId].Password\" required type=\"password\">\n      <md-tooltip md-direction=\"top\">Enter FTP server password</md-tooltip>\n  </md-input-container>\n  <md-input-container>\n      <label>Directory</label>\n      <input name=\"dir\" ng-model=\"msg.payload.ftp[ftpId].Directory\" required>\n      <md-tooltip md-direction=\"top\">Enter absolute path with trailing /</md-tooltip>\n  </md-input-container>\n  <!--<md-checkbox name=\"mandatory\" class=\"green\" ng-model=\"msg.payload.ftp[ftpId].Mandatory\">-->\n  <!--    Mandatory-->\n  <!--</md-checkbox>-->\n  <md-input-container>\n  <md-checkbox name=\"compress\" class=\"green\" ng-model=\"msg.payload.ftp[ftpId].Compress\">\n      Compress\n  </md-checkbox>\n  <md-tooltip md-direction=\"top\">Compress files before upload</md-tooltip>\n  </md-input-container>\n<md-input-container>\n <md-button class=\"md-raised\" ng-click=\"clicked(); send(msg)\"\n ng-disabled=\"!msg.payload.ftp[ftpId].Username || !msg.payload.ftp[ftpId].Password \n || !msg.payload.ftp[ftpId].IP || !msg.payload.ftp[ftpId].Directory\">\nSubmit\n </md-button>\n</md-input-container>\n<br>\n<br>\n  \n  ","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":720,"y":406,"wires":[["cc0ee514.df0588","e0a5738b.30503","41d96d78.8ac9f4"]]},{"id":"4a34cd53.4a5144","type":"catch","z":"76078824.cd3388","name":"","scope":null,"x":947,"y":341,"wires":[[]]},{"id":"c7c436e9.7bf478","type":"exec","z":"76078824.cd3388","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"Create","x":250,"y":180,"wires":[["4eccfa0c.0d88d4"],[],[]]},{"id":"bc07b283.9f762","type":"function","z":"76078824.cd3388","name":"Set Globals","func":"if (msg.payload.timing || msg.payload.directory || msg.payload.ftp ){\n    // Set gloabl varaibles\n    // need to do this first and clone object\n    // otherwise it's reference and globals will be what shows in UI\n    var config = JSON.parse(JSON.stringify(msg.payload))\n    console.log(\"config: \", config.timing)\n    global.set(\"directory\", config.directory)\n    global.set(\"timing\", config.timing)\n    global.set(\"ftp\", config.ftp )\n    // var msg1 = {}\n    // msg1.payload.directory = msg.payload.directory\n    // msg1.payload.timing = msg.payload.timing\n    \n    \n    // convert minutes to days for UI\n    if(msg.payload.directory) {\n        var directory = msg.payload.directory;\n        directory.Retention = directory.Retention/24/60\n        msg.payload.directory = directory;\n    }\n    \n    // convert miliseconds to minutes and seconds for UI\n    if(msg.payload.timing) {\n        var timing = msg.payload.timing;\n        timing.RetentionHandler = timing.RetentionHandler/1000/60;\n        timing.DataFileHandler = timing.DataFileHandler/1000/60;\n        timing.CheckFTP = timing.CheckFTP/1000;\n        msg.payload.timing = timing;\n    }\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":320,"wires":[["cc0ee514.df0588","f447f9e5.559a38","41d96d78.8ac9f4"]]},{"id":"39c0ee4a.2c7f42","type":"debug","z":"76078824.cd3388","name":"check Config","active":true,"console":"false","complete":"true","x":380,"y":128,"wires":[]},{"id":"41d96d78.8ac9f4","type":"ui_template","z":"76078824.cd3388","group":"6cd4d3d4.89e44c","name":"Configuration display","order":1,"width":"0","height":"0","format":"<!--<div ng-bind-html=\"msg.payload | JSON\">{{msg.payload | json}}</div>-->\n<!--<table>-->\n<!--  <tr ng-repeat=\"(key, value) in msg.payload\">-->\n<!--    <td> {{key}} </td> <td> <table>-->\n<!--  <tr ng-repeat=\"(key1, value1) in value\">-->\n<!--    <td> {{key1}} </td> <td> {{ value1 }} </td>-->\n<!--  </tr>-->\n<!--</table> </td>-->\n<!--  </tr>-->\n<!--</table>-->\n<!--<h3>Application Setting</h3>-->\n<md-content  layout-xs=\"column\" >\n<md-card ng-if=\"msg.payload.directory\">\n    <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-title\">Directory</span>\n          </md-card-title-text>\n        </md-card-title>\n<table width=\"100%\" class=\"md-body-1\">\n  <tr ng-repeat=\"(key1, value1) in msg.payload.directory\">\n    <td>{{key1}}:</td> <td>{{ value1 }} <span ng-if=\"key1 === 'Retention'\"> Days</span> </td>\n  </tr>\n</table>\n</md-card>\n\n<md-card ng-if=\"msg.payload.timing\">\n    <md-card-title>\n          <md-card-title-text>\n            <span class=\"md-title\">Application Timing</span>\n          </md-card-title-text>\n        </md-card-title>\n<table  width=\"100%\" class=\"md-body-1\">\n  <tr ng-repeat=\"(key1, value1) in msg.payload.timing\">\n    <td>{{key1}}:</td> <td> {{ value1 }} <span>{{key1 === 'CheckFTP' ? 'Seconds' : 'Minutes'}}</span></td>\n  </tr>\n</table>\n</md-card>\n\n\n<md-card ng-if=\"msg.payload.ftp\">\n    <md-card-title>\n        <md-card-title-text>\n            <span class=\"md-headline\">FTP Server</span>\n        </md-card-title-text>\n    </md-card-title>\n<table  width=\"100%\" class=\"md-body-1\">\n\n  <tr ng-repeat=\"(key, value) in msg.payload.ftp\">\n    <td style=\"vertical-align:top\"><span class=\"md-body-2\"> FTP {{key}}</span> </td> <td> <table>\n  <tr ng-repeat=\"(key1, value1) in value\">\n    <td>{{key1}}: </td> <td> {{ value1 }} </td>\n  </tr>\n</table> </td>\n  </tr>\n</table>\n</md-card>\n</md-content>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":542,"wires":[[]]},{"id":"70196b2d.ffb944","type":"exec","z":"76078824.cd3388","command":"logread -l 100","addpay":false,"append":"","useSpawn":false,"timer":"","name":"","x":338,"y":673,"wires":[["298ec79a.1bd878"],[],[]]},{"id":"bd608517.6b72a8","type":"inject","z":"76078824.cd3388","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":128,"y":673,"wires":[["70196b2d.ffb944"]]},{"id":"3abf0a17.bce7f6","type":"ui_template","z":"76078824.cd3388","group":"cb6b8e4.2c3d47","name":"Log file","order":1,"width":"6","height":"14","format":"<!--<h3>Log</h3>-->\n<div ng-bind-html=\"msg.payload\" class=\"md-body-1\"></div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":638,"y":593,"wires":[[]]},{"id":"298ec79a.1bd878","type":"change","z":"76078824.cd3388","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\n","fromt":"re","to":"<br>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":398,"y":593,"wires":[["3abf0a17.bce7f6"]]},{"id":"9ec2335e.023c3","type":"ui_template","z":"76078824.cd3388","group":"22539cf1.2818b4","name":"Help","order":0,"width":0,"height":0,"format":"<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>Untitled Document.md</title><style>@charset \"UTF-8\";@import 'https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.2.0/katex.min.css';code{color:#c7254e;background-color:#f9f2f4;border-radius:4px}code,kbd{padding:2px 4px}kbd{color:#fff;background-color:#333;border-radius:3px;box-shadow:inset 0 -1px 0 rgba(0,0,0,.25)}kbd kbd{padding:0;font-size:100%;box-shadow:none}pre{display:block;margin:0 0 10px;word-break:break-all;word-wrap:break-word;color:#333;background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px}pre code{padding:0;font-size:inherit;color:inherit;white-space:pre-wrap;background-color:transparent;border-radius:0}.pre-scrollable{max-height:340px;overflow-y:scroll}table{background-color:transparent}th{text-align:left}.table{width:100%;max-width:100%;margin-bottom:20px}.table>thead>tr>th{padding:8px;line-height:1.4285714;border-top:1px solid #ddd}.table>thead>tr>td,.table>tbody>tr>th,.table>tbody>tr>td,.table>tfoot>tr>th,.table>tfoot>tr>td{padding:8px;line-height:1.4285714;vertical-align:top;border-top:1px solid #ddd}.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd}.table>caption+thead>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>th,.table>thead:first-child>tr:first-child>td{border-top:0}.table>tbody+tbody{border-top:2px solid #ddd}.table .table{background-color:#fff}.table-condensed>thead>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>tfoot>tr>td{padding:5px}.table-bordered,.table-bordered>thead>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>tfoot>tr>td{border:1px solid #ddd}.table-bordered>thead>tr>th,.table-bordered>thead>tr>td{border-bottom-width:2px}.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th{background-color:#f9f9f9}.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th{background-color:#f5f5f5}table col[class*=\"col-\"]{position:static;float:none;display:table-column}table td[class*=\"col-\"],table th[class*=\"col-\"]{position:static;float:none;display:table-cell}.table>thead>tr>td.active,.table>thead>tr>th.active,.table>thead>tr.active>td,.table>thead>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th{background-color:#f5f5f5}.table-hover>tbody>tr>td.active:hover,.table-hover>tbody>tr>th.active:hover,.table-hover>tbody>tr.active:hover>td,.table-hover>tbody>tr:hover>.active,.table-hover>tbody>tr.active:hover>th{background-color:#e8e8e8}.table>thead>tr>td.success,.table>thead>tr>th.success,.table>thead>tr.success>td,.table>thead>tr.success>th,.table>tbody>tr>td.success,.table>tbody>tr>th.success,.table>tbody>tr.success>td,.table>tbody>tr.success>th,.table>tfoot>tr>td.success,.table>tfoot>tr>th.success,.table>tfoot>tr.success>td,.table>tfoot>tr.success>th{background-color:#dff0d8}.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover,.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr:hover>.success,.table-hover>tbody>tr.success:hover>th{background-color:#d0e9c6}.table>thead>tr>td.info,.table>thead>tr>th.info,.table>thead>tr.info>td,.table>thead>tr.info>th,.table>tbody>tr>td.info,.table>tbody>tr>th.info,.table>tbody>tr.info>td,.table>tbody>tr.info>th,.table>tfoot>tr>td.info,.table>tfoot>tr>th.info,.table>tfoot>tr.info>td,.table>tfoot>tr.info>th{background-color:#d9edf7}.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover,.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr:hover>.info,.table-hover>tbody>tr.info:hover>th{background-color:#c4e3f3}.table>thead>tr>td.warning,.table>thead>tr>th.warning,.table>thead>tr.warning>td,.table>thead>tr.warning>th,.table>tbody>tr>td.warning,.table>tbody>tr>th.warning,.table>tbody>tr.warning>td,.table>tbody>tr.warning>th,.table>tfoot>tr>td.warning,.table>tfoot>tr>th.warning,.table>tfoot>tr.warning>td,.table>tfoot>tr.warning>th{background-color:#fcf8e3}.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover,.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr:hover>.warning,.table-hover>tbody>tr.warning:hover>th{background-color:#faf2cc}.table>thead>tr>td.danger,.table>thead>tr>th.danger,.table>thead>tr.danger>td,.table>thead>tr.danger>th,.table>tbody>tr>td.danger,.table>tbody>tr>th.danger,.table>tbody>tr.danger>td,.table>tbody>tr.danger>th,.table>tfoot>tr>td.danger,.table>tfoot>tr>th.danger,.table>tfoot>tr.danger>td,.table>tfoot>tr.danger>th{background-color:#f2dede}.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover,.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr:hover>.danger,.table-hover>tbody>tr.danger:hover>th{background-color:#ebcccc}fieldset{border:0;min-width:0}legend{display:block;width:100%;margin-bottom:20px;font-size:21px;line-height:inherit;color:#333;border-bottom:1px solid #e5e5e5}label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700}input[type=\"radio\"],input[type=\"checkbox\"]{margin:4px 0 0;margin-top:1px \\9;line-height:normal}input[type=\"file\"]{display:block}input[type=\"range\"]{display:block;width:100%}select[multiple],select[size]{height:auto}input[type=\"file\"]:focus,input[type=\"radio\"]:focus,input[type=\"checkbox\"]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}output{padding-top:7px}output,.form-control{display:block;font-size:14px;line-height:1.4285714;color:#555}.form-control{width:100%;height:34px;padding:6px 12px;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.form-control:focus{border-color:#66afe9;outline:0;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}.form-control::-moz-placeholder{color:#777;opacity:1}.form-control:-ms-input-placeholder{color:#777}.form-control::-webkit-input-placeholder{color:#777}.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{cursor:not-allowed;background-color:#eee;opacity:1}textarea.form-control{height:auto}input[type=\"date\"],input[type=\"time\"],input[type=\"datetime-local\"],input[type=\"month\"]{line-height:34px;line-height:1.4285714 \\0}input[type=\"date\"].input-sm,.form-horizontal .form-group-sm input[type=\"date\"].form-control,.input-group-sm>input[type=\"date\"].form-control,.input-group-sm>input[type=\"date\"].input-group-addon,.input-group-sm>.input-group-btn>input[type=\"date\"].btn,input[type=\"time\"].input-sm,.form-horizontal .form-group-sm input[type=\"time\"].form-control,.input-group-sm>input[type=\"time\"].form-control,.input-group-sm>input[type=\"time\"].input-group-addon,.input-group-sm>.input-group-btn>input[type=\"time\"].btn,input[type=\"datetime-local\"].input-sm,.form-horizontal .form-group-sm input[type=\"datetime-local\"].form-control,.input-group-sm>input[type=\"datetime-local\"].form-control,.input-group-sm>input[type=\"datetime-local\"].input-group-addon,.input-group-sm>.input-group-btn>input[type=\"datetime-local\"].btn,input[type=\"month\"].input-sm,.form-horizontal .form-group-sm input[type=\"month\"].form-control,.input-group-sm>input[type=\"month\"].form-control,.input-group-sm>input[type=\"month\"].input-group-addon,.input-group-sm>.input-group-btn>input[type=\"month\"].btn{line-height:30px}input[type=\"date\"].input-lg,.form-horizontal .form-group-lg input[type=\"date\"].form-control,.input-group-lg>input[type=\"date\"].form-control,.input-group-lg>input[type=\"date\"].input-group-addon,.input-group-lg>.input-group-btn>input[type=\"date\"].btn,input[type=\"time\"].input-lg,.form-horizontal .form-group-lg input[type=\"time\"].form-control,.input-group-lg>input[type=\"time\"].form-control,.input-group-lg>input[type=\"time\"].input-group-addon,.input-group-lg>.input-group-btn>input[type=\"time\"].btn,input[type=\"datetime-local\"].input-lg,.form-horizontal .form-group-lg input[type=\"datetime-local\"].form-control,.input-group-lg>input[type=\"datetime-local\"].form-control,.input-group-lg>input[type=\"datetime-local\"].input-group-addon,.input-group-lg>.input-group-btn>input[type=\"datetime-local\"].btn,input[type=\"month\"].input-lg,.form-horizontal .form-group-lg input[type=\"month\"].form-control,.input-group-lg>input[type=\"month\"].form-control,.input-group-lg>input[type=\"month\"].input-group-addon,.input-group-lg>.input-group-btn>input[type=\"month\"].btn{line-height:46px}.form-group{margin-bottom:15px}.radio,.checkbox{position:relative;display:block;min-height:20px;margin-top:10px;margin-bottom:10px}.radio label,.checkbox label{padding-left:20px;margin-bottom:0;font-weight:400;cursor:pointer}.radio input[type=\"radio\"],.radio-inline input[type=\"radio\"],.checkbox input[type=\"checkbox\"],.checkbox-inline input[type=\"checkbox\"]{position:absolute;margin-left:-20px;margin-top:4px \\9}.radio+.radio,.checkbox+.checkbox{margin-top:-5px}.radio-inline,.checkbox-inline{display:inline-block;padding-left:20px;margin-bottom:0;vertical-align:middle;font-weight:400;cursor:pointer}.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline{margin-top:0;margin-left:10px}input[type=\"radio\"][disabled],input[type=\"radio\"].disabled,fieldset[disabled] input[type=\"radio\"],input[type=\"checkbox\"][disabled],input[type=\"checkbox\"].disabled,fieldset[disabled] input[type=\"checkbox\"],.radio-inline.disabled,fieldset[disabled] .radio-inline,.checkbox-inline.disabled,fieldset[disabled] .checkbox-inline,.radio.disabled label,fieldset[disabled] .radio label,.checkbox.disabled label,fieldset[disabled] .checkbox label{cursor:not-allowed}.form-control-static{padding-top:7px;padding-bottom:7px;margin-bottom:0}.form-control-static.input-lg,.form-horizontal .form-group-lg .form-control-static.form-control,.input-group-lg>.form-control-static.form-control,.input-group-lg>.form-control-static.input-group-addon,.input-group-lg>.input-group-btn>.form-control-static.btn,.form-control-static.input-sm,.form-horizontal .form-group-sm .form-control-static.form-control,.input-group-sm>.form-control-static.form-control,.input-group-sm>.form-control-static.input-group-addon,.input-group-sm>.input-group-btn>.form-control-static.btn{padding-left:0;padding-right:0}.input-sm,.form-horizontal .form-group-sm .form-control,.input-group-sm>.form-control{height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}.input-group-sm>.input-group-addon{height:30px;line-height:1.5}.input-group-sm>.input-group-btn>.btn{height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}select.input-sm,.form-horizontal .form-group-sm select.form-control,.input-group-sm>select.form-control,.input-group-sm>select.input-group-addon,.input-group-sm>.input-group-btn>select.btn{height:30px;line-height:30px}textarea.input-sm,.form-horizontal .form-group-sm textarea.form-control,.input-group-sm>textarea.form-control,.input-group-sm>textarea.input-group-addon,.input-group-sm>.input-group-btn>textarea.btn,select[multiple].input-sm,.form-horizontal .form-group-sm select[multiple].form-control,.input-group-sm>select[multiple].form-control,.input-group-sm>select[multiple].input-group-addon,.input-group-sm>.input-group-btn>select[multiple].btn{height:auto}.input-lg,.form-horizontal .form-group-lg .form-control,.input-group-lg>.form-control{height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}.input-group-lg>.input-group-addon{height:46px;line-height:1.33}.input-group-lg>.input-group-btn>.btn{height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}select.input-lg,.form-horizontal .form-group-lg select.form-control,.input-group-lg>select.form-control,.input-group-lg>select.input-group-addon,.input-group-lg>.input-group-btn>select.btn{height:46px;line-height:46px}textarea.input-lg,.form-horizontal .form-group-lg textarea.form-control,.input-group-lg>textarea.form-control,.input-group-lg>textarea.input-group-addon,.input-group-lg>.input-group-btn>textarea.btn,select[multiple].input-lg,.form-horizontal .form-group-lg select[multiple].form-control,.input-group-lg>select[multiple].form-control,.input-group-lg>select[multiple].input-group-addon,.input-group-lg>.input-group-btn>select[multiple].btn{height:auto}.has-feedback{position:relative}.has-feedback .form-control{padding-right:42.5px}.form-control-feedback{position:absolute;top:25px;right:0;z-index:2;display:block;width:34px;height:34px;line-height:34px;text-align:center}.input-lg+.form-control-feedback,.form-horizontal .form-group-lg .form-control+.form-control-feedback,.input-group-lg>.form-control+.form-control-feedback,.input-group-lg>.input-group-addon+.form-control-feedback,.input-group-lg>.input-group-btn>.btn+.form-control-feedback{width:46px;height:46px;line-height:46px}.input-sm+.form-control-feedback,.form-horizontal .form-group-sm .form-control+.form-control-feedback,.input-group-sm>.form-control+.form-control-feedback,.input-group-sm>.input-group-addon+.form-control-feedback,.input-group-sm>.input-group-btn>.btn+.form-control-feedback{width:30px;height:30px;line-height:30px}.has-success .help-block,.has-success .control-label,.has-success .radio,.has-success .checkbox,.has-success .radio-inline,.has-success .checkbox-inline{color:#3c763d}.has-success .form-control{border-color:#3c763d;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-success .form-control:focus{border-color:#2b542c;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168}.has-success .input-group-addon{color:#3c763d;border-color:#3c763d;background-color:#dff0d8}.has-success .form-control-feedback{color:#3c763d}.has-warning .help-block,.has-warning .control-label,.has-warning .radio,.has-warning .checkbox,.has-warning .radio-inline,.has-warning .checkbox-inline{color:#8a6d3b}.has-warning .form-control{border-color:#8a6d3b;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-warning .form-control:focus{border-color:#66512c;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b}.has-warning .input-group-addon{color:#8a6d3b;border-color:#8a6d3b;background-color:#fcf8e3}.has-warning .form-control-feedback{color:#8a6d3b}.has-error .help-block,.has-error .control-label,.has-error .radio,.has-error .checkbox,.has-error .radio-inline,.has-error .checkbox-inline{color:#a94442}.has-error .form-control{border-color:#a94442;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-error .form-control:focus{border-color:#843534;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}.has-error .input-group-addon{color:#a94442;border-color:#a94442;background-color:#f2dede}.has-error .form-control-feedback{color:#a94442}.has-feedback label.sr-only~.form-control-feedback{top:0}.help-block{display:block;margin-top:5px;margin-bottom:10px;color:#737373}.form-horizontal .radio,.form-horizontal .checkbox,.form-horizontal .radio-inline,.form-horizontal .checkbox-inline{margin-top:0;margin-bottom:0;padding-top:7px}.form-horizontal .radio,.form-horizontal .checkbox{min-height:27px}.form-horizontal .form-group{margin-left:-15px;margin-right:-15px}.form-horizontal .form-group:before{content:\" \";display:table}.form-horizontal .form-group:after{content:\" \";display:table;clear:both}.form-horizontal .has-feedback .form-control-feedback{top:0;right:15px}.btn{display:inline-block;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.btn:focus,.btn:active:focus,.btn.active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn:hover,.btn:focus{color:#333;text-decoration:none}.btn:active,.btn.active{outline:0;background-image:none;box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;pointer-events:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none}.btn-default{color:#333;background-color:#fff;border-color:#ccc}.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open>.btn-default.dropdown-toggle{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default:active,.btn-default.active,.open>.btn-default.dropdown-toggle{background-image:none}.btn-default.disabled,.btn-default.disabled:hover,.btn-default.disabled:focus,.btn-default.disabled:active,.btn-default.disabled.active,.btn-default[disabled],.btn-default[disabled]:hover,.btn-default[disabled]:focus,.btn-default[disabled]:active,.btn-default[disabled].active,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default:hover,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default.active{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333}.btn-primary{color:#fff;background-color:#428bca;border-color:#357ebd}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open>.btn-primary.dropdown-toggle{color:#fff;background-color:#3071a9;border-color:#285e8e}.btn-primary:active,.btn-primary.active,.open>.btn-primary.dropdown-toggle{background-image:none}.btn-primary.disabled,.btn-primary.disabled:hover,.btn-primary.disabled:focus,.btn-primary.disabled:active,.btn-primary.disabled.active,.btn-primary[disabled],.btn-primary[disabled]:hover,.btn-primary[disabled]:focus,.btn-primary[disabled]:active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary:hover,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#357ebd}.btn-primary .badge{color:#428bca;background-color:#fff}.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open>.btn-success.dropdown-toggle{color:#fff;background-color:#449d44;border-color:#398439}.btn-success:active,.btn-success.active,.open>.btn-success.dropdown-toggle{background-image:none}.btn-success.disabled,.btn-success.disabled:hover,.btn-success.disabled:focus,.btn-success.disabled:active,.btn-success.disabled.active,.btn-success[disabled],.btn-success[disabled]:hover,.btn-success[disabled]:focus,.btn-success[disabled]:active,.btn-success[disabled].active,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success:hover,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success.active{background-color:#5cb85c;border-color:#4cae4c}.btn-success .badge{color:#5cb85c;background-color:#fff}.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open>.btn-info.dropdown-toggle{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn-info:active,.btn-info.active,.open>.btn-info.dropdown-toggle{background-image:none}.btn-info.disabled,.btn-info.disabled:hover,.btn-info.disabled:focus,.btn-info.disabled:active,.btn-info.disabled.active,.btn-info[disabled],.btn-info[disabled]:hover,.btn-info[disabled]:focus,.btn-info[disabled]:active,.btn-info[disabled].active,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info:hover,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info.active{background-color:#5bc0de;border-color:#46b8da}.btn-info .badge{color:#5bc0de;background-color:#fff}.btn-warning{color:#fff;background-color:#f0ad4e;border-color:#eea236}.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open>.btn-warning.dropdown-toggle{color:#fff;background-color:#ec971f;border-color:#d58512}.btn-warning:active,.btn-warning.active,.open>.btn-warning.dropdown-toggle{background-image:none}.btn-warning.disabled,.btn-warning.disabled:hover,.btn-warning.disabled:focus,.btn-warning.disabled:active,.btn-warning.disabled.active,.btn-warning[disabled],.btn-warning[disabled]:hover,.btn-warning[disabled]:focus,.btn-warning[disabled]:active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning:hover,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning.active{background-color:#f0ad4e;border-color:#eea236}.btn-warning .badge{color:#f0ad4e;background-color:#fff}.btn-danger{color:#fff;background-color:#d9534f;border-color:#d43f3a}.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open>.btn-danger.dropdown-toggle{color:#fff;background-color:#c9302c;border-color:#ac2925}.btn-danger:active,.btn-danger.active,.open>.btn-danger.dropdown-toggle{background-image:none}.btn-danger.disabled,.btn-danger.disabled:hover,.btn-danger.disabled:focus,.btn-danger.disabled:active,.btn-danger.disabled.active,.btn-danger[disabled],.btn-danger[disabled]:hover,.btn-danger[disabled]:focus,.btn-danger[disabled]:active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger:hover,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger.active{background-color:#d9534f;border-color:#d43f3a}.btn-danger .badge{color:#d9534f;background-color:#fff}.btn-link{color:#428bca;font-weight:400;cursor:pointer;border-radius:0}.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;box-shadow:none}.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active{border-color:transparent}.btn-link:hover,.btn-link:focus{color:#2a6496;text-decoration:underline;background-color:transparent}.btn-link[disabled]:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:hover,fieldset[disabled] .btn-link:focus{color:#777;text-decoration:none}.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}.btn-sm{padding:5px 10px}.btn-sm,.btn-xs{font-size:12px;line-height:1.5;border-radius:3px}.btn-xs{padding:1px 5px}.btn-block{display:block;width:100%}.btn-block+.btn-block{margin-top:5px}input[type=\"submit\"].btn-block,input[type=\"reset\"].btn-block,input[type=\"button\"].btn-block{width:100%}.fade{opacity:0;-webkit-transition:opacity .15s linear;transition:opacity .15s linear}.fade.in{opacity:1}.collapse{display:none}.collapse.in{display:block}tr.collapse.in{display:table-row}tbody.collapse.in{display:table-row-group}.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition:height .35s ease;transition:height .35s ease}.input-group{position:relative;display:table;border-collapse:separate}.input-group[class*=\"col-\"]{float:none;padding-left:0;padding-right:0}.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-bottom:0}.input-group-addon,.input-group-btn,.input-group .form-control{display:table-cell}.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child){border-radius:0}.input-group-addon{white-space:nowrap}.input-group-addon,.input-group-btn{width:1%;vertical-align:middle}.input-group-addon{padding:6px 12px;font-size:14px;font-weight:400;line-height:1;color:#555;text-align:center;background-color:#eee;border:1px solid #ccc;border-radius:4px}.input-group-addon.input-sm,.form-horizontal .form-group-sm .input-group-addon.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.input-group-addon.btn{padding:5px 10px;font-size:12px;border-radius:3px}.input-group-addon.input-lg,.form-horizontal .form-group-lg .input-group-addon.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.input-group-addon.btn{padding:10px 16px;font-size:18px;border-radius:6px}.input-group-addon input[type=\"radio\"],.input-group-addon input[type=\"checkbox\"]{margin-top:0}.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn{border-bottom-right-radius:0;border-top-right-radius:0}.input-group-addon:first-child{border-right:0}.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn{border-bottom-left-radius:0;border-top-left-radius:0}.input-group-addon:last-child{border-left:0}.input-group-btn{font-size:0;white-space:nowrap}.input-group-btn,.input-group-btn>.btn{position:relative}.input-group-btn>.btn+.btn{margin-left:-1px}.input-group-btn>.btn:hover,.input-group-btn>.btn:focus,.input-group-btn>.btn:active{z-index:2}.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group{margin-right:-1px}.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{margin-left:-1px}.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.4285714;text-decoration:none;color:#428bca;background-color:#fff;border:1px solid #ddd;margin-left:-1px}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}.pagination>li>a:hover,.pagination>li>a:focus,.pagination>li>span:hover,.pagination>li>span:focus{color:#2a6496;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>a:hover,.pagination>.active>a:focus,.pagination>.active>span,.pagination>.active>span:hover,.pagination>.active>span:focus{z-index:2;color:#fff;background-color:#428bca;border-color:#428bca;cursor:default}.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#777;background-color:#fff;border-color:#ddd;cursor:not-allowed}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-bottom-right-radius:6px;border-top-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-bottom-right-radius:3px;border-top-right-radius:3px}.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50)}button.close{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}.modal-open,.modal{overflow:hidden}.modal{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0}.modal.fade .modal-dialog{-webkit-transform:translate3d(0,-25%,0);transform:translate3d(0,-25%,0);-webkit-transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out}.modal.in .modal-dialog{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;box-shadow:0 3px 9px rgba(0,0,0,.5);background-clip:padding-box;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}.modal-header{padding:15px;border-bottom:1px solid #e5e5e5;min-height:16.4285714px}.modal-header .close{margin-top:-2px}.modal-title{margin:0;line-height:1.4285714}.modal-body{position:relative;padding:15px}.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}.modal-footer:before,.modal-footer:after{content:\" \";display:table}.modal-footer:after{clear:both}.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}.clearfix:before,.clearfix:after{content:\" \";display:table}.clearfix:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right!important}.pull-left{float:left!important}.hide{display:none!important}.show{display:block!important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none!important;visibility:hidden!important}.affix{position:fixed;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.hljs{display:block;overflow-x:auto;padding:.5em;background:#002b36;color:#839496;-webkit-text-size-adjust:none}.hljs-comment,.hljs-template_comment,.diff .hljs-header,.hljs-doctype,.hljs-pi,.lisp .hljs-string,.hljs-javadoc{color:#586e75}.hljs-keyword,.hljs-winutils,.method,.hljs-addition,.css .hljs-tag,.hljs-request,.hljs-status,.nginx .hljs-title{color:#859900}.hljs-number,.hljs-command,.hljs-string,.hljs-tag .hljs-value,.hljs-rules .hljs-value,.hljs-phpdoc,.hljs-dartdoc,.tex .hljs-formula,.hljs-regexp,.hljs-hexcolor,.hljs-link_url{color:#2aa198}.hljs-title,.hljs-localvars,.hljs-chunk,.hljs-decorator,.hljs-built_in,.hljs-identifier,.vhdl .hljs-literal,.hljs-id,.css .hljs-function{color:#268bd2}.hljs-attribute,.hljs-variable,.lisp .hljs-body,.smalltalk .hljs-number,.hljs-constant,.hljs-class .hljs-title,.hljs-parent,.hljs-type,.hljs-link_reference{color:#b58900}.hljs-preprocessor,.hljs-preprocessor .hljs-keyword,.hljs-pragma,.hljs-shebang,.hljs-symbol,.hljs-symbol .hljs-string,.diff .hljs-change,.hljs-special,.hljs-attr_selector,.hljs-subst,.hljs-cdata,.css .hljs-pseudo,.hljs-header{color:#cb4b16}.hljs-deletion,.hljs-important{color:#dc322f}.hljs-link_label{color:#6c71c4}.tex .hljs-formula{background:#073642}*,*:before,*:after{box-sizing:border-box}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}images{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd{font-size:1em}code,kbd,pre,samp{font-family:monospace,monospace}samp{font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=\"button\"],input[type=\"reset\"],input[type=\"submit\"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=\"checkbox\"],input[type=\"radio\"]{box-sizing:border-box;padding:0}input[type=\"number\"]::-webkit-inner-spin-button,input[type=\"number\"]::-webkit-outer-spin-button{height:auto}input[type=\"search\"]{-webkit-appearance:textfield;box-sizing:content-box}input[type=\"search\"]::-webkit-search-cancel-button,input[type=\"search\"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}.debug{background-color:#ffc0cb!important}.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.ir{background-color:transparent;border:0;overflow:hidden}.ir::before{content:'';display:block;height:150%;width:0}html{font-size:.875em;background:#fff;color:#373D49}html,body{font-family:Georgia,Cambria,serif;height:100%}body{font-size:1rem;font-weight:400;line-height:2rem}ul,ol{margin-bottom:.83999rem;padding-top:.16001rem}li{-webkit-font-feature-settings:'kern' 1,'onum' 1,'liga' 1;font-feature-settings:'kern' 1,'onum' 1,'liga' 1;margin-left:1rem}li>ul,li>ol{margin-bottom:0}p{padding-top:.66001rem;-webkit-font-feature-settings:'kern' 1,'onum' 1,'liga' 1;font-feature-settings:'kern' 1,'onum' 1,'liga' 1;margin-top:0}p,pre{margin-bottom:1.33999rem}pre{font-size:1rem;padding:.66001rem 9.5px 9.5px;line-height:2rem;background:-webkit-linear-gradient(top,#fff 0,#fff .75rem,#f5f7fa .75rem,#f5f7fa 2.75rem,#fff 2.75rem,#fff 4rem);background:linear-gradient(to bottom,#fff 0,#fff .75rem,#f5f7fa .75rem,#f5f7fa 2.75rem,#fff 2.75rem,#fff 4rem);background-size:100% 4rem;border-color:#D3DAEA}blockquote{margin:0}blockquote p{font-size:1rem;margin-bottom:.33999rem;font-style:italic;padding:.66001rem 1rem 1rem;border-left:3px solid #A0AABF}th,td{padding:12px}h1,h2,h3,h4,h5,h6{font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;-webkit-font-feature-settings:'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;font-feature-settings:'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;font-style:normal;font-weight:600;margin-top:0}h1{line-height:3rem;font-size:2.0571429rem;margin-bottom:.21999rem;padding-top:.78001rem}h2{font-size:1.953125rem;margin-bottom:.1835837rem;padding-top:.8164163rem}h2,h3{line-height:3rem}h3{font-size:1.6457143rem;margin-bottom:.07599rem;padding-top:.92401rem}h4{font-size:1.5625rem;margin-bottom:.546865rem;padding-top:.453135rem}h5{font-size:1.25rem;margin-bottom:-.56251rem;padding-top:.56251rem}h6{font-size:1rem;margin-bottom:-.65001rem;padding-top:.65001rem}a{cursor:pointer;color:#35D7BB;text-decoration:none}a:hover,a:focus{border-bottom-color:#35D7BB;color:#dff9f4}img{height:auto;max-width:100%}.g{display:block}.g:after{clear:both;content:'';display:table}.g-b{float:left;margin:0;width:100%}.g{margin-left:-16px;margin-right:-16px}.g-b{padding-left:16px;padding-right:16px}.g-b--center{display:block;float:none;margin:0 auto}.g-b--right{float:right}.g-b--1of1{width:100%}.g-b--1of2,.g-b--2of4,.g-b--3of6,.g-b--4of8,.g-b--5of10,.g-b--6of12{width:50%}.g-b--1of3,.g-b--2of6,.g-b--4of12{width:33.333%}.g-b--2of3,.g-b--4of6,.g-b--8of12{width:66.666%}.g-b--1of4,.g-b--2of8,.g-b--3of12{width:25%}.g-b--3of4,.g-b--6of8,.g-b--9of12{width:75%}.g-b--1of5,.g-b--2of10{width:20%}.g-b--2of5,.g-b--4of10{width:40%}.g-b--3of5,.g-b--6of10{width:60%}.g-b--4of5,.g-b--8of10{width:80%}.g-b--1of6,.g-b--2of12{width:16.666%}.g-b--5of6,.g-b--10of12{width:83.333%}.g-b--1of8{width:12.5%}.g-b--3of8{width:37.5%}.g-b--5of8{width:62.5%}.g-b--7of8{width:87.5%}.g-b--1of10{width:10%}.g-b--3of10{width:30%}.g-b--7of10{width:70%}.g-b--9of10{width:90%}.g-b--1of12{width:8.333%}.g-b--5of12{width:41.666%}.g-b--7of12{width:58.333%}.g-b--11of12{width:91.666%}.g-b--push--1of1{margin-left:100%}.g-b--push--1of2,.g-b--push--2of4,.g-b--push--3of6,.g-b--push--4of8,.g-b--push--5of10,.g-b--push--6of12{margin-left:50%}.g-b--push--1of3,.g-b--push--2of6,.g-b--push--4of12{margin-left:33.333%}.g-b--push--2of3,.g-b--push--4of6,.g-b--push--8of12{margin-left:66.666%}.g-b--push--1of4,.g-b--push--2of8,.g-b--push--3of12{margin-left:25%}.g-b--push--3of4,.g-b--push--6of8,.g-b--push--9of12{margin-left:75%}.g-b--push--1of5,.g-b--push--2of10{margin-left:20%}.g-b--push--2of5,.g-b--push--4of10{margin-left:40%}.g-b--push--3of5,.g-b--push--6of10{margin-left:60%}.g-b--push--4of5,.g-b--push--8of10{margin-left:80%}.g-b--push--1of6,.g-b--push--2of12{margin-left:16.666%}.g-b--push--5of6,.g-b--push--10of12{margin-left:83.333%}.g-b--push--1of8{margin-left:12.5%}.g-b--push--3of8{margin-left:37.5%}.g-b--push--5of8{margin-left:62.5%}.g-b--push--7of8{margin-left:87.5%}.g-b--push--1of10{margin-left:10%}.g-b--push--3of10{margin-left:30%}.g-b--push--7of10{margin-left:70%}.g-b--push--9of10{margin-left:90%}.g-b--push--1of12{margin-left:8.333%}.g-b--push--5of12{margin-left:41.666%}.g-b--push--7of12{margin-left:58.333%}.g-b--push--11of12{margin-left:91.666%}.g-b--pull--1of1{margin-right:100%}.g-b--pull--1of2,.g-b--pull--2of4,.g-b--pull--3of6,.g-b--pull--4of8,.g-b--pull--5of10,.g-b--pull--6of12{margin-right:50%}.g-b--pull--1of3,.g-b--pull--2of6,.g-b--pull--4of12{margin-right:33.333%}.g-b--pull--2of3,.g-b--pull--4of6,.g-b--pull--8of12{margin-right:66.666%}.g-b--pull--1of4,.g-b--pull--2of8,.g-b--pull--3of12{margin-right:25%}.g-b--pull--3of4,.g-b--pull--6of8,.g-b--pull--9of12{margin-right:75%}.g-b--pull--1of5,.g-b--pull--2of10{margin-right:20%}.g-b--pull--2of5,.g-b--pull--4of10{margin-right:40%}.g-b--pull--3of5,.g-b--pull--6of10{margin-right:60%}.g-b--pull--4of5,.g-b--pull--8of10{margin-right:80%}.g-b--pull--1of6,.g-b--pull--2of12{margin-right:16.666%}.g-b--pull--5of6,.g-b--pull--10of12{margin-right:83.333%}.g-b--pull--1of8{margin-right:12.5%}.g-b--pull--3of8{margin-right:37.5%}.g-b--pull--5of8{margin-right:62.5%}.g-b--pull--7of8{margin-right:87.5%}.g-b--pull--1of10{margin-right:10%}.g-b--pull--3of10{margin-right:30%}.g-b--pull--7of10{margin-right:70%}.g-b--pull--9of10{margin-right:90%}.g-b--pull--1of12{margin-right:8.333%}.g-b--pull--5of12{margin-right:41.666%}.g-b--pull--7of12{margin-right:58.333%}.g-b--pull--11of12{margin-right:91.666%}.splashscreen{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#373D49;z-index:22}.splashscreen-dillinger{width:260px;height:auto;display:block;margin:0 auto;padding-bottom:3rem}.splashscreen p{font-size:1.25rem;padding-top:.56251rem;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;font-weight:400;text-align:center;max-width:500px;margin:0 auto;color:#FFF}.sp-center{position:relative;-webkit-transform:translateY(-50%);transform:translateY(-50%);top:50%}.open-menu>.wrapper{overflow-x:hidden}.page{margin:0 auto;position:relative;top:0;left:0;width:100%;height:100%;z-index:2;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;background-color:#fff;padding-top:51px;will-change:left}.open-menu .page{left:270px}.title{line-height:1rem;font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem;font-weight:500;color:#A0AABF;letter-spacing:1px;text-transform:uppercase;padding-left:16px;padding-right:16px;margin-top:1rem}.split-preview .title{padding-left:0}.title-document{line-height:1rem;font-size:1.25rem;margin-bottom:.89999rem;padding-top:.10001rem;font-weight:400;font-family:\"Ubuntu Mono\",Monaco;color:#373D49;padding-left:16px;padding-right:16px;width:80%;min-width:300px;outline:0;border:none}.icon{display:block;margin:0 auto;width:36px;height:36px;border-radius:3px;text-align:center}.icon svg{display:inline-block;margin-left:auto;margin-right:auto}.icon-preview{background-color:#373D49;line-height:40px}.icon-preview svg{width:19px;height:12px}.icon-settings{background-color:#373D49;line-height:44px}.icon-settings svg{width:18px;height:18px}.icon-link{width:16px;height:16px;line-height:1;margin-right:24px;text-align:right}.navbar{background-color:#373D49;height:51px;width:100%;position:fixed;top:0;left:0;z-index:6;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;will-change:left}.navbar:after{content:\"\";display:table;clear:both}.open-menu .navbar{left:270px}.navbar-brand{float:left;margin:0 0 0 24px;padding:0;line-height:42px}.navbar-brand svg{width:85px;height:11px}.nav-left{float:left}.nav-right{float:right}.nav-sidebar{width:100%}.menu{list-style:none;margin:0;padding:0}.menu a{border:0;color:#A0AABF;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;outline:none;text-transform:uppercase}.menu a:hover{color:#35D7BB}.menu .menu-item{border:0;display:none;float:left;margin:0;position:relative}.menu .menu-item>a{display:block;font-size:12px;height:51px;letter-spacing:1px;line-height:51px;padding:0 24px}.menu .menu-item--settings,.menu .menu-item--preview,.menu .menu-item--save-to.in-sidebar,.menu .menu-item--import-from.in-sidebar,.menu .menu-item--link-unlink.in-sidebar,.menu .menu-item--documents.in-sidebar{display:block}.menu .menu-item--documents{padding-bottom:1rem}.menu .menu-item.open>a{background-color:#1D212A}.menu .menu-item-icon>a{height:auto;padding:0}.menu .menu-item-icon:hover>a{background-color:transparent}.menu .menu-link.open i{background-color:#1D212A}.menu .menu-link.open g{fill:#35D7BB}.menu .menu-link-preview,.menu .menu-link-settings{margin-top:8px;width:51px}.menu-sidebar{width:100%}.menu-sidebar .menu-item{float:none;margin-bottom:1px;width:100%}.menu-sidebar .menu-item.open>a{background-color:#373D49}.menu-sidebar .open .caret{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.menu-sidebar>.menu-item:hover .dropdown a,.menu-sidebar>.menu-item:hover .settings a{background-color:transparent}.menu-sidebar .menu-link{background-color:#373D49;font-weight:600}.menu-sidebar .menu-link:after{content:\"\";display:table;clear:both}.menu-sidebar .menu-link>span{float:left}.menu-sidebar .menu-link>.caret{float:right;text-align:right;top:22px}.menu-sidebar .dropdown,.menu-sidebar .settings{background-color:transparent;position:static;width:100%}.dropdown{position:absolute;right:0;top:51px;width:188px}.dropdown,.settings{display:none;background-color:#1D212A}.dropdown{padding:0}.dropdown,.settings,.sidebar-list{list-style:none;margin:0}.sidebar-list{padding:0}.dropdown li{margin:32px 0;padding:0 0 0 32px}.dropdown li,.settings li{line-height:1}.sidebar-list li{line-height:1;margin:32px 0;padding:0 0 0 32px}.dropdown a{color:#D0D6E2}.dropdown a,.settings a,.sidebar-list a{display:block;text-transform:none}.sidebar-list a{color:#D0D6E2}.dropdown a:after,.settings a:after,.sidebar-list a:after{content:\"\";display:table;clear:both}.dropdown .icon,.settings .icon,.sidebar-list .icon{float:right}.open .dropdown,.open .settings,.open .sidebar-list{display:block}.open .dropdown.collapse,.open .collapse.settings,.open .sidebar-list.collapse{display:none}.open .dropdown.collapse.in,.open .collapse.in.settings,.open .sidebar-list.collapse.in{display:block}.dropdown .unlinked .icon,.settings .unlinked .icon,.sidebar-list .unlinked .icon{opacity:.3}.dropdown.documents li,.documents.settings li,.sidebar-list.documents li{background-image:url(\"../img/icons/file.svg\");background-position:240px center;background-repeat:no-repeat;background-size:14px 16px;padding:3px 32px}.dropdown.documents li.octocat,.documents.settings li.octocat,.sidebar-list.documents li.octocat{background-image:url(\"../img/icons/octocat.svg\");background-position:234px center;background-size:24px 24px}.dropdown.documents li:last-child,.documents.settings li:last-child,.sidebar-list.documents li:last-child{margin-bottom:1rem}.dropdown.documents li.active a,.documents.settings li.active a,.sidebar-list.documents li.active a{color:#35D7BB}.settings{position:fixed;top:67px;right:16px;border-radius:3px;width:288px;background-color:#373D49;padding:16px;z-index:7}.show-settings .settings{display:block}.settings .has-checkbox{float:left}.settings a{font-size:1.25rem;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;line-height:28px;color:#D0D6E2}.settings a:after{content:\"\";display:table;clear:both}.settings a:hover{color:#35D7BB}.settings li{border-bottom:1px solid #4F535B;margin:0;padding:16px 0}.settings li:last-child{border-bottom:none}.brand{border:none;display:block}.brand:hover g{fill:#35D7BB}.toggle{display:block;float:left;height:16px;padding:25px 16px 26px;width:40px}.toggle span:after,.toggle span:before{content:'';left:0;position:absolute;top:-6px}.toggle span:after{top:6px}.toggle span{display:block;position:relative}.toggle span,.toggle span:after,.toggle span:before{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:#D3DAEA;height:2px;-webkit-transition:all .3s;transition:all .3s;width:20px}.open-menu .toggle span{background-color:transparent}.open-menu .toggle span:before{-webkit-transform:rotate(45deg) translate(3px,3px);transform:rotate(45deg) translate(3px,3px)}.open-menu .toggle span:after{-webkit-transform:rotate(-45deg) translate(5px,-6px);transform:rotate(-45deg) translate(5px,-6px)}.caret{display:inline-block;width:0;height:0;margin-left:6px;vertical-align:middle;position:relative;top:-1px;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent}.sidebar{overflow:auto;height:100%;padding-right:15px;padding-bottom:15px;width:285px}.sidebar-wrapper{-webkit-overflow-scrolling:touch;background-color:#2B2F36;left:0;height:100%;overflow-y:hidden;position:fixed;top:0;width:285px;z-index:1}.sidebar-branding{width:160px;padding:0;margin:16px auto}.header{border-bottom:1px solid #E8E8E8;position:relative}.words,.characters{line-height:1rem;font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem;font-weight:500;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;color:#A0AABF;letter-spacing:1px;text-transform:uppercase;z-index:5;position:absolute;right:16px;top:0}.words span,.characters span{color:#000}.words+.characters{top:22px}.btn{text-align:center;display:inline-block;width:100%;text-transform:uppercase;font-weight:600;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;font-size:14px;text-shadow:0 1px 0 #1b8b77;padding:16px 24px;background-color:#35D7BB;border-radius:3px;margin:0 auto 16px;line-height:1;color:#fff;-webkit-transition:all .15s linear;transition:all .15s linear;-webkit-font-smoothing:antialiased}.btn--new,.btn--save{display:block;width:238px}.btn--new:hover,.btn--new:focus,.btn--save:hover,.btn--save:focus{color:#fff;border-bottom-color:transparent;box-shadow:0 1px 3px #24b59c;text-shadow:0 1px 0 #24b59c}.btn--save{background-color:#4A5261;text-shadow:0 1px 1px #1e2127}.btn--save:hover,.btn--save:focus{color:#fff;border-bottom-color:transparent;box-shadow:0 1px 5px #08090a;text-shadow:none}.btn--delete{display:block;width:238px;background-color:transparent;font-size:12px;text-shadow:none}.btn--delete:hover,.btn--delete:focus{color:#fff;border-bottom-color:transparent;text-shadow:0 1px 0 #08090a;opacity:.8}.btn--delete-modal,.btn--ok,.btn--close{border-top:0;background-color:#4A5261;text-shadow:0 1px 0 #08090a;margin:0}.btn--delete-modal:hover,.btn--delete-modal:focus,.btn--ok:hover,.btn--ok:focus,.btn--close:hover,.btn--close:focus{color:#fff;background-color:#292d36;text-shadow:none}.btn--delete-modal{display:inline;width:auto}.overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(55,61,73,.8);-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;will-change:left,opacity,visibility;z-index:5;opacity:0;visibility:hidden}.show-settings .overlay{visibility:visible;opacity:1}.switch{float:right;line-height:1}.switch input{display:none}.switch small{display:inline-block;cursor:pointer;padding:0 24px 0 0;-webkit-transition:all ease .2s;transition:all ease .2s;background-color:#2B2F36;border-color:#2B2F36}.switch small,.switch small:before{border-radius:30px;box-shadow:inset 0 0 2px 0 #14171F}.switch small:before{display:block;content:'';width:28px;height:28px;background:#fff}.switch.checked small{padding-right:0;padding-left:24px;background-color:#35D7BB;box-shadow:none}.modal--dillinger.about .modal-dialog{font-size:1.25rem;max-width:500px}.modal--dillinger.scope .modal-dialog{max-width:300px;margin:5rem auto}.modal--dillinger .modal-dialog{max-width:600px;width:auto;margin:5rem auto}.modal--dillinger .modal-content{background:#373D49;border-radius:3px;box-shadow:0 2px 5px 0 #2C3B59;color:#fff;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;font-weight:400;padding:2rem}.modal--dillinger ul{list-style-type:disc;margin:1rem 0;padding:0 0 0 1rem}.modal--dillinger li{padding:0;margin:0}.modal--dillinger .modal-header{border:0;padding:0}.modal--dillinger .modal-body{padding:0}.modal--dillinger .modal-footer{border:0;padding:0}.modal--dillinger .close{color:#fff;opacity:1}.modal-backdrop{background-color:#373D49}.pagination--dillinger{padding:0!important;margin:1.5rem 0!important;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:stretch;align-content:stretch}.pagination--dillinger,.pagination--dillinger li{display:-webkit-box;display:-ms-flexbox;display:flex}.pagination--dillinger li{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;text-align:center}.pagination--dillinger li:first-child>a,.pagination--dillinger li.disabled>a,.pagination--dillinger li.disabled>a:hover,.pagination--dillinger li.disabled>a:focus,.pagination--dillinger li>a{background-color:transparent;border-color:#4F535B;border-right-color:transparent}.pagination--dillinger li.active>a,.pagination--dillinger li.active>a:hover,.pagination--dillinger li.active>a:focus{border-color:#4A5261;background-color:#4A5261;color:#fff}.pagination--dillinger li>a{float:none;color:#fff;width:100%;display:block;text-align:center;margin:0;border-right-color:transparent;padding:6px}.pagination--dillinger li>a:hover,.pagination--dillinger li>a:focus{border-color:#35D7BB;background-color:#35D7BB;color:#fff}.pagination--dillinger li:last-child a{border-color:#4F535B}.pagination--dillinger li:first-child a{border-right-color:transparent}.diNotify{position:absolute;z-index:9999;left:0;right:0;top:0;margin:0 auto;max-width:400px;text-align:center;-webkit-transition:top .5s ease-in-out,opacity .5s ease-in-out;transition:top .5s ease-in-out,opacity .5s ease-in-out;visibility:hidden}.diNotify-body{-webkit-font-smoothing:antialiased;background-color:#35D7BB;background:#666E7F;border-radius:3px;color:#fff;font-family:\"Source Sans Pro\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;font-weight:400;overflow:hidden;padding:1rem 2rem .5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.diNotify-icon{display:block;width:16px;height:16px;line-height:16px;position:relative;top:3px}.diNotify-message{padding-left:1rem}.zen-wrapper{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;z-index:10;background-color:#FFF;opacity:0;-webkit-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out}.zen-wrapper.on{opacity:1}.enter-zen-mode{background-image:url(\"../img/icons/enter-zen.svg\");right:.5rem;top:.313rem;display:none}.enter-zen-mode,.close-zen-mode{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;background-repeat:no-repeat;width:32px;height:32px;display:block;position:absolute}.close-zen-mode{background-image:url(\"../img/icons/exit-zen.svg\");right:1rem;top:1rem}.zen-page{position:relative;top:0;bottom:0;z-index:11;height:100%;width:100%}#zen{font-size:1.25rem;width:300px;height:80%;margin:0 auto;position:relative;top:10%}#zen:before,#zen:after{content:\"\";position:absolute;height:10%;width:100%;z-index:12;pointer-events:none}#preview .table{width:auto}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:.1px;z-index:99999;display:block}.ui-resizable-e{background-color:#666;border-right:8px solid #e8e8e8;border-left:1px solid #222;width:10px;z-index:88!important;position:relative}.ui-resizable-e:after{content:\"-\";display:block;position:absolute;top:calc(50% - 16px);left:0;height:25px;width:2px;background-color:rgba(0,0,0,.4);margin:3px}#editor{cursor:ew-resize;position:relative;z-index:auto}.profile-pic{float:left;width:250px}#_default_ a::before{color:#A0AABF}#_default_ img{display:none}#_default_ #_default_{display:block;float:left;max-width:38%;word-wrap:break-word}#_default_ .default-ad{display:none}#_default_ ._default_{display:block}#_default_ a{color:#35d7bb;text-decoration:none}#_default_ a:hover{color:#8ae8d8}#_default_ .default-image{display:none}#_default_ .default-title:after{content:\"\"}#_default_ .default-title,#_default_ .default-description{display:inline}#_default_ .default-title{position:relative;font-weight:600;display:none}#_default_ a:before{position:relative;top:0;padding:5px;color:#a0aabf;content:\"Ad\";text-transform:uppercase;font-size:8px;font-family:Verdana,sans-serif}#_default_{display:block;float:left;max-width:38%;word-wrap:break-word}#_default_ ._default_{display:block;font-size:.75rem;height:51px;letter-spacing:1px;line-height:1rem;padding:18px 24px}.split{overflow:scroll;padding:0!important}.split-editor{padding-left:0;padding-right:0;position:relative;z-index:3}.show-preview .split-editor{display:none}.split-preview{background-color:#fff;display:none;top:0;position:relative;z-index:4}.show-preview .split-preview{display:block}#editor{font-size:1rem;font-family:\"Ubuntu Mono\",Monaco;font-weight:400;line-height:2rem;width:100%;height:100%}#editor .ace_gutter{-webkit-font-smoothing:antialiased}.editor-header{width:50%;float:left;border-bottom:1px solid #E8E8E8;position:relative}.editor-header--first{border-right:1px solid #E8E8E8}.editor-header .title{display:inline-block}.preview-html{padding:15px}.preview-html a{color:#A0AABF;text-decoration:underline}.preview-src{white-space:normal}.preview-mode-toggle-src{background-image:url(\"../img/icons/code.svg\")}.preview-mode-toggle-src,.preview-mode-toggle-html{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;background-repeat:no-repeat;width:32px;height:32px;display:block;position:absolute;right:.5rem;top:.5rem;display:none}.preview-mode-toggle-html{background-image:url(\"../img/icons/eye.svg\")}.sr-only{visibility:hidden;text-overflow:110%;overflow:hidden;top:-100px;position:absolute}.mnone{margin:0!important}@media screen and (min-width:27.5em){html{font-size:.875em}body{font-size:1rem}ul,ol{margin-bottom:.83999rem;padding-top:.16001rem}p{padding-top:.66001rem}p,pre{margin-bottom:1.33999rem}pre,blockquote p{font-size:1rem;padding-top:.66001rem}blockquote p{margin-bottom:.33999rem}h1{font-size:2.0571429rem;margin-bottom:.21999rem;padding-top:.78001rem}h2{font-size:1.953125rem;margin-bottom:.1835837rem;padding-top:.8164163rem}h3{font-size:1.6457143rem;margin-bottom:.07599rem;padding-top:.92401rem}h4{font-size:1.5625rem;margin-bottom:.546865rem;padding-top:.453135rem}h5{font-size:1.25rem;margin-bottom:-.56251rem;padding-top:.56251rem}h6{font-size:1rem;margin-bottom:-.65001rem;padding-top:.65001rem}.g{margin-left:-16px;margin-right:-16px}.g-b{padding-left:16px;padding-right:16px}.g-b--m1of1{width:100%}.g-b--m1of2,.g-b--m2of4,.g-b--m3of6,.g-b--m4of8,.g-b--m5of10,.g-b--m6of12{width:50%}.g-b--m1of3,.g-b--m2of6,.g-b--m4of12{width:33.333%}.g-b--m2of3,.g-b--m4of6,.g-b--m8of12{width:66.666%}.g-b--m1of4,.g-b--m2of8,.g-b--m3of12{width:25%}.g-b--m3of4,.g-b--m6of8,.g-b--m9of12{width:75%}.g-b--m1of5,.g-b--m2of10{width:20%}.g-b--m2of5,.g-b--m4of10{width:40%}.g-b--m3of5,.g-b--m6of10{width:60%}.g-b--m4of5,.g-b--m8of10{width:80%}.g-b--m1of6,.g-b--m2of12{width:16.666%}.g-b--m5of6,.g-b--m10of12{width:83.333%}.g-b--m1of8{width:12.5%}.g-b--m3of8{width:37.5%}.g-b--m5of8{width:62.5%}.g-b--m7of8{width:87.5%}.g-b--m1of10{width:10%}.g-b--m3of10{width:30%}.g-b--m7of10{width:70%}.g-b--m9of10{width:90%}.g-b--m1of12{width:8.333%}.g-b--m5of12{width:41.666%}.g-b--m7of12{width:58.333%}.g-b--m11of12{width:91.666%}.g-b--push--m1of1{margin-left:100%}.g-b--push--m1of2,.g-b--push--m2of4,.g-b--push--m3of6,.g-b--push--m4of8,.g-b--push--m5of10,.g-b--push--m6of12{margin-left:50%}.g-b--push--m1of3,.g-b--push--m2of6,.g-b--push--m4of12{margin-left:33.333%}.g-b--push--m2of3,.g-b--push--m4of6,.g-b--push--m8of12{margin-left:66.666%}.g-b--push--m1of4,.g-b--push--m2of8,.g-b--push--m3of12{margin-left:25%}.g-b--push--m3of4,.g-b--push--m6of8,.g-b--push--m9of12{margin-left:75%}.g-b--push--m1of5,.g-b--push--m2of10{margin-left:20%}.g-b--push--m2of5,.g-b--push--m4of10{margin-left:40%}.g-b--push--m3of5,.g-b--push--m6of10{margin-left:60%}.g-b--push--m4of5,.g-b--push--m8of10{margin-left:80%}.g-b--push--m1of6,.g-b--push--m2of12{margin-left:16.666%}.g-b--push--m5of6,.g-b--push--m10of12{margin-left:83.333%}.g-b--push--m1of8{margin-left:12.5%}.g-b--push--m3of8{margin-left:37.5%}.g-b--push--m5of8{margin-left:62.5%}.g-b--push--m7of8{margin-left:87.5%}.g-b--push--m1of10{margin-left:10%}.g-b--push--m3of10{margin-left:30%}.g-b--push--m7of10{margin-left:70%}.g-b--push--m9of10{margin-left:90%}.g-b--push--m1of12{margin-left:8.333%}.g-b--push--m5of12{margin-left:41.666%}.g-b--push--m7of12{margin-left:58.333%}.g-b--push--m11of12{margin-left:91.666%}.g-b--pull--m1of1{margin-right:100%}.g-b--pull--m1of2,.g-b--pull--m2of4,.g-b--pull--m3of6,.g-b--pull--m4of8,.g-b--pull--m5of10,.g-b--pull--m6of12{margin-right:50%}.g-b--pull--m1of3,.g-b--pull--m2of6,.g-b--pull--m4of12{margin-right:33.333%}.g-b--pull--m2of3,.g-b--pull--m4of6,.g-b--pull--m8of12{margin-right:66.666%}.g-b--pull--m1of4,.g-b--pull--m2of8,.g-b--pull--m3of12{margin-right:25%}.g-b--pull--m3of4,.g-b--pull--m6of8,.g-b--pull--m9of12{margin-right:75%}.g-b--pull--m1of5,.g-b--pull--m2of10{margin-right:20%}.g-b--pull--m2of5,.g-b--pull--m4of10{margin-right:40%}.g-b--pull--m3of5,.g-b--pull--m6of10{margin-right:60%}.g-b--pull--m4of5,.g-b--pull--m8of10{margin-right:80%}.g-b--pull--m1of6,.g-b--pull--m2of12{margin-right:16.666%}.g-b--pull--m5of6,.g-b--pull--m10of12{margin-right:83.333%}.g-b--pull--m1of8{margin-right:12.5%}.g-b--pull--m3of8{margin-right:37.5%}.g-b--pull--m5of8{margin-right:62.5%}.g-b--pull--m7of8{margin-right:87.5%}.g-b--pull--m1of10{margin-right:10%}.g-b--pull--m3of10{margin-right:30%}.g-b--pull--m7of10{margin-right:70%}.g-b--pull--m9of10{margin-right:90%}.g-b--pull--m1of12{margin-right:8.333%}.g-b--pull--m5of12{margin-right:41.666%}.g-b--pull--m7of12{margin-right:58.333%}.g-b--pull--m11of12{margin-right:91.666%}.splashscreen p{font-size:1.25rem;margin-bottom:1.43749rem;padding-top:.56251rem}.title{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.title-document{margin-bottom:.89999rem;padding-top:.10001rem}.title-document,.settings a{font-size:1.25rem}.words,.characters{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.modal--dillinger.about .modal-dialog,#zen{font-size:1.25rem}#zen{width:400px}#editor{font-size:1rem}}@media screen and (min-width:46.25em){html{font-size:.875em}body{font-size:1rem}ul,ol{margin-bottom:.83999rem;padding-top:.16001rem}p{padding-top:.66001rem}p,pre{margin-bottom:1.33999rem}pre,blockquote p{font-size:1rem;padding-top:.66001rem}blockquote p{margin-bottom:.33999rem}h1{font-size:2.0571429rem;margin-bottom:.21999rem;padding-top:.78001rem}h2{font-size:1.953125rem;margin-bottom:.1835837rem;padding-top:.8164163rem}h3{font-size:1.6457143rem;margin-bottom:.07599rem;padding-top:.92401rem}h4{font-size:1.5625rem;margin-bottom:.546865rem;padding-top:.453135rem}h5{font-size:1.25rem;margin-bottom:-.56251rem;padding-top:.56251rem}h6{font-size:1rem;margin-bottom:-.65001rem;padding-top:.65001rem}.g{margin-left:-16px;margin-right:-16px}.g-b{padding-left:16px;padding-right:16px}.g-b--t1of1{width:100%}.g-b--t1of2,.g-b--t2of4,.g-b--t3of6,.g-b--t4of8,.g-b--t5of10,.g-b--t6of12{width:50%}.g-b--t1of3,.g-b--t2of6,.g-b--t4of12{width:33.333%}.g-b--t2of3,.g-b--t4of6,.g-b--t8of12{width:66.666%}.g-b--t1of4,.g-b--t2of8,.g-b--t3of12{width:25%}.g-b--t3of4,.g-b--t6of8,.g-b--t9of12{width:75%}.g-b--t1of5,.g-b--t2of10{width:20%}.g-b--t2of5,.g-b--t4of10{width:40%}.g-b--t3of5,.g-b--t6of10{width:60%}.g-b--t4of5,.g-b--t8of10{width:80%}.g-b--t1of6,.g-b--t2of12{width:16.666%}.g-b--t5of6,.g-b--t10of12{width:83.333%}.g-b--t1of8{width:12.5%}.g-b--t3of8{width:37.5%}.g-b--t5of8{width:62.5%}.g-b--t7of8{width:87.5%}.g-b--t1of10{width:10%}.g-b--t3of10{width:30%}.g-b--t7of10{width:70%}.g-b--t9of10{width:90%}.g-b--t1of12{width:8.333%}.g-b--t5of12{width:41.666%}.g-b--t7of12{width:58.333%}.g-b--t11of12{width:91.666%}.g-b--push--t1of1{margin-left:100%}.g-b--push--t1of2,.g-b--push--t2of4,.g-b--push--t3of6,.g-b--push--t4of8,.g-b--push--t5of10,.g-b--push--t6of12{margin-left:50%}.g-b--push--t1of3,.g-b--push--t2of6,.g-b--push--t4of12{margin-left:33.333%}.g-b--push--t2of3,.g-b--push--t4of6,.g-b--push--t8of12{margin-left:66.666%}.g-b--push--t1of4,.g-b--push--t2of8,.g-b--push--t3of12{margin-left:25%}.g-b--push--t3of4,.g-b--push--t6of8,.g-b--push--t9of12{margin-left:75%}.g-b--push--t1of5,.g-b--push--t2of10{margin-left:20%}.g-b--push--t2of5,.g-b--push--t4of10{margin-left:40%}.g-b--push--t3of5,.g-b--push--t6of10{margin-left:60%}.g-b--push--t4of5,.g-b--push--t8of10{margin-left:80%}.g-b--push--t1of6,.g-b--push--t2of12{margin-left:16.666%}.g-b--push--t5of6,.g-b--push--t10of12{margin-left:83.333%}.g-b--push--t1of8{margin-left:12.5%}.g-b--push--t3of8{margin-left:37.5%}.g-b--push--t5of8{margin-left:62.5%}.g-b--push--t7of8{margin-left:87.5%}.g-b--push--t1of10{margin-left:10%}.g-b--push--t3of10{margin-left:30%}.g-b--push--t7of10{margin-left:70%}.g-b--push--t9of10{margin-left:90%}.g-b--push--t1of12{margin-left:8.333%}.g-b--push--t5of12{margin-left:41.666%}.g-b--push--t7of12{margin-left:58.333%}.g-b--push--t11of12{margin-left:91.666%}.g-b--pull--t1of1{margin-right:100%}.g-b--pull--t1of2,.g-b--pull--t2of4,.g-b--pull--t3of6,.g-b--pull--t4of8,.g-b--pull--t5of10,.g-b--pull--t6of12{margin-right:50%}.g-b--pull--t1of3,.g-b--pull--t2of6,.g-b--pull--t4of12{margin-right:33.333%}.g-b--pull--t2of3,.g-b--pull--t4of6,.g-b--pull--t8of12{margin-right:66.666%}.g-b--pull--t1of4,.g-b--pull--t2of8,.g-b--pull--t3of12{margin-right:25%}.g-b--pull--t3of4,.g-b--pull--t6of8,.g-b--pull--t9of12{margin-right:75%}.g-b--pull--t1of5,.g-b--pull--t2of10{margin-right:20%}.g-b--pull--t2of5,.g-b--pull--t4of10{margin-right:40%}.g-b--pull--t3of5,.g-b--pull--t6of10{margin-right:60%}.g-b--pull--t4of5,.g-b--pull--t8of10{margin-right:80%}.g-b--pull--t1of6,.g-b--pull--t2of12{margin-right:16.666%}.g-b--pull--t5of6,.g-b--pull--t10of12{margin-right:83.333%}.g-b--pull--t1of8{margin-right:12.5%}.g-b--pull--t3of8{margin-right:37.5%}.g-b--pull--t5of8{margin-right:62.5%}.g-b--pull--t7of8{margin-right:87.5%}.g-b--pull--t1of10{margin-right:10%}.g-b--pull--t3of10{margin-right:30%}.g-b--pull--t7of10{margin-right:70%}.g-b--pull--t9of10{margin-right:90%}.g-b--pull--t1of12{margin-right:8.333%}.g-b--pull--t5of12{margin-right:41.666%}.g-b--pull--t7of12{margin-right:58.333%}.g-b--pull--t11of12{margin-right:91.666%}.splashscreen-dillinger{width:500px}.splashscreen p{font-size:1.25rem;margin-bottom:1.43749rem;padding-top:.56251rem}.title{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.title-document{font-size:1.25rem;margin-bottom:.89999rem;padding-top:.10001rem}.menu .menu-item--save-to,.menu .menu-item--import-from{display:block}.menu .menu-item--preview,.menu .menu-item--save-to.in-sidebar,.menu .menu-item--import-from.in-sidebar{display:none}.settings a{font-size:1.25rem}.words,.characters{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.modal--dillinger.about .modal-dialog{font-size:1.25rem}.enter-zen-mode{display:block}.close-zen-mode{right:3rem;top:3rem}#zen{font-size:1.25rem;width:500px}.split-editor{border-right:1px solid #E8E8E8;float:left;height:calc(100vh - 172px);-webkit-overflow-scrolling:touch;padding-right:16px;width:50%}.show-preview .split-editor{display:block}.split-preview{display:block;float:right;height:calc(100vh - 172px);-webkit-overflow-scrolling:touch;position:relative;top:0;width:50%}#editor{font-size:1rem}.preview-mode-toggle-src,.preview-mode-toggle-html{display:block}}@media screen and (min-width:62.5em){html{font-size:.875em}body{font-size:1rem}ul,ol{margin-bottom:.83999rem;padding-top:.16001rem}p{padding-top:.66001rem}p,pre{margin-bottom:1.33999rem}pre,blockquote p{font-size:1rem;padding-top:.66001rem}blockquote p{margin-bottom:.33999rem}h1{font-size:2.0571429rem;margin-bottom:.21999rem;padding-top:.78001rem}h2{font-size:1.953125rem;margin-bottom:.1835837rem;padding-top:.8164163rem}h3{font-size:1.6457143rem;margin-bottom:.07599rem;padding-top:.92401rem}h4{font-size:1.5625rem;margin-bottom:.546865rem;padding-top:.453135rem}h5{font-size:1.25rem;margin-bottom:-.56251rem;padding-top:.56251rem}h6{font-size:1rem;margin-bottom:-.65001rem;padding-top:.65001rem}.g{margin-left:-16px;margin-right:-16px}.g-b{padding-left:16px;padding-right:16px}.g-b--d1of1{width:100%}.g-b--d1of2,.g-b--d2of4,.g-b--d3of6,.g-b--d4of8,.g-b--d5of10,.g-b--d6of12{width:50%}.g-b--d1of3,.g-b--d2of6,.g-b--d4of12{width:33.333%}.g-b--d2of3,.g-b--d4of6,.g-b--d8of12{width:66.666%}.g-b--d1of4,.g-b--d2of8,.g-b--d3of12{width:25%}.g-b--d3of4,.g-b--d6of8,.g-b--d9of12{width:75%}.g-b--d1of5,.g-b--d2of10{width:20%}.g-b--d2of5,.g-b--d4of10{width:40%}.g-b--d3of5,.g-b--d6of10{width:60%}.g-b--d4of5,.g-b--d8of10{width:80%}.g-b--d1of6,.g-b--d2of12{width:16.666%}.g-b--d5of6,.g-b--d10of12{width:83.333%}.g-b--d1of8{width:12.5%}.g-b--d3of8{width:37.5%}.g-b--d5of8{width:62.5%}.g-b--d7of8{width:87.5%}.g-b--d1of10{width:10%}.g-b--d3of10{width:30%}.g-b--d7of10{width:70%}.g-b--d9of10{width:90%}.g-b--d1of12{width:8.333%}.g-b--d5of12{width:41.666%}.g-b--d7of12{width:58.333%}.g-b--d11of12{width:91.666%}.g-b--push--d1of1{margin-left:100%}.g-b--push--d1of2,.g-b--push--d2of4,.g-b--push--d3of6,.g-b--push--d4of8,.g-b--push--d5of10,.g-b--push--d6of12{margin-left:50%}.g-b--push--d1of3,.g-b--push--d2of6,.g-b--push--d4of12{margin-left:33.333%}.g-b--push--d2of3,.g-b--push--d4of6,.g-b--push--d8of12{margin-left:66.666%}.g-b--push--d1of4,.g-b--push--d2of8,.g-b--push--d3of12{margin-left:25%}.g-b--push--d3of4,.g-b--push--d6of8,.g-b--push--d9of12{margin-left:75%}.g-b--push--d1of5,.g-b--push--d2of10{margin-left:20%}.g-b--push--d2of5,.g-b--push--d4of10{margin-left:40%}.g-b--push--d3of5,.g-b--push--d6of10{margin-left:60%}.g-b--push--d4of5,.g-b--push--d8of10{margin-left:80%}.g-b--push--d1of6,.g-b--push--d2of12{margin-left:16.666%}.g-b--push--d5of6,.g-b--push--d10of12{margin-left:83.333%}.g-b--push--d1of8{margin-left:12.5%}.g-b--push--d3of8{margin-left:37.5%}.g-b--push--d5of8{margin-left:62.5%}.g-b--push--d7of8{margin-left:87.5%}.g-b--push--d1of10{margin-left:10%}.g-b--push--d3of10{margin-left:30%}.g-b--push--d7of10{margin-left:70%}.g-b--push--d9of10{margin-left:90%}.g-b--push--d1of12{margin-left:8.333%}.g-b--push--d5of12{margin-left:41.666%}.g-b--push--d7of12{margin-left:58.333%}.g-b--push--d11of12{margin-left:91.666%}.g-b--pull--d1of1{margin-right:100%}.g-b--pull--d1of2,.g-b--pull--d2of4,.g-b--pull--d3of6,.g-b--pull--d4of8,.g-b--pull--d5of10,.g-b--pull--d6of12{margin-right:50%}.g-b--pull--d1of3,.g-b--pull--d2of6,.g-b--pull--d4of12{margin-right:33.333%}.g-b--pull--d2of3,.g-b--pull--d4of6,.g-b--pull--d8of12{margin-right:66.666%}.g-b--pull--d1of4,.g-b--pull--d2of8,.g-b--pull--d3of12{margin-right:25%}.g-b--pull--d3of4,.g-b--pull--d6of8,.g-b--pull--d9of12{margin-right:75%}.g-b--pull--d1of5,.g-b--pull--d2of10{margin-right:20%}.g-b--pull--d2of5,.g-b--pull--d4of10{margin-right:40%}.g-b--pull--d3of5,.g-b--pull--d6of10{margin-right:60%}.g-b--pull--d4of5,.g-b--pull--d8of10{margin-right:80%}.g-b--pull--d1of6,.g-b--pull--d2of12{margin-right:16.666%}.g-b--pull--d5of6,.g-b--pull--d10of12{margin-right:83.333%}.g-b--pull--d1of8{margin-right:12.5%}.g-b--pull--d3of8{margin-right:37.5%}.g-b--pull--d5of8{margin-right:62.5%}.g-b--pull--d7of8{margin-right:87.5%}.g-b--pull--d1of10{margin-right:10%}.g-b--pull--d3of10{margin-right:30%}.g-b--pull--d7of10{margin-right:70%}.g-b--pull--d9of10{margin-right:90%}.g-b--pull--d1of12{margin-right:8.333%}.g-b--pull--d5of12{margin-right:41.666%}.g-b--pull--d7of12{margin-right:58.333%}.g-b--pull--d11of12{margin-right:91.666%}.splashscreen-dillinger{width:700px}.splashscreen p{font-size:1.25rem;margin-bottom:1.43749rem;padding-top:.56251rem}.title{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.title-document{font-size:1.25rem;margin-bottom:.89999rem;padding-top:.10001rem}.menu .menu-item--export-as{display:block}.menu .menu-item--preview{display:none}.settings a{font-size:1.25rem}.words,.characters{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.modal--dillinger.about .modal-dialog,#zen{font-size:1.25rem}#zen{width:700px}#editor{font-size:1rem}}@media screen and (min-width:87.5em){html{font-size:.875em}body{font-size:1rem}ul,ol{margin-bottom:.83999rem;padding-top:.16001rem}p{padding-top:.66001rem}p,pre{margin-bottom:1.33999rem}pre,blockquote p{font-size:1rem;padding-top:.66001rem}blockquote p{margin-bottom:.33999rem}h1{font-size:2.0571429rem;margin-bottom:.21999rem;padding-top:.78001rem}h2{font-size:1.953125rem;margin-bottom:.1835837rem;padding-top:.8164163rem}h3{font-size:1.6457143rem;margin-bottom:.07599rem;padding-top:.92401rem}h4{font-size:1.5625rem;margin-bottom:.546865rem;padding-top:.453135rem}h5{font-size:1.25rem;margin-bottom:-.56251rem;padding-top:.56251rem}h6{font-size:1rem;margin-bottom:-.65001rem;padding-top:.65001rem}.splashscreen-dillinger{width:800px}.splashscreen p{font-size:1.25rem;margin-bottom:1.43749rem;padding-top:.56251rem}.title{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.title-document{margin-bottom:.89999rem;padding-top:.10001rem}.title-document,.settings a{font-size:1.25rem}.words,.characters{font-size:.8rem;margin-bottom:.77999rem;padding-top:.22001rem}.modal--dillinger.about .modal-dialog,#zen{font-size:1.25rem}#editor{font-size:1rem}}@media (min-width:768px){.form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.form-inline .form-control{display:inline-block;width:auto;vertical-align:middle}.form-inline .input-group{display:inline-table;vertical-align:middle}.form-inline .input-group .input-group-addon,.form-inline .input-group .input-group-btn,.form-inline .input-group .form-control{width:auto}.form-inline .input-group>.form-control{width:100%}.form-inline .control-label{margin-bottom:0;vertical-align:middle}.form-inline .radio,.form-inline .checkbox{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}.form-inline .radio label,.form-inline .checkbox label{padding-left:0}.form-inline .radio input[type=\"radio\"],.form-inline .checkbox input[type=\"checkbox\"]{position:relative;margin-left:0}.form-inline .has-feedback .form-control-feedback{top:0}.form-horizontal .control-label{text-align:right;margin-bottom:0;padding-top:7px}.form-horizontal .form-group-lg .control-label{padding-top:14.3px}.form-horizontal .form-group-sm .control-label{padding-top:6px}.modal-dialog{width:600px;margin:30px auto}.modal-content{box-shadow:0 5px 15px rgba(0,0,0,.5)}.modal-sm{width:300px}}@media (min-width:992px){.modal-lg{width:900px}}@media screen and (max-width:1200px){#_default_{max-width:30%}#_default_ ._default_{font-size:.825rem;line-height:.875rem;padding:12px 12px 6px 24px;text-align:justify}}@media screen and (max-width:1100px){#_default_{max-width:27%}#_default_ ._default_{font-size:.8rem;line-height:.85rem;padding:12px 6px 6px 24px;text-align:justify}}@media screen and (max-width:1000px){#_default_{max-width:24%}#_default_ ._default_{font-size:.775rem;line-height:.8rem;padding:12px 6px 6px 24px;text-align:justify}}@media screen and (max-width:900px){#_default_{max-width:30%}}@media screen and (max-width:767px){.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;overflow-x:auto;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #ddd;-webkit-overflow-scrolling:touch}.table-responsive>.table{margin-bottom:0}.table-responsive>.table>thead>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>tfoot>tr>td{white-space:nowrap}.table-responsive>.table-bordered{border:0}.table-responsive>.table-bordered>thead>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child{border-left:0}.table-responsive>.table-bordered>thead>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child{border-right:0}.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td{border-bottom:0}}@media screen and (max-width:720px){#_default_{max-width:60%}#_default_ ._default_{font-size:.75rem;line-height:1rem;padding:12px 24px}}@media screen and (max-width:620px){#_default_{max-width:50%}#_default_ ._default_{font-size:.66rem;letter-spacing:1px;line-height:1rem;padding:10px 24px}}@media screen and (max-width:520px){#_default_ ._default_{font-size:.4rem;line-height:.875rem;padding:6px 12px 6px 24px;text-align:justify}}@media screen and (max-width:460px){#_default_{display:none}}@media screen and (max-width:46.1875em){.editor-header{display:none}.editor-header--first{display:block;width:100%}}</style></head><body id=\"preview\">\n<h2><a id=\"Module_Setting_0\"></a>Module Setting</h2>\n<p>Configuration is divided into 2 sections.</p>\n<ul>\n<li>App Setting</li>\n<li>Destination Settings</li>\n</ul>\n<blockquote>\n<p><strong>Note:</strong> <em><strong>Submit</strong></em> button is enabled, only when required fields are configured</p>\n</blockquote>\n<h3><a id=\"App_Setting_8\"></a>App Setting</h3>\n<p>Here you can configure local data directory, where <strong>VMS</strong> will be uploading files and application timing. These should be left as a default as it does provide optimal setting. If you are not sure, what to change, please do not change anything.</p>\n<ul>\n<li>Data Directory:\n<ul>\n<li>Directory on the unit (local unit/router), where files will be uploaded</li>\n<li>Directory needs to be configured as an absolute path and trailing <code>/</code> is required</li>\n<li>Default: <code>/mnt/sdcard/data/</code></li>\n</ul>\n</li>\n<li>File Retention:\n<ul>\n<li>Configure how many days unit should keep files before, they will be deleted. All files older than this setting will be deleted from the unit, irrespective, if they have been uploaded</li>\n<li>Default: 7 days</li>\n</ul>\n</li>\n<li>Check FTP Alive:\n<ul>\n<li>Time interval, between application check, what FTP servers, from configured are online (available for file upload). This interval is restarted after application upload/try to upload files to remote server.</li>\n<li><em>Example</em>: FTP - 1 upload takes 120 seconds and there are no additional FTP server configured. Application will start next FTP server check after 120seconds + configured delay(default: 60 seconds).</li>\n<li>Default: 60 seconds</li>\n</ul>\n</li>\n<li>Check Data Folder:\n<ul>\n<li>Interval in which application check upload folder (<em>Data Directory</em>) for new files and prepare them for configured FTP servers</li>\n<li>Default: 10 minutes</li>\n</ul>\n</li>\n<li>File Retention Handler\n<ul>\n<li>Interval in which application search files, which are older than <em>File Retention</em></li>\n</ul>\n</li>\n</ul>\n<h3><a id=\"Destination_Settings_27\"></a>Destination Settings</h3>\n<p>Here you can configure up to 10 FTP server destinations. Select FTP server from from drop down menu and current configuration will populate configuration fields. If FTP server has not been configured, no values will be shown.</p>\n<ul>\n<li>IP Address:\n<ul>\n<li>IP Address of the remote FTP server</li>\n</ul>\n</li>\n<li>Username:\n<ul>\n<li>Username, which will be used to authenticate with particular FTP server</li>\n</ul>\n</li>\n<li>Password:\n<ul>\n<li>Password, which will be used to authenticate with particular FTP server</li>\n</ul>\n</li>\n<li>Directory:\n<ul>\n<li>Remote directory on the FTP server, where account has write access permission</li>\n</ul>\n</li>\n<li>Compress:\n<ul>\n<li>If compression of files before transition is required. <em>tar/gzip</em> compression is used</li>\n</ul>\n</li>\n</ul>\n\n</body></html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":383,"y":746,"wires":[[]]},{"id":"684cd010.5a7a1","type":"comment","z":"76078824.cd3388","name":"Dispaly help text in separate tab ->","info":"","x":173,"y":746,"wires":[]},{"id":"abe5ac91.14dcf","type":"debug","z":"76078824.cd3388","name":"","active":true,"console":false,"complete":"true","x":770,"y":660,"wires":[]},{"id":"c03c7b19.a4a4d8","type":"function","z":"a978daee.27a308","name":"get configured FTP list and find old files","func":"var ftp_list = global.get('ftp');\nvar directory = global.get('directory');\nmsg.ftp_lits = ftp_list;\nvar retention = directory.Retention;\n\n// msg.ftp_number = Object.keys(ftp_list).length\n\n// clear flow variable before another run\nflow.set('files_array', [])\n\nvar re = / /gi;\n\nvar commands = [];\nvar ftp_dirs = [];\n\n// // add all directories per configured FTP\n// Object.keys(ftp_list).forEach(function (key) {\n//     // var fpt_name = key.replace(re, '_');\n//     var fpt_name = key;\n//     commands.push(\"find \" + directory.Data + fpt_name + \"/retention\" + \" -mmin +\" + retention + \" -type f -print\");\n//     commands.push(\"find \" + directory.Data + fpt_name + \"/to_upload\" + \" -mmin +\" + retention + \" -type f -print\");\n//     commands.push(\"find \" + directory.Data + fpt_name + \" -mmin +\" + retention + \" -type f -print\");\n//     ftp_dirs.push(directory.Data + fpt_name + \"/retention\")\n// })\n\ncommands.push(\"find \" + directory.Data + \" -mmin +\" + retention + \" -type f -print\")\n\nvar directory = global.get('directory')\nvar retention = directory.Retention;\nmsg.directory = directory\n\n// find /root/archive/ -mmin +60 -type f -print\nmsg.payload = \"find \" + directory.Data + \" -mmin +\" + retention + \" -type f -print\";\n\n\n\nmsg.commands = commands;\n// number to iterate over\n// msg.ftp_number = ftp_dirs.length;\n// using only one command to find all files in all subdirs\nmsg.ftp_number = commands.length;\nmsg.ftp_dirs = ftp_dirs;\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":143,"wires":[["b0e906.767ed6f8"]]},{"id":"f6d9c83f.091e48","type":"inject","z":"a978daee.27a308","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":560,"wires":[["bc1fdb0c.45ca88"]]},{"id":"790eeb82.53e7c4","type":"function","z":"a978daee.27a308","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.ftp_number-1])\nmsg.payload = msg.commands[msg.ftp_number-1]\n\nmsg.ftp_number--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":825,"y":203,"wires":[["361c9796.23cf08"]]},{"id":"b0e906.767ed6f8","type":"switch","z":"a978daee.27a308","name":"iterate >=1","property":"ftp_number","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":615,"y":203,"wires":[["790eeb82.53e7c4"],["6a1cbf99.53f17"]]},{"id":"1273fcf5.dbbeb3","type":"exec","z":"a978daee.27a308","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"run payload","x":715.5,"y":307,"wires":[["3c095f2b.52989"],[],[]]},{"id":"e33e6aa0.132448","type":"function","z":"a978daee.27a308","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.iterate-1])\nmsg.payload = msg.commands[msg.iterate-1]\n\nmsg.iterate--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":832.5,"y":459.5,"wires":[["1273fcf5.dbbeb3"]]},{"id":"3c095f2b.52989","type":"switch","z":"a978daee.27a308","name":"iterate >=1","property":"iterate","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":655,"y":483,"wires":[["e33e6aa0.132448"],["92ade9e1.fe8408"]]},{"id":"d6e1f92d.35b3d8","type":"debug","z":"a978daee.27a308","name":"DEUG","active":true,"console":"false","complete":"true","x":510,"y":40,"wires":[]},{"id":"77e70cb7.759194","type":"catch","z":"a978daee.27a308","name":"","scope":null,"x":991.5,"y":298,"wires":[[]]},{"id":"92ade9e1.fe8408","type":"function","z":"a978daee.27a308","name":"I am done","func":"msg.commands = []\nmsg.commands = flow.get('files_array');\nmsg.text = \"I am done\"\nreturn msg;","outputs":1,"noerr":0,"x":931.5,"y":518,"wires":[[]]},{"id":"6a1cbf99.53f17","type":"function","z":"a978daee.27a308","name":"make commands for rm","func":"msg.commands = []\nvar commands = []\n\n// echo dir1 dir2 dir3 | xargs -n 1 cp file1\n\n// make one string for all FTP directories\n// var all_ftp_dirs = \"\"\n// for( var i=0; i< msg.ftp_dirs.length; i++) {\n//     all_ftp_dirs += msg.ftp_dirs[i] + \" \"\n// }\n\n\n// add the string to command per file\n\nfor(var i=0; i < msg.files.length; i++) {\n    commands.push(\"rm \"+ msg.files[i])\n}\nmsg.payload = [];\n\nmsg.commands = [];\nmsg.commands = commands;\nmsg.iterate = commands.length;\nmsg.payload = commands;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":363,"wires":[["3c095f2b.52989"]]},{"id":"dbf1f012.673a5","type":"function","z":"a978daee.27a308","name":"parse output","func":"var files_array = msg.payload.split('\\n')\nfiles_array.pop();\n// console.log(\" ---- files_array --: \", files_array)\n\nif(!msg.files) {\n    msg.files = []\n}\nvar temp_msg_files = msg.files\n// console.log(\"temp_array: \", temp_msg_files)\nvar temp_array = temp_msg_files.concat(files_array)\n// console.log(temp_array.concat(files_array))\n// files_array.pop();\n// msg.files = {length: files_array.length, files: files_array}\n// console.log(files_array)\n// console.log(files_array.length)\n// console.log(temp_array)\nmsg.length = temp_array.length\nmsg.files = temp_array\nnode.send(msg)\n\n\n","outputs":1,"noerr":0,"x":875,"y":63,"wires":[["b0e906.767ed6f8"]]},{"id":"361c9796.23cf08","type":"exec","z":"a978daee.27a308","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"run payload","x":675,"y":83,"wires":[["dbf1f012.673a5"],[],[]]},{"id":"77b94c38.7cb1f4","type":"function","z":"a978daee.27a308","name":"get timing and set delay","func":"var msg1 = {}\nvar timing = global.get('timing')\nmsg1.delay = timing.RetentionHandler\nmsg1.payload= \"interval\"\nconsole.log(\"msg1: \", msg1)\nreturn msg1;","outputs":1,"noerr":0,"x":335,"y":643,"wires":[["f10fe660.1d29c8"]]},{"id":"f10fe660.1d29c8","type":"delay","z":"a978daee.27a308","name":"set delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":405,"y":563,"wires":[["ba0ed778.5637f8"]]},{"id":"ba0ed778.5637f8","type":"function","z":"a978daee.27a308","name":"make back loop","func":"// msg.reset = true\nmsg1 = {}\nmsg1.payload = \"run rest of the flow\"\nreturn [msg, msg1]","outputs":"2","noerr":0,"x":285,"y":483,"wires":[["77b94c38.7cb1f4"],["c03c7b19.a4a4d8"]]},{"id":"1fae8a4.02e6d76","type":"debug","z":"a978daee.27a308","name":"RETENTION","active":true,"console":"false","complete":"true","x":670,"y":660,"wires":[]},{"id":"bc1fdb0c.45ca88","type":"delay","z":"a978daee.27a308","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":660,"wires":[["77b94c38.7cb1f4"]]},{"id":"6c2d239e.4ec61c","type":"debug","z":"a978daee.27a308","name":"EXEC DEBUG","active":true,"console":"false","complete":"true","x":1013,"y":367,"wires":[]},{"id":"6a3c86cf.cae698","type":"inject","z":"a978daee.27a308","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":73,"wires":[["c03c7b19.a4a4d8"]]},{"id":"8b23eb63.0be158","type":"debug","z":"a978daee.27a308","name":"Delay-2","active":true,"console":"false","complete":"true","x":376,"y":254,"wires":[]},{"id":"307c5fda.b9482","type":"debug","z":"a978daee.27a308","name":"debug 1st iteration","active":true,"console":"false","complete":"true","x":944,"y":248,"wires":[]},{"id":"b8207403.c408c8","type":"switch","z":"e72eadd.3ec455","name":"iterate >=1","property":"iterate","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":381,"y":196,"wires":[["52a0a97d.3d6818"],["a1a84830.5ac7c8","cd0fb721.a2f618"]]},{"id":"6024d9a0.aec888","type":"function","z":"e72eadd.3ec455","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.iterate-1])\nmsg.payload = msg.commands[msg.iterate-1]\n\nmsg.iterate--;\nglobal.set(\"i\",msg.i--)\n\n\nreturn msg;","outputs":"1","noerr":0,"x":587,"y":200,"wires":[["48a6a225.dcb34c"]]},{"id":"9a64741e.a3b308","type":"debug","z":"e72eadd.3ec455","name":"End","active":false,"console":"false","complete":"payload","x":806,"y":344.00001525878906,"wires":[]},{"id":"f8b2db0.57d4928","type":"comment","z":"e72eadd.3ec455","name":" change value of interate each pass","info":"","x":836.5,"y":197.3333740234375,"wires":[]},{"id":"a1a84830.5ac7c8","type":"template","z":"e72eadd.3ec455","name":"Loop Finished","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Loop Finished","x":639.2380676269531,"y":344.8690185546875,"wires":[[]]},{"id":"52a0a97d.3d6818","type":"template","z":"e72eadd.3ec455","name":"Output current \"i\" value","field":"iterate","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{iterate}}","x":658,"y":278,"wires":[["6024d9a0.aec888"]]},{"id":"8051de1e.57dff","type":"debug","z":"e72eadd.3ec455","name":"debug of exec","active":false,"console":"false","complete":"true","x":677,"y":140.3333740234375,"wires":[]},{"id":"9dc32924.7380b8","type":"function","z":"e72eadd.3ec455","name":"give file list","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\nconsole.log(\"p: \", p);\n\n\n// var p = \"/root/ftp_root/\"\n// var msg = {};\ntry {\n    fs.readdir(p, function (err, files) {\n    if (err) {\n        console.log(\"ERR: \", err);\n        // throw err;\n    }\n    \n\n\nvar files_array = [];\n\nfiles.map(function (file) {\n    return path.join(p, file);\n}).filter(function (file) {\n    return fs.statSync(file).isFile();\n}).forEach(function (file) {\n    files_array.push(path.join(p, path.basename(file)));\n    // console.log(\"file with exact path: \", path.join(p, path.basename(file)))\n    // console.log(\"(%s)\", file, path.extname(file));\n});\n\nnode.send({payload:files_array});\n});\n}\ncatch (err) {\n    console.log(err)\n}\n\n// var files = [];\n// if(msg.status.text === \"\") {\n// fs.readdir(path, function(err, items) {\n//     console.log(items);\n \n//     // for (var i=0; i<items.length; i++) {\n//     //     console.log(items[i]);\n//     // }\n//     files = items;\n//     node.send({payload:items});\n\n// });\n\n\n    // msg.payload = \"neco neco\";\n    // msg.test = \"neco1\"\n    // msg.files = files;\n    // console.log()\n    // msg.files1 = status;\n// return msg;\nreturn;\n// }","outputs":1,"noerr":0,"x":143,"y":213.3333740234375,"wires":[["90e12ea5.3e1d1"]]},{"id":"90e12ea5.3e1d1","type":"function","z":"e72eadd.3ec455","name":"prepare commands","func":"\nvar smallArrays = [];\nvar commandArray = []\nvar partCommandArray = []\n\n\n// create command to remove original files after compression\nvar command = \"rm \"\nfor (var i=0; i<msg.payload.length; i++) {\n    command += msg.p + \"/\" + msg.payload[i]  + \" \"\n\n}\n// add the remove command as the first item in array\n// this will be executed as a last command\nif(command !== \"rm \") {\n    commandArray.push(command)\n}\n\nvar size = global.get('compression_number_of_files') || 2;\nfor (var i=0; i<msg.payload.length; i+=size) {\n    smallArrays.push(msg.payload.slice(i,i+size));\n    var chunk = msg.payload.slice(i,i+size)\n    var command = \"\"\n    for(var a=0; a<chunk.length; a++) {\n        command += chunk[a] + \" \"\n    }\n    partCommandArray.push(command)\n    \n    // do something with smallarray\n}\n\n// var tarArray = []\nvar timePrefix = new Date().toISOString().replace('T', '_').substr(0, 19)\ntimePrefix = timePrefix.replace(/:/g,'.')\nvar compressFileName = \"/\" + timePrefix\nfor(var a=0; a<partCommandArray.length; a++) {\n        \n    // var command = \"tar czf /data/data/upload.part\" + a + \" \" + partCommandArray[a]\n    var command = \"tar czf \" + msg.p + compressFileName + \"_\"+ a + \".tgz\" + \" -C \" + msg.p + \" \" + partCommandArray[a]\n    commandArray.push(command)\n    }\n    \n\n\nmsg.iterate = commandArray.length;\nmsg.chunks = smallArrays\nmsg.commands = commandArray\n// msg.tar = tarArray;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":137,"y":151.3333740234375,"wires":[["b8207403.c408c8"]]},{"id":"d4463c38.af2e1","type":"inject","z":"e72eadd.3ec455","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":163,"y":279.3333740234375,"wires":[["9dc32924.7380b8"]]},{"id":"48a6a225.dcb34c","type":"exec","z":"e72eadd.3ec455","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"run payload","x":526,"y":79.8333740234375,"wires":[["b8207403.c408c8"],[],[]]},{"id":"84930c17.fcaa7","type":"link in","z":"e72eadd.3ec455","name":"compress incoming files","links":["4fb3a63e.62bc78","670b2ec2.fc2d18","15ec31bb.c9bbde"],"x":163,"y":357.3333740234375,"wires":[["90e12ea5.3e1d1"]]},{"id":"cd0fb721.a2f618","type":"link out","z":"e72eadd.3ec455","name":"files compressed out","links":["bdb5d47a.e654f","376174c5.53535c","488891c9.7db61"],"x":585,"y":419.3333740234375,"wires":[]},{"id":"3870dd6a.b69692","type":"debug","z":"e72eadd.3ec455","name":"DEBUG of Compress","active":true,"console":"false","complete":"true","x":386,"y":430.3333740234375,"wires":[]},{"id":"6744081e.cbff18","type":"function","z":"5d50da1b.5256a4","name":"iterate","func":"  var currentMsg = null, outMessage = null;\n  var iState = msg.iState;\n  if (!iState || iState === {}) {\n     // we received an initial message\n     // if the message is not an array, make it one\n     if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n           msg.payload = [msg.payload];\n     }\n     iState = {};\n     iState.index = 0;\n     iState.inArray = msg.payload;\n     iState.outArray = [];\n     msg.iState = iState\n   } else {\n    // save results from the last iteration\n     iState.outArray.push(msg.payload)\n }\n  //If there are still objects left to iterate goto the next one in the original array\n  if (iState.index < iState.inArray.length) {\n    currentMsg = msg;\n    msg.payload = iState.inArray[iState.index];\n  } else {\n    currentMsg = null;\n    outMessage = msg;\n    msg.payload = iState.outArray;\n    delete msg.iState;\n}\niState.index ++;\nreturn [currentMsg, outMessage];","outputs":"2","noerr":0,"x":268.5,"y":116,"wires":[[],[]]},{"id":"ef8e8374.855cd","type":"debug","z":"2d98bf27.5ee17","name":"msg-3","active":true,"console":"false","complete":"true","x":974,"y":653,"wires":[]},{"id":"a9106fc8.b0c03","type":"exec","z":"2d98bf27.5ee17","command":"","addpay":true,"append":"","useSpawn":true,"timer":"","name":"upload file","x":435,"y":620.5,"wires":[["4ffa5e40.dd105"],[],["a0afc725.ae4c18"]]},{"id":"b846ac01.6b2f9","type":"function","z":"2d98bf27.5ee17","name":"give file list","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\n// console.log(\"p: \", p);\n\n\nvar re = / /gi;\n\nvar fpt_name = msg.online_ftp[msg.iterate_ftp][\"Id\"].replace(re, '_');\nvar compress = msg.online_ftp[msg.iterate_ftp][\"Compress\"]\nvar p = directory.Data + fpt_name + \"/to_upload\"\nmsg.p = p\n\n\n// var p = \"/data/ftp_root/\"\n// var msg = {};\ntry {\n    fs.readdir(p, function (err, files) {\n    if (err) {\n        console.log(\"ERR: \", err);\n        // throw err;\n    }\n    \n\n\nvar files_array = [];\nvar files_array_compress = [];\n\nfiles.map(function (file) {\n    return path.join(p, file);\n}).filter(function (file) {\n    return fs.statSync(file).isFile();\n}).forEach(function (file) {\n    files_array.push(p + \"/\" + path.basename(file));\n    files_array_compress.push(path.basename(file));\n    // console.log(\"(%s)\", file, path.extname(file));\n});\n// msg.payload = files_array;\nif(compress) {\n    msg.payload = files_array_compress;\n    node.send([null, msg]);\n}\nelse {\n    msg.payload = files_array;\n    node.send([msg, null]);\n}\n\n});\n}\ncatch (err) {\n    console.log(err)\n}\n\nreturn;","outputs":"2","noerr":0,"x":135,"y":559,"wires":[["497bc478.92710c"],["15ec31bb.c9bbde"]]},{"id":"497bc478.92710c","type":"subflow:5d50da1b.5256a4","z":"2d98bf27.5ee17","name":"","x":590,"y":900,"wires":[["b49c5b49.13bf08"],["6b3bf7d8.a681e8"]]},{"id":"9705aff8.074d9","type":"debug","z":"2d98bf27.5ee17","name":"DD-1","active":true,"console":"false","complete":"true","x":827,"y":1055,"wires":[]},{"id":"b49c5b49.13bf08","type":"function","z":"2d98bf27.5ee17","name":"create upload command","func":"var directory = global.get(\"directory\");\nvar path_local = directory.Data;\n\nvar ftp = global.get(\"ftp\")\n// var ftp1 = ftp[\"FTP 1\"]\nvar ftp1 = msg.online_ftp[msg.iterate_ftp];\n\nvar path_remote = msg.online_ftp[msg.iterate_ftp].Directory\nvar file_with_path = msg.payload\nconsole.log(msg.payload)\nconsole.log(msg.p)\n\n\nvar file = file_with_path.slice(msg.p.length+1, msg.payload.length)\n\nmsg.payload = path_remote + file + \" \" + msg.payload;\n\n// ftpput -u root -p tomas 192.168.10.122\nmsg.command = \"ftpput -u \" + ftp1.Username + \" -p \" + ftp1.Password + \" \" + ftp1.IP + \" \" + msg.payload\nmsg.payload = msg.command\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":840,"wires":[["a9106fc8.b0c03"]]},{"id":"12492dca.d1d492","type":"debug","z":"2d98bf27.5ee17","name":"from check upload","active":true,"console":"false","complete":"true","x":890,"y":906,"wires":[]},{"id":"a7760e1.ccc0bf","type":"function","z":"2d98bf27.5ee17","name":"check upload","func":"var stdout = context.get('stdout') || 0;\nvar stderr = context.get('stderr') || 0;\nvar iState = context.get('iState') || 0;\nvar retCode = context.get('retCode') || 99;\n// console.log(\"msg.topic: \", msg.topic);\n// console.log(\"msg.payload: \",  msg.payload);\n// console.log(\"context.get('stderr'): \", context.get('stderr'))\n// console.log(\"context.get('iState'): \", context.get('iState'))\n// console.log(\"msg.iState: \", msg.iState)\n// console.log(\"data1: %s data2: %s\", data1,data2);\n\n\nswitch(msg.topic) {\n    case \"stdout\":\n        console.log(\"case1\")\n        // console.log(msg.topic);\n        // console.log(msg.iState);\n        context.set('iState', msg.iState);\n        context.set('tempMsg', msg)\n        \n        // msg = null;\n        break;\n    case \"stderr\":\n        console.log(\"case2\")\n        // console.log(msg.topic);\n        // console.log(msg.payload);\n        context.set('stderr', msg.payload);\n        \n        // msg = null;\n        break;\n    case \"retCode\":\n        console.log(\"case3\")\n        // console.log(msg.topic);\n        // console.log(msg.payload);\n        // context.set('iState', msg.iState);\n        context.set('retCode', msg.payload.code);\n        \n        // msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\n\n// have good result - file uploaded\nif(context.get('retCode') === 0 && context.get('iState') !== undefined){\n// if(context.get('iState') !== undefined && (context.get('stderr') === \"\" || context.get('stderr') === undefined)) {\n    console.log(\"in if....\");\n    // console.log(\"data1: %s data2: %s\", context.get('iState'),context.get('stderr'));\n    // console.log(context.get('iState'))\n    var istate = context.get('iState');\n    msg = context.get('tempMsg');\n    \n    context.set('iState', undefined);\n    context.set('retCode', undefined);\n    \n    msg.payload = '';\n    msg.iState = istate;\n    \n    return [msg, null];\n    \n    // return {\n    //     payload: \"\",\n    //     iState: istate\n    // };\n    \n}\n// else if(context.get('stderr') !== \"\") {\n//     // failed upload need to do something \n    \n// }\n// have BAD result - something went wrong with upload\nelse {\n    // when there is failed upload assume, FTP went offline\n    // move to another FTP in a online FTP list\n    console.log(\"... ----- in else ----- ...\")\n    // console.log(context.get('retCode'))\n    if(context.get('retCode') !== 0 && context.get('retCode') !== undefined) {\n        // console.log(\"... ----- in else RETURN ----- ...\")\n        context.set('retCode', undefined);\n        context.set('iState', undefined);\n        msg = context.get('tempMsg');\n        // need to set iState to empty object for another iteration cycle\n        msg.iState = context.get('iState');\n        // msg.iState = {};\n        return [null,msg];\n        \n    }\n\n    \n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":"2","noerr":0,"x":720,"y":620,"wires":[["57c8ba7c.089734"],["6b3bf7d8.a681e8"]]},{"id":"57c8ba7c.089734","type":"function","z":"2d98bf27.5ee17","name":"move file","func":"// var path_root = \"/data/ftp_root/\";\n// var path_archive = \"/data/ftp_root/archive/\";\n\n// full local path including file name\nvar file_with_path = msg.iState.inArray[msg.iState.index - 1]\nvar file = msg.iState.inArray[msg.iState.index - 1];\nvar prefix = \"to_upload\"\n\nvar file_name = file_with_path.slice(msg.p + 1 , file)\nvar path_retention = msg.p.slice(0, msg.p.length - prefix.length)\npath_retention += \"retention/\"\n\n\nnewPayload = file + \" \" + path_retention + file_name\nmsg.payload = newPayload;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":900,"wires":[["26c0fc2f.3761a4"]]},{"id":"26c0fc2f.3761a4","type":"exec","z":"2d98bf27.5ee17","command":"mv","addpay":true,"append":"","useSpawn":false,"timer":"","name":"move_file_exec","x":360,"y":900,"wires":[["497bc478.92710c"],[],[]]},{"id":"cfacabf8.729038","type":"debug","z":"2d98bf27.5ee17","name":"msg-2","active":true,"console":"false","complete":"true","x":967,"y":601,"wires":[]},{"id":"bf3b2612.6539c8","type":"debug","z":"2d98bf27.5ee17","name":"msg-1","active":true,"console":"false","complete":"true","x":985,"y":506,"wires":[]},{"id":"4df04748.23fd58","type":"comment","z":"2d98bf27.5ee17","name":"Create upload command including path","info":"Create upload command including path, as this can be iterated","x":166,"y":803,"wires":[]},{"id":"f1c08344.5f2ae","type":"link in","z":"2d98bf27.5ee17","name":"FTP Servers online In","links":["ac7bdd92.abe15"],"x":139,"y":218,"wires":[["6b3bf7d8.a681e8","485fef2d.2c5be"]]},{"id":"485fef2d.2c5be","type":"debug","z":"2d98bf27.5ee17","name":"DEBUG","active":false,"console":"false","complete":"true","x":480,"y":140,"wires":[]},{"id":"a046ee45.51741","type":"function","z":"2d98bf27.5ee17","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.online_ftp[msg.iterate_ftp-1])\nmsg.payload = msg.online_ftp[msg.iterate_ftp-1]\n\nmsg.iterate_ftp--;\n// flow.set('iterate_ftp', msg.iterate_ftp);\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":640,"y":280,"wires":[["2c59a522.384f6a"]]},{"id":"6b3bf7d8.a681e8","type":"switch","z":"2d98bf27.5ee17","name":"Iterate >=1","property":"iterate_ftp","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":402,"y":273.5,"wires":[["a046ee45.51741"],["d7706226.d6c9"]]},{"id":"d7706226.d6c9","type":"function","z":"2d98bf27.5ee17","name":"loop end","func":"msg.loop_end = true\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":400,"wires":[["78852786.01a718"]]},{"id":"e0611cae.63861","type":"function","z":"2d98bf27.5ee17","name":"mv files to to_upload","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\n// console.log(\"p: \", p);\n\n\nvar re = / /gi;\n\nvar fpt_name = msg.online_ftp[msg.iterate_ftp][\"Id\"].replace(re, '_');\nvar p = directory.Data + fpt_name\nmsg.p = p\n\n// if no files pass on original msg\nif(msg.payload.length === 0) {\n    return msg\n}\nvar command = 'mv '\nfor( var i=0; i < msg.payload.length; i++) {\n    command += msg.payload[i] + \" \"\n}\n\ncommand += p + \"/to_upload/\"\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":173,"y":489,"wires":[["78e0fea0.05634"]]},{"id":"78e0fea0.05634","type":"exec","z":"2d98bf27.5ee17","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"mv files","x":376,"y":489.5,"wires":[["b846ac01.6b2f9"],[],[]]},{"id":"2c59a522.384f6a","type":"function","z":"2d98bf27.5ee17","name":"give file list","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\n// console.log(\"p: \", p);\n\n\nvar re = / /gi;\n\nvar fpt_name = msg.online_ftp[msg.iterate_ftp][\"Id\"].replace(re, '_');\nvar p = directory.Data + fpt_name\nmsg.p = p\n\n\n// var p = \"/data/ftp_root/\"\n// var msg = {};\ntry {\n    fs.readdir(p, function (err, files) {\n    if (err) {\n        console.log(\"ERR: \", err);\n        // throw err;\n    }\n    \n\n\nvar files_array = [];\n\nfiles.map(function (file) {\n    return path.join(p, file);\n}).filter(function (file) {\n    return fs.statSync(file).isFile();\n}).forEach(function (file) {\n    files_array.push(p + \"/\" + path.basename(file));\n    // console.log(\"(%s)\", file, path.extname(file));\n});\nmsg.payload = files_array;\nnode.send(msg);\n});\n}\ncatch (err) {\n    console.log(err)\n}\n\n\nreturn;\n// }","outputs":1,"noerr":0,"x":196,"y":423,"wires":[["e0611cae.63861"]]},{"id":"15ec31bb.c9bbde","type":"link out","z":"2d98bf27.5ee17","name":"file list for FTP folder","links":["84930c17.fcaa7"],"x":59,"y":616,"wires":[]},{"id":"488891c9.7db61","type":"link in","z":"2d98bf27.5ee17","name":"from compress files","links":["cd0fb721.a2f618"],"x":110,"y":647,"wires":[["ca13c93d.f3a398"]]},{"id":"ca13c93d.f3a398","type":"function","z":"2d98bf27.5ee17","name":"give file list","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\n// console.log(\"p: \", p);\n\n\nvar re = / /gi;\n\nvar fpt_name = msg.online_ftp[msg.iterate_ftp][\"Id\"].replace(re, '_');\nvar p = directory.Data + fpt_name + \"/to_upload\"\nmsg.p = p\n\n\n// var p = \"/data/ftp_root/\"\n// var msg = {};\ntry {\n    fs.readdir(p, function (err, files) {\n    if (err) {\n        console.log(\"ERR: \", err);\n        // throw err;\n    }\n    \n\n\nvar files_array = [];\n\nfiles.map(function (file) {\n    return path.join(p, file);\n}).filter(function (file) {\n    return fs.statSync(file).isFile();\n}).forEach(function (file) {\n    files_array.push(p + \"/\" + path.basename(file));\n    // console.log(\"(%s)\", file, path.extname(file));\n});\nmsg.payload = files_array;\nnode.send(msg);\n});\n}\ncatch (err) {\n    console.log(err)\n}\n\nreturn;\n// }","outputs":1,"noerr":0,"x":205,"y":687,"wires":[["497bc478.92710c"]]},{"id":"d7b353bb.83ce","type":"debug","z":"2d98bf27.5ee17","name":"debug in RETURN","active":true,"console":"false","complete":"true","x":970,"y":240,"wires":[]},{"id":"9e3d35f.73880c8","type":"link out","z":"2d98bf27.5ee17","name":"upload finished","links":["696931e0.46782"],"x":935,"y":380,"wires":[]},{"id":"78852786.01a718","type":"function","z":"2d98bf27.5ee17","name":"get timing and set delay","func":"var msg1 = {}\nvar timing = global.get('timing')\nmsg1.delay = timing.CheckFTP\nmsg1.payload= \"interval\"\nconsole.log(\"msg1: \", msg1)\nreturn msg1;","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["4f51243f.0de2dc"]]},{"id":"4f51243f.0de2dc","type":"delay","z":"2d98bf27.5ee17","name":"set delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":380,"wires":[["9e3d35f.73880c8"]]},{"id":"bc3742fa.05d53","type":"function","z":"7fe34bd5.083a04","name":"get list of FTP","func":"var ftp_list_count = context.get('ftp_list_count') || 0;\nvar ftp_servers = context.get(\"ftp_servers\") || 0;\n// console.log(\"##### in get list .... ----- #####\")\n\n// console.log(\"ftp_servers: \", ftp_servers)\n// node.on('close', function (done) { // <-- 'done' argument - you MUST call this when you're done.\n//         node.log('node .... Closed');\n//         context.set(\"ftp_servers\", [] );\n//         context.set(\"ftp_online\", [] );\n//         done();\n// });\n\n// if(ftp_list_count === 0) {\nif( Object.prototype.toString.call(ftp_servers ) === '[object Array]' )\n{\n    // console.log(\"ftp_servers is array\", ftp_servers.length)\n   \n    if(ftp_servers.length === 0) {\n        ftp_servers = 0\n    }\n}\n// if(ftp_servers === 0 || ftp_servers.length === 0) {\nif(ftp_servers === 0) {\n    \n    var ftp_list = global.get(\"ftp\")\n    // console.log(Object.keys(ftp_list).length)\n    // context.set('ftp_list_count', Object.keys(ftp_list).length);\n    var tempArry = [];\n    Object.keys(ftp_list).forEach(function (key) {\n    //   console.log(ftp_list[key]);\n       ftp_list[key][\"Id\"] = key;\n       tempArry.push(ftp_list[key])\n       \n    });\n    \n    context.set(\"ftp_servers\", tempArry);\n    // return msg\n    \n    msg.payload = tempArry[0].IP\n    // console.log(\"sending if 0: \", msg)\n    node.send(msg)\n\n}\nelse {\n    // console.log(\"------ ftp_servers: \", ftp_servers.length)\n    var result = context.get(\"ftp_online\") || [];\n    \n    if(msg.ftp_online === true) {\n        // console.log(\"adding server to online list\")\n        // console.log(\"FTP: \", ftp_servers[0]);\n        result.push(ftp_servers[0]);\n        context.set(\"ftp_online\", result )\n        // remove the used element\n        ftp_servers.shift();\n        msg.ftp_online = '';\n    }\n    if(msg.ftp_online === false) {\n        // result.push(ftp_servers[0]);\n        // context.set(\"ftp_online\", result )\n        // console.log(\"removing server from list\")\n        // console.log(\"FTP: \", ftp_servers[0]);\n        // remove the used element\n        ftp_servers.shift();\n        msg.ftp_online = '';\n    }\n    \n    if(!ftp_servers[0]) {\n        // processed all servers, return online list\n        // console.log(\"this is final ....\")\n        msg.online_ftp = context.get(\"ftp_online\" )\n        context.set(\"ftp_online\", [] )\n        node.log(\"have these FTP: \", msg.online_ftp)\n        if( Object.prototype.toString.call(msg.online_ftp ) !== '[object Array]' )\n        {\n            // console.log(\"msg.online_ftp not array, first run\", msg.online_ftp)\n           \n            msg.iterate_ftp = [];\n            return [null, msg]\n        }\n        msg.iterate_ftp = msg.online_ftp.length;\n        return [null, msg]\n        \n    }\n    msg.payload = ftp_servers[0].IP;\n    \n    // // remove the used element\n    // ftp_servers.shift();\n    context.set(\"ftp_servers\", ftp_servers);\n    // console.log(\"sending msg: \", msg)\n    // return msg;\n    node.send(msg)\n}\n// msg.payload = tempArry;\n// msg.host = tempArry[1].IP\n// msg.port = \"21\"\n// return msg;","outputs":"2","noerr":0,"x":408,"y":104,"wires":[["91b336b8.f5a758"],["ac7bdd92.abe15"]]},{"id":"cebf20e2.c21a","type":"inject","z":"7fe34bd5.083a04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":240,"wires":[["99a2bde7.0a732"]]},{"id":"55640c82.597214","type":"function","z":"7fe34bd5.083a04","name":"helper with status","func":"\nif(msg.payload.code === 0) {\n        // console.log(\"got connected status\")\n        msg.ftp_online = true;\n        return msg;\n        // console.log(\"FTP: \", ftp_servers[0]);\n        // result.push(ftp_servers[0]);\n        // context.set(\"ftp_online\", result )\n        // // remove the used element\n        // ftp_servers.shift();\n    }\nif(msg.payload.code === 1) {\n        // result.push(ftp_servers[0]);\n        // context.set(\"ftp_online\", result )\n        // console.log(\"removing server from list\")\n        // console.log(\"got NOT connected status\")\n        msg.ftp_online = false;\n        return msg;\n        // console.log(\"FTP: \", ftp_servers[0]);\n        // remove the used element\n        // ftp_servers.shift();\n    }","outputs":1,"noerr":0,"x":417,"y":308,"wires":[["bc3742fa.05d53"]]},{"id":"41cba787.f6db18","type":"debug","z":"7fe34bd5.083a04","name":"final result","active":true,"console":"false","complete":"true","x":766,"y":89,"wires":[]},{"id":"91b336b8.f5a758","type":"exec","z":"7fe34bd5.083a04","command":"ping -c 3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":533,"y":179.5,"wires":[[],["ee496c55.47068"],["55640c82.597214","9b3dd5b3.34f208"]]},{"id":"ac7bdd92.abe15","type":"link out","z":"7fe34bd5.083a04","name":"","links":["7f260d59.3a67cc","f1c08344.5f2ae"],"x":795,"y":40,"wires":[]},{"id":"696931e0.46782","type":"link in","z":"7fe34bd5.083a04","name":"start FTP check","links":["3aac2a07.d97096","9e3d35f.73880c8"],"x":154,"y":110,"wires":[["bc3742fa.05d53"]]},{"id":"99a2bde7.0a732","type":"delay","z":"7fe34bd5.083a04","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":200,"wires":[["bc3742fa.05d53"]]},{"id":"601d3eee.d3cef","type":"function","z":"c2092b01.eb6238","name":"get configured FTP list","func":"var ftp_list = global.get('ftp');\nvar directory = global.get('directory');\nmsg.ftp_list = ftp_list;\n\n// msg.ftp_number = Object.keys(ftp_list).length\n\nvar re = / /gi;\n\nvar commands = [];\nvar ftp_dirs = [];\n\nObject.keys(ftp_list).forEach(function (key) {\n    // var fpt_name = key.replace(re, '_');\n    var fpt_name = key;\n    commands.push(\"mkdir -p \"+ directory.Data + fpt_name + \"/to_upload \" + directory.Data + fpt_name + \"/retention\")\n    ftp_dirs.push(directory.Data + fpt_name)\n})\n\nmsg.commands = commands;\nmsg.ftp_number = commands.length;\nmsg.ftp_dirs = ftp_dirs;\nreturn msg;","outputs":1,"noerr":0,"x":284,"y":202,"wires":[["43e61586.86826c"]]},{"id":"d8693d8d.722ee","type":"inject","z":"c2092b01.eb6238","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":157,"y":40,"wires":[["7e37cacc.8a59b4"]]},{"id":"26133820.ef1938","type":"exec","z":"c2092b01.eb6238","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"run payload","x":622,"y":66.5,"wires":[["43e61586.86826c"],[],[]]},{"id":"a5d2e6b5.b0fda8","type":"function","z":"c2092b01.eb6238","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.ftp_number-1])\nmsg.payload = msg.commands[msg.ftp_number-1]\n\nmsg.ftp_number--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":731,"y":161,"wires":[["26133820.ef1938"]]},{"id":"43e61586.86826c","type":"switch","z":"c2092b01.eb6238","name":"iterate >=1","property":"ftp_number","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":530,"y":164,"wires":[["a5d2e6b5.b0fda8"],["d0bcf293.8d355"]]},{"id":"d0bcf293.8d355","type":"function","z":"c2092b01.eb6238","name":"give file list","func":"var fs = global.get(\"fs1\");\nvar path = global.get(\"path1\");\n\nvar directory = global.get(\"directory\");\nmsg.directory = global.get(\"directory\");\n\nvar p = directory.Data;\nconsole.log(\"p: \", p);\n\n\n// var p = \"/data/ftp_root/\"\n// var msg = {};\ntry {\n    fs.readdir(p, function (err, files) {\n    if (err) {\n        console.log(\"ERR: \", err);\n        // throw err;\n    }\n    \n\n\nvar files_array = [];\n\nfiles.map(function (file) {\n    return path.join(p, file);\n}).filter(function (file) {\n    return fs.statSync(file).isFile();\n}).forEach(function (file) {\n    files_array.push(path.basename(file));\n    // console.log(\"(%s)\", file, path.extname(file));\n});\n\nmsg.payload = files_array;\nmsg.file_list = files_array;\nnode.send(msg);\n});\n}\ncatch (err) {\n    console.log(err)\n}\n\n// var files = [];\n// if(msg.status.text === \"\") {\n// fs.readdir(path, function(err, items) {\n//     console.log(items);\n \n//     // for (var i=0; i<items.length; i++) {\n//     //     console.log(items[i]);\n//     // }\n//     files = items;\n//     node.send({payload:items});\n\n// });\n\n\n    // msg.payload = \"neco neco\";\n    // msg.test = \"neco1\"\n    // msg.files = files;\n    // console.log()\n    // msg.files1 = status;\n// return msg;\nreturn;\n// }","outputs":1,"noerr":0,"x":302,"y":313,"wires":[["7199231f.03cb9c"]]},{"id":"f1608cc4.e0ff7","type":"debug","z":"c2092b01.eb6238","name":"DEBUG","active":true,"console":"false","complete":"true","x":748,"y":738,"wires":[]},{"id":"7199231f.03cb9c","type":"function","z":"c2092b01.eb6238","name":"make commands for cp","func":"msg.commands = []\nvar commands = []\n\n// echo dir1 dir2 dir3 | xargs -n 1 cp file1\n\n// make one string for all FTP directories\nvar all_ftp_dirs = \"\"\nfor( var i=0; i< msg.ftp_dirs.length; i++) {\n    all_ftp_dirs += msg.ftp_dirs[i] + \" \"\n}\n\n\n// add the string to command per file\n\nfor(var i=0; i < msg.payload.length; i++) {\n    commands.push(\"echo \" + all_ftp_dirs + \"| xargs -n 1 cp \" + msg.directory.Data + msg.payload[i])\n}\n\nmsg.commands = commands\nmsg.iterate = commands.length\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":342,"y":381,"wires":[["6d8c1244.187c4c"]]},{"id":"c1d58f7a.0b8cc","type":"exec","z":"c2092b01.eb6238","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"run payload","x":675,"y":254,"wires":[["6d8c1244.187c4c"],[],[]]},{"id":"cfef26fd.09ff78","type":"function","z":"c2092b01.eb6238","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.iterate-1])\nmsg.payload = msg.commands[msg.iterate-1]\n\nmsg.iterate--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":792,"y":406.5,"wires":[["c1d58f7a.0b8cc"]]},{"id":"6d8c1244.187c4c","type":"switch","z":"c2092b01.eb6238","name":"iterate >=1","property":"iterate","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":587,"y":412.5,"wires":[["cfef26fd.09ff78"],["a5d487f7.97e5c8"]]},{"id":"a5d487f7.97e5c8","type":"function","z":"c2092b01.eb6238","name":"make commands for rm","func":"msg.commands = []\nvar commands = []\n\n// echo dir1 dir2 dir3 | xargs -n 1 cp file1\n\n// make one string for all FTP directories\nvar all_ftp_dirs = \"\"\nfor( var i=0; i< msg.ftp_dirs.length; i++) {\n    all_ftp_dirs += msg.ftp_dirs[i] + \" \"\n}\n\n\n// add the string to command per file\n\nfor(var i=0; i < msg.file_list.length; i++) {\n    commands.push(\"rm \"+ msg.directory.Data + msg.file_list[i])\n}\n\nmsg.commands = commands\nmsg.iterate = commands.length\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":657,"wires":[["57d38247.acac9c"]]},{"id":"dc000b16.97c4b8","type":"exec","z":"c2092b01.eb6238","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"run payload","x":678,"y":499,"wires":[["57d38247.acac9c"],[],[]]},{"id":"213795af.89d71a","type":"function","z":"c2092b01.eb6238","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.iterate-1])\nmsg.payload = msg.commands[msg.iterate-1]\n\nmsg.iterate--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":795,"y":651.5,"wires":[["dc000b16.97c4b8"]]},{"id":"57d38247.acac9c","type":"switch","z":"c2092b01.eb6238","name":"iterate >=1","property":"iterate","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":590,"y":657.5,"wires":[["213795af.89d71a"],[]]},{"id":"400e3a0d.1aa614","type":"comment","z":"c2092b01.eb6238","name":"removed files from Data folder ->","info":"","x":519,"y":728,"wires":[]},{"id":"7e37cacc.8a59b4","type":"delay","z":"c2092b01.eb6238","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":352,"y":32,"wires":[["15ee0249.04804e"]]},{"id":"15ee0249.04804e","type":"function","z":"c2092b01.eb6238","name":"get timing and set delay","func":"var msg1 = {}\nvar timing = global.get('timing')\n// msg1.timing = timing;\nmsg1.delay = timing.DataFileHandler\nmsg1.payload= \"interval\"\n\nreturn msg1;","outputs":1,"noerr":0,"x":322,"y":981,"wires":[["68e1cc97.a16b34"]]},{"id":"68e1cc97.a16b34","type":"delay","z":"c2092b01.eb6238","name":"set delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":392,"y":901,"wires":[["a79258eb.3acb88"]]},{"id":"a79258eb.3acb88","type":"function","z":"c2092b01.eb6238","name":"make back loop","func":"// msg.reset = true\nmsg1 = {}\nmsg1.payload = \"run rest of the flow\"\nreturn [msg, msg1]","outputs":"2","noerr":0,"x":272,"y":821,"wires":[["15ee0249.04804e"],["601d3eee.d3cef"]]},{"id":"67b4144b.128c3c","type":"debug","z":"c2092b01.eb6238","name":"DEBUG -TEST","active":true,"console":"false","complete":"true","x":941,"y":226,"wires":[]},{"id":"b5ba89f7.303c58","type":"function","z":"b7a94b6d.a18d18","name":"get configured FTP list and find old files","func":"var ftp_list = global.get('ftp');\nvar directory = global.get('directory');\nmsg.ftp_lits = ftp_list;\nvar retention = directory.Retention;\n\n// msg.ftp_number = Object.keys(ftp_list).length\n\n// clear flow variable before another run\nflow.set('files_array', [])\n\n// var re = / /gi;\n\nvar commands = [];\nvar ftp_dirs = [];\nvar file_list = []\n\nvar timePrefix = new Date().toISOString().replace('T', '_').substr(0, 19)\ntimePrefix = timePrefix.replace(/:/g,'.')\nfor(var i=0; i<10; i++){\n    // file_list =+ i + \"_\" + timePrefix + \"_file.txt \"\n    file_list.push( i + \"_\" + timePrefix + \"_file.txt\")\n}\n\n// create files in data directory\nfor (var i= 0; i<file_list.length; i++) {\n        \n    // commands.push(\"touch \" + directory.Data + file_list[i])\n    // create dummy file of 512KB\n    commands.push(\"head -c 500k /dev/urandom > \" + directory.Data + file_list[i])\n}\n\nObject.keys(ftp_list).forEach(function (key) {\n    // var fpt_name = key.replace(re, '_');\n    var fpt_name = key;\n    // commands.push(\"find \" + directory.Data + fpt_name + \"/retention\" + \" -mmin +\" + retention + \" -type f -print\");\n    // commands.push(\"touch \" + directory.Data + fpt_name + \"/retention\" + \" -mmin +\" + retention + \" -type f -print\");\n    // for (var i= 0; i<file_list.length; i++) {\n    //     create files in retention directories\n    //     // commands.push(\"touch \" + directory.Data + fpt_name + \"/retention/\" + file_list[i])\n    //     // create files in FTP  directory\n    //     commands.push(\"touch \" + directory.Data + fpt_name + \"/\" + file_list[i])\n    // }\n    ftp_dirs.push(directory.Data + fpt_name + \"/retention\")\n})\n\nvar directory = global.get('directory')\nvar retention = directory.Retention;\nmsg.directory = directory\n\n// find /root/archive/ -mmin +60 -type f -print\nmsg.payload = \"find \" + directory.Archive + \" -mmin +\" + retention + \" -type f -print\";\n\n\nmsg.iterate = commands.length;\nmsg.commands = commands;\nmsg.ftp_number = ftp_dirs.length;\nmsg.ftp_dirs = ftp_dirs;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["44eb9f59.b167e","239364fc.ae9ffc"]]},{"id":"a1273742.8113d8","type":"inject","z":"b7a94b6d.a18d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"","x":106,"y":225,"wires":[[]]},{"id":"44eb9f59.b167e","type":"debug","z":"b7a94b6d.a18d18","name":"CREATE Dummy DEBUG","active":true,"console":"false","complete":"true","x":918,"y":227,"wires":[]},{"id":"239364fc.ae9ffc","type":"exec","z":"b7a94b6d.a18d18","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"run payload","x":790,"y":360,"wires":[["412db5e3.f1a22c"],[],[]]},{"id":"b28badd6.1c5e8","type":"function","z":"b7a94b6d.a18d18","name":"iterate--","func":"// console.log(\"will do in exec node: \", msg.commands[msg.iterate-1])\nmsg.payload = msg.commands[msg.iterate-1]\n\nmsg.iterate--;\n\n\n\nreturn msg;","outputs":"1","noerr":0,"x":939,"y":525.5,"wires":[["239364fc.ae9ffc"]]},{"id":"412db5e3.f1a22c","type":"switch","z":"b7a94b6d.a18d18","name":"iterate >=1","property":"iterate","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":729.5,"y":536,"wires":[["b28badd6.1c5e8"],["44eb9f59.b167e"]]},{"id":"43fa2a9.3e4acd4","type":"function","z":"c2092b01.eb6238","name":"Set Delay replacement","func":"var value = msg.delay\n\nvar timer = setTimeout(function(){\n    // can modify a msg object\n    // msg.payload = \"off\";\n    node.send([msg,{ payload: \"End\" }]);\n    var countdownstop  = context.get('countdown');\n    clearInterval(countdownstop)},value);\ncontext.set('timer',timer); ","outputs":"2","noerr":0,"x":597,"y":899,"wires":[[],[]]},{"id":"b7156990.08f058","type":"function","z":"a978daee.27a308","name":"Set Delay replacement","func":"var value = msg.delay\n\nvar timer = setTimeout(function(){\n    // can modify a msg object\n    // msg.payload = \"off\";\n    node.send([msg,{ payload: \"End\" }]);\n    var countdownstop  = context.get('countdown');\n    clearInterval(countdownstop)},value);\ncontext.set('timer',timer); ","outputs":"2","noerr":0,"x":589,"y":564,"wires":[[],[]]},{"id":"d7534bf3.656808","type":"function","z":"2d98bf27.5ee17","name":"Set Delay replacement","func":"var value = msg.delay\n\nvar timer = setTimeout(function(){\n    // can modify a msg object\n    // msg.payload = \"off\";\n    node.send([msg,{ payload: \"End\" }]);\n    var countdownstop  = context.get('countdown');\n    clearInterval(countdownstop)},value);\ncontext.set('timer',timer); ","outputs":"2","noerr":0,"x":776,"y":344,"wires":[[],[]]},{"id":"3a3632f8.43ccae","type":"debug","z":"7fe34bd5.083a04","name":"TO FTP UPLOAD","active":false,"console":"false","complete":"true","x":771,"y":154,"wires":[]},{"id":"5d5e8a19.1ef3d4","type":"debug","z":"7fe34bd5.083a04","name":"1","active":false,"console":"false","complete":"true","x":751,"y":239,"wires":[]},{"id":"ee496c55.47068","type":"debug","z":"7fe34bd5.083a04","name":"2","active":false,"console":"false","complete":"true","x":751,"y":292,"wires":[]},{"id":"9b3dd5b3.34f208","type":"debug","z":"7fe34bd5.083a04","name":"3","active":false,"console":"false","complete":"true","x":750,"y":338,"wires":[]},{"id":"4ffa5e40.dd105","type":"template","z":"2d98bf27.5ee17","name":"add topic - stdout","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"stdout","output":"str","x":650,"y":560,"wires":[["a7760e1.ccc0bf"]]},{"id":"a0afc725.ae4c18","type":"template","z":"2d98bf27.5ee17","name":"add topic - retCode","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"retCode","output":"str","x":650,"y":680,"wires":[["a7760e1.ccc0bf"]]},{"id":"353cff29.043fc8","type":"catch","z":"7fe34bd5.083a04","name":"","scope":null,"x":700,"y":480,"wires":[["41cba787.f6db18"]]},{"id":"fcf93477.09297","type":"catch","z":"e72eadd.3ec455","name":"","scope":null,"x":300,"y":480,"wires":[["3870dd6a.b69692"]]},{"id":"e0735fa8.7f9cf","type":"catch","z":"c2092b01.eb6238","name":"","scope":null,"x":1060,"y":480,"wires":[["67b4144b.128c3c"]]},{"id":"aba5d992.65868","type":"catch","z":"2d98bf27.5ee17","name":"","scope":null,"x":800,"y":200,"wires":[["d7b353bb.83ce"]]},{"id":"faab9dbd.bb182","type":"catch","z":"b7a94b6d.a18d18","name":"","scope":null,"x":1100,"y":340,"wires":[[]]},{"id":"17290b36.2238f5","type":"ui_toast","z":"3f51f215.8371de","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":910,"y":720,"wires":[[]]},{"id":"496f78d1.7211e8","type":"ui_toast","z":"3f51f215.8371de","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Changing WiFi","name":"","x":890,"y":820,"wires":[]},{"id":"984f3742.c5d1c8","type":"template","z":"3f51f215.8371de","name":"wifi notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You are changing WiFi setting\n<ul>\n    <li>SSID: <strong>{{payload.wifi.ssid}}</strong></li>\n    <li>Password: <strong>{{payload.wifi.key}}</strong></li>\n</ul>","output":"str","x":660,"y":820,"wires":[["17290b36.2238f5"]]},{"id":"603e1e79.d2c2","type":"ui_toast","z":"3f51f215.8371de","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Changing Cell","name":"","x":890,"y":880,"wires":[]},{"id":"92c61898.693208","type":"template","z":"3f51f215.8371de","name":"cell notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You are changing Cell setting\n<ul>\n    <li>APN: <strong>{{payload.cell.apn}}</strong></li>\n    <li>Username: <strong>{{payload.cell.username}}</strong></li>\n    <li>Password: <strong>{{payload.cell.password}}</strong></li>\n</ul>","output":"str","x":660,"y":880,"wires":[["17290b36.2238f5"]]},{"id":"c3baaccc.a76ae","type":"template","z":"3f51f215.8371de","name":"ethernet notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You are changing Ethernet setting\n<ul>\n    <li>IP: <strong>{{payload.eth.ipaddr}}</strong></li>\n    <li>Gateway: <strong>{{payload.eth.gateway}}</strong></li>\n</ul>\n","output":"str","x":800,"y":60,"wires":[["ec45a257.92f398"]]},{"id":"ec45a257.92f398","type":"ui_toast","z":"3f51f215.8371de","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":930,"y":20,"wires":[[]]}]